@import "../variables";

$u-action-margin: 8px !default;

@mixin u-action-set {
  %u-action-set {
    display: flex;
    align-items: center;
  }
}

@mixin u-extend-action-set($name) {
  .#{$name}-actions {
    @extend %u-action-set;
  }

  .#{$name}-action + .#{$name}-action{
    margin-left: $u-action-margin;
  }

  .rtl,
  [dir="rtl"] {
    .#{$name}-action {
      margin-left: 0;
      &:not(:last-child) {
        margin-right: $u-action-margin;
      }
    }
  }
}
