@import "../colors";
@import "../mixins";

@mixin u-bg-light {
  %u-bg-light,
  %u-bg-light-important {
    color: $u-body-color-light-theme;
  }
}

@mixin u-bg-dark {
  %u-bg-dark,
  %u-bg-dark-important {
    color: $u-body-color-dark-theme;
  }
}

@each $color-name, $color-value in $u-theme-colors {
  %u-bg-#{$color-name}-important {
    color: var(--u-on-#{$color-name}-color) !important;
    background-color: var(--u-#{$color-name}-color) !important;
    --u-current-bg-color: var(--u-#{$color-name}-color) !important;
    --u-high-contrast-color: var(--u-on-#{$color-name}-color) !important;
    --u-low-contrast-color: var(--u-on-#{$color-name}-low-contrast-color) !important;
  }

  %u-bg-#{$color-name}-container-important {
    color: var(--u-on-#{$color-name}-container-color) !important;
    background-color: var(--u-#{$color-name}-container-color) !important;
    --u-current-bg-color: var(--u-#{$color-name}-container-color) !important;
    --u-high-contrast-color: var(--u-on-#{$color-name}-container-color) !important;
    --u-low-contrast-color: var(--u-on-#{$color-name}-container-low-contrast-color) !important;
  }
}
