@import "../font";
@import "../mixins";

@mixin u-button-base {
  %u-button-base {
    @include umd-typography(button);
    position: relative; //Universal Material custom code
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: $u-font-family-base;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none; //Universal Material custom code

    @extend %u-selectable-background-before;

    // Share hover and focus styles
    @include hover-focus {
      text-decoration: none;
    }


    &:focus,
    &.focus {
      outline: 0;
    }

    &:active,
    &.active {
      background-image: none;
    }

    &.disabled,
    &:disabled {
      cursor: default;
    }

    &,
    & * {
      box-sizing: border-box;
    }
  }
}
