@mixin u-elevation-tint-placeholders {
  @property --u-current-elevation-tint-color {
    syntax: "<color>";
    initial-value: transparent;
    inherits: false;
  }

  @each $elevation, $opacity in $u-surface-tint-opacity {
    @property --u-elevation-tint#{$elevation}-color {
      syntax: "<color>";
      initial-value: rgba(var(--u-primary-color-rgb), var(--u-elevation-tint#{$elevation}-opacity));
      inherits: false;
    }

    %u-elevation-surface-tint-#{$elevation} {
      @extend %u-elevation-tint;
      --u-current-elevation-tint-color: var(--u-elevation-tint#{$elevation}-color);
    }
  }

  %u-elevation-tint {
    background-image: linear-gradient(var(--u-current-elevation-tint-color), var(--u-current-elevation-tint-color));
  }
}
