extends ../layout

block content
  .container
    h4.headline4.chapter-title Buttons

    h5.headline5.article-title Solid buttons

    .example-box
      .example-box-header
        button.btn-solid.btn-default Default
        button.btn-solid.btn-primary Primary
        button.btn-solid.btn-accent Accent
        button.btn-solid.btn-danger Danger
        button.btn-solid.btn-primary(disabled) Disabled

      pre
        code.html
          | &lt;button class=&quot;btn-solid btn-default&quot;&gt;Default&lt;/button&gt;
          | &lt;button class=&quot;btn-solid btn-primary&quot;&gt;Primary&lt;/button&gt;
          | &lt;button class=&quot;btn-solid btn-accent&quot;&gt;Accent&lt;/button&gt;
          | &lt;button class=&quot;btn-solid btn-danger&quot;&gt;Danger&lt;/button&gt;
          | &lt;button class=&quot;btn-solid btn-primary&quot; disabled=&quot;disabled&quot;&gt;Disabled&lt;/button&gt;

    h5.headline5.article-title Raised buttons
    .example-box
      .example-box-header
        button.btn-raised.btn-default Default
        button.btn-raised.btn-primary Primary
        button.btn-raised.btn-accent Accent
        button.btn-raised.btn-danger Danger
        button.btn-raised.btn-primary(disabled) Disabled

      pre
        code.html
          | &lt;button class=&quot;btn-raised btn-default&quot;&gt;Default&lt;/button&gt;
          | &lt;button class=&quot;btn-raised btn-primary&quot;&gt;Primary&lt;/button&gt;
          | &lt;button class=&quot;btn-raised btn-accent&quot;&gt;Accent&lt;/button&gt;
          | &lt;button class=&quot;btn-raised btn-danger&quot;&gt;Danger&lt;/button&gt;
          | &lt;button class=&quot;btn-raised btn-primary&quot; disabled=&quot;disabled&quot;&gt;Disabled&lt;/button&gt;

    h5.headline5.article-title Flat buttons
    .example-box
      .example-box-header
        button.btn-flat.btn-default Default
        button.btn-flat.btn-primary Primary
        button.btn-flat.btn-accent Accent
        button.btn-flat.btn-danger Danger
        button.btn-flat.btn-primary(disabled) Disabled

      pre
        code.html
          | &lt;button class=&quot;btn-flat btn-default&quot;&gt;Default&lt;/button&gt;
          | &lt;button class=&quot;btn-flat btn-primary&quot;&gt;Primary&lt;/button&gt;
          | &lt;button class=&quot;btn-flat btn-accent&quot;&gt;Accent&lt;/button&gt;
          | &lt;button class=&quot;btn-flat btn-danger&quot;&gt;Danger&lt;/button&gt;
          | &lt;button class=&quot;btn-flat btn-primary&quot; disabled=&quot;disabled&quot;&gt;Disabled&lt;/button&gt;

    h5.headline5.article-title Outline buttons
    .example-box
      .example-box-header
        button.btn-outline.btn-default Default
        button.btn-outline.btn-primary Primary
        button.btn-outline.btn-accent Accent
        button.btn-outline.btn-danger Danger
        button.btn-outline.btn-primary(disabled) Disabled

      pre
        code.html
          | &lt;button class=&quot;btn-outline btn-default&quot;&gt;Default&lt;/button&gt;
          | &lt;button class=&quot;btn-outline btn-primary&quot;&gt;Primary&lt;/button&gt;
          | &lt;button class=&quot;btn-outline btn-accent&quot;&gt;Accent&lt;/button&gt;
          | &lt;button class=&quot;btn-outline btn-danger&quot;&gt;Danger&lt;/button&gt;
          | &lt;button class=&quot;btn-outline btn-primary&quot; disabled=&quot;disabled&quot;&gt;Disabled&lt;/button&gt;

    h5.headline5.article-title Outline buttons (gray border)
    .example-box
      .example-box-header
        button.btn-outline.btn-outline-gray-border.btn-default Default
        button.btn-outline.btn-outline-gray-border.btn-primary
         .btn-icon
           i.mdi.mdi-heart
         | Primary
        button.btn-outline.btn-outline-gray-border.btn-accent Accent
        button.btn-outline.btn-outline-gray-border.btn-danger Danger
        button.btn-outline.btn-outline-gray-border.btn-primary(disabled) Disabled

      pre
        code.html
          | &lt;button class=&quot;btn-outline btn-outline-gray-border btn-default&quot;&gt;Default&lt;/button&gt;
          | &lt;button class=&quot;btn-outline btn-outline-gray-border btn-primary&quot;&gt;Primary&lt;/button&gt;
          | &lt;button class=&quot;btn-outline btn-outline-gray-border btn-accent&quot;&gt;Accent&lt;/button&gt;
          | &lt;button class=&quot;btn-outline btn-outline-gray-border btn-danger&quot;&gt;Danger&lt;/button&gt;
          | &lt;button class=&quot;btn-outline btn-outline-gray-border btn-primary&quot; disabled=&quot;disabled&quot; &gt;Disabled&lt;/button&gt;

    h5.headline5.article-title Borderless buttons
    .example-box
      .example-box-header
        button.btn-borderless.btn-default
          i.mdi.mdi-heart
        button.btn-borderless.btn-primary
          i.mdi.mdi-heart
        button.btn-borderless.btn-accent
          i.mdi.mdi-heart
        button.btn-borderless.btn-danger
          i.mdi.mdi-heart
        button.btn-borderless.btn-primary(disabled)
          i.mdi.mdi-heart

      pre
        code.html
          | &lt;button class=&quot;btn-borderless btn-default&quot;&gt;Default&lt;/button&gt;
          | &lt;button class=&quot;btn-borderless btn-primary&quot;&gt;Primary&lt;/button&gt;
          | &lt;button class=&quot;btn-borderless btn-accent&quot;&gt;Accent&lt;/button&gt;
          | &lt;button class=&quot;btn-borderless btn-danger&quot;&gt;Danger&lt;/button&gt;
          | &lt;button class=&quot;btn-borderless btn-primary&quot; disabled=&quot;disabled&quot;&gt;Disabled&lt;/button&gt;
