extends ../layout

block content
  .container
    h4.headline4.chapter-title Buttons

    h5.headline5.article-title Button colors
    .example-box
      .example-box-header
        button.btn-solid.btn-default Default
        button.btn-solid.btn-primary Primary
        button.btn-solid.btn-primary-variant Primary
        button.btn-solid.btn-secondary Secondary
        button.btn-solid.btn-secondary-variant Secondary
        button.btn-solid.btn-danger Danger
        button.btn-solid.btn-primary(disabled) Disabled

      pre
        code.html
         = '<button class="btn-solid btn-default">Default</button>\n'
         = '<button class="btn-solid btn-primary">Primary</button>\n'
         = '<button class="btn-solid btn-secondary">Secondary</button>\n'
         = '<button class="btn-solid btn-danger">Danger</button>\n'
         = '<button class="btn-solid btn-primary" disabled>Disabled</button>'

    h5.headline5.article-title Solid buttons
    .example-box
      .example-box-header
        button.btn-solid.btn-default Solid button
        button.btn-solid.btn-default
          i.btn-icon.mdi.mdi-heart
          | Solid button
        button.btn-solid.btn-default(disabled) Solid button

      pre
        code.html
          = '<button class="btn-solid btn-default">Solid button</button>\n'
          = '<button class="btn-solid btn-default">\n'
          = '  <i class="btn-icon mdi mdi-heart"></i>Solid button\n'
          = '</button>\n'
          = '<button class="btn-solid btn-default" disabled>Solid button</button>'

    h5.headline5.article-title Raised buttons
    .example-box
      .example-box-header
        button.btn-raised.btn-default Raised button
        button.btn-raised.btn-default
          i.btn-icon.mdi.mdi-heart
          | Raised button
        button.btn-raised.btn-default(disabled) Raised button

      pre
        code.html
          = '<button class="btn-raised btn-default">Raised button</button>\n'
          = '<button class="btn-raised btn-default">\n'
          = '  <i class="btn-icon mdi mdi-heart"></i>Raised button\n'
          = '</button>\n'
          = '<button class="btn-raised btn-default" disabled>Raised button</button>'

    h5.headline5.article-title Flat buttons
    .example-box
      .example-box-header
        button.btn-flat.btn-default Flat button
        button.btn-flat.btn-default
          i.btn-icon.mdi.mdi-heart
          | Flat button
        button.btn-flat.btn-default(disabled) Flat button

      pre
        code.html
          = '<button class="btn-flat btn-default">Flat button</button>\n'
          = '<button class="btn-flat btn-default">\n'
          = '  <i class="btn-icon mdi mdi-heart"></i>Flat button\n'
          = '</button>\n'
          = '<button class="btn-flat btn-default" disabled>Flat button</button>'

    h5.headline5.article-title Outline buttons
    .example-box
      .example-box-header
        button.btn-outline.btn-default Outline button
        button.btn-outline.btn-default
          i.btn-icon.mdi.mdi-heart
          | Outline button
        button.btn-outline.btn-default(disabled) Outline button

      pre
        code.html
          = '<button class="btn-outline btn-default">Outline button</button>\n'
          = '<button class="btn-outline btn-default">\n'
          = '  <i class="btn-icon mdi mdi-heart"></i>Outline button\n'
          = '</button>\n'
          = '<button class="btn-outline btn-default" disabled>Outline button</button>'

    h5.headline5.article-title Outline buttons (gray border)
    .example-box
      .example-box-header
        button.btn-outline.btn-outline-gray-border.btn-default Outline button
        button.btn-outline.btn-outline-gray-border.btn-default
          i.btn-icon.mdi.mdi-heart
          | Outline button
        button.btn-outline.btn-outline-gray-border.btn-default(disabled) Outline button

      pre
        code.html
          = '<button class="btn-outline btn-outline-gray-border btn-default">Outline button</button>\n'
          = '<button class="btn-outline btn-outline-gray-border btn-default">\n'
          = '  <i class="btn-icon mdi mdi-heart"></i>Outline button\n'
          = '</button>\n'
          = '<button class="btn-outline btn-outline-gray-border btn-default" disabled>Outline button</button>'

    h5.headline5.article-title Borderless buttons
    .example-box
      .example-box-header
        button.btn-borderless.btn-default
          i.btn-icon.mdi.mdi-heart
        button.btn-borderless.btn-primary
          i.btn-icon.mdi.mdi-heart
        button.btn-borderless.btn-secondary
          i.btn-icon.mdi.mdi-heart
        button.btn-borderless.btn-danger
          i.btn-icon.mdi.mdi-heart
        button.btn-borderless.btn-primary(disabled)
          i.btn-icon.mdi.mdi-heart

      pre
        code.html
          = '<button class="btn-borderless btn-default">\n'
          = '  <i class="btn-icon mdi mdi-heart"></i>\n'
          = '</button>\n'
          = '<button class="btn-borderless btn-primary">\n'
          = '  <i class="btn-icon mdi mdi-heart"></i>\n'
          = '</button>\n'
          = '<button class="btn-borderless btn-secondary">\n'
          = '  <i class="btn-icon mdi mdi-heart"></i>\n'
          = '</button>\n'
          = '<button class="btn-borderless btn-danger">\n'
          = '  <i class="btn-icon mdi mdi-heart"></i>\n'
          = '</button>\n'
          = '<button class="btn-borderless btn-primary" disabled>\n'
          = '  <i class="btn-icon mdi mdi-heart"></i>\n'
          = '</button>'
