extends ../layout

block content
  .container
    .display-2 Buttons

    .display-1 Solid buttons
    button.btn-solid.btn-default Default
    button.btn-solid.btn-primary Primary
    button.btn-solid.btn-accent Accent
    button.btn-solid.btn-primary(disabled) Disabled

    .display-1 Raised buttons
    button.btn-raised.btn-default Default
    button.btn-raised.btn-primary Primary
    button.btn-raised.btn-accent Accent
    button.btn-raised.btn-primary(disabled) Disabled

    .display-1 Flat buttons
    button.btn-flat.btn-default Default
    button.btn-flat.btn-primary Primary
    button.btn-flat.btn-accent Accent
    button.btn-flat.btn-primary(disabled) Disabled


