extends ../layout

block content
  h4.headline4.chapter-title Cards
  .row
    .col-12.col-lg
      .u-card
        .u-card-media.u-card-media-wide
        .u-card-content
          .headline6 Headline 6
          .subtitle1.text-low-contrast Subtitle 1
          .mt-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum tristique risus vitae eleifend. Vivamus augue nulla, malesuada vel efficitur eu, ornare et ex. Duis vel lobortis est. Ut quis imperdiet tellus, in vestibulum justo. Aenean placerat ex at ex ultrices feugiat. Donec hendrerit dui eget sem rhoncus, quis laoreet enim pellentesque. Mauris ac eros eu tellus pulvinar sodales eu non velit. Duis arcu orci, tempor quis urna quis, vehicula ornare purus. Praesent fringilla pharetra turpis sit amet varius. Cras nec ornare odio. Nullam ullamcorper mauris vitae ipsum fringilla molestie. Nullam consectetur a lorem ac sagittis.

    .col-12.col-lg
      .u-card
        .u-card-content
          .headline6 Headline 6
          .subtitle1.text-low-contrast Subtitle 1
        .u-card-media.u-card-media-wide
        .u-card-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum tristique risus vitae eleifend. Vivamus augue nulla, malesuada vel efficitur eu, ornare et ex. Duis vel lobortis est. Ut quis imperdiet tellus, in vestibulum justo. Aenean placerat ex at ex ultrices feugiat. Donec hendrerit dui eget sem rhoncus, quis laoreet enim pellentesque. Mauris ac eros eu tellus pulvinar sodales eu non velit. Duis arcu orci, tempor quis urna quis, vehicula ornare purus. Praesent fringilla pharetra turpis sit amet varius. Cras nec ornare odio. Nullam ullamcorper mauris vitae ipsum fringilla molestie. Nullam consectetur a lorem ac sagittis.
    .w-100

    .col-12.col-lg
      .u-card
        .u-card-media.u-card-media-square
          .u-card-media-content
            .u-card-content
              .headline6 Headline 6
              .subtitle1.text-low-contrast Subtitle 1
            .u-card-actions
              button.u-btn-flat.u-btn-default Action 1
              button.u-btn-flat.u-btn-default Action 2

    .col-12.col-lg
      .u-card
        .u-card-media.u-card-media-square
          .u-card-media-content
            .u-card-content
              .headline6 Headline 6
              .subtitle1.text-low-contrast Subtitle 1
        .u-card-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum tristique risus vitae eleifend. Vivamus augue nulla, malesuada vel efficitur eu, ornare et ex. Duis vel lobortis est. Ut quis imperdiet tellus, in vestibulum justo. Aenean placerat ex at ex ultrices feugiat. Donec hendrerit dui eget sem rhoncus, quis laoreet enim pellentesque. Mauris ac eros eu tellus pulvinar sodales eu non velit. Duis arcu orci, tempor quis urna quis, vehicula ornare purus. Praesent fringilla pharetra turpis sit amet varius. Cras nec ornare odio. Nullam ullamcorper mauris vitae ipsum fringilla molestie. Nullam consectetur a lorem ac sagittis.


