extends ../layout

block content
  h4.chapter-title Chips

  .example-box
    .chip
      .chip-label Xpto

  .example-box
    .container
      .chip
        .chip-avatar
        .chip-label Xpto
        .chip-remove
          i.mdi.mdi-close-circle
      .text-field
        .text-input.chip-input
          .chip
            .chip-avatar
            .chip-label Juan
            .chip-remove
              i.mdi.mdi-close-circle
          .chip
            .chip-avatar
            .chip-label John Doe
            .chip-remove
              i.mdi.mdi-close-circle
          input
        label To: