extends ../layout

block content
  h4.u-headline4.chapter-title Chips

  h5.u-headline5.article-title Simple chip
  .example-box
    .example-box-header
      .u-chip
        .u-chip-label John Doe
      .u-chip.u-chip-primary
        .u-chip-label John Doe
      .u-chip.u-chip-secondary
        .u-chip-label John Doe
      .u-chip.u-chip-danger
        .u-chip-label John Doe

    pre
      code.html
        = '<div class="u-chip">\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '</div>\n'
        = '<div class="u-chip u-chip-primary">\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '</div>\n'
        = '<div class="u-chip u-chip-secondary">\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '</div>\n'
        = '<div class="u-chip u-chip-danger">\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '</div>'

  h5.u-headline5.article-title Chip with text and icon
  .example-box
    .example-box-header
      .u-chip
        .u-chip-avatar
        .u-chip-label John Doe
        .u-chip-remove
          i.mdi.mdi-close-circle
      .u-chip.u-chip-primary
        .u-chip-avatar
        .u-chip-label John Doe
        .u-chip-remove
          i.mdi.mdi-close-circle
      .u-chip.u-chip-secondary
        .u-chip-avatar
        .u-chip-label John Doe
        .u-chip-remove
          i.mdi.mdi-close-circle
      .u-chip.u-chip-danger
        .u-chip-avatar
        .u-chip-label John Doe
        .u-chip-remove
          i.mdi.mdi-close-circle

    pre
      code.html
        = '<div class="u-chip">\n'
        = '  <div class="u-chip-avatar"></div>\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '  <div class="u-chip-remove"><i class="mdi mdi-close-circle"></i></div>\n'
        = '</div>\n'
        = '<div class="u-chip u-chip-primary">\n'
        = '  <div class="u-chip-avatar"></div>\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '  <div class="u-chip-remove"><i class="mdi mdi-close-circle"></i></div>\n'
        = '</div>\n'
        = '<div class="u-chip u-chip-secondary">\n'
        = '  <div class="u-chip-avatar"></div>\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '  <div class="u-chip-remove"><i class="mdi mdi-close-circle"></i></div>\n'
        = '</div>\n'
        = '<div class="u-chip u-chip-danger">\n'
        = '  <div class="u-chip-avatar"></div>\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '  <div class="u-chip-remove"><i class="mdi mdi-close-circle"></i></div>\n'
        = '</div>'

  h5.u-headline5.article-title Outlined chip
  .example-box
    .example-box-header
      .u-chip.u-chip-outline
        .u-chip-avatar
        .u-chip-label John Doe
        .u-chip-remove
          i.mdi.mdi-close-circle
      .u-chip.u-chip-outline.u-chip-primary
        .u-chip-avatar
        .u-chip-label John Doe
        .u-chip-remove
          i.mdi.mdi-close-circle
      .u-chip.u-chip-outline.u-chip-secondary
        .u-chip-avatar
        .u-chip-label John Doe
        .u-chip-remove
          i.mdi.mdi-close-circle
      .u-chip.u-chip-outline.u-chip-danger
        .u-chip-avatar
        .u-chip-label John Doe
        .u-chip-remove
          i.mdi.mdi-close-circle

    pre
      code.html
        = '<div class="u-chip u-chip-outline">\n'
        = '  <div class="u-chip-avatar"></div>\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '  <div class="u-chip-remove"><i class="mdi mdi-close-circle"></i></div>\n'
        = '</div>\n'
        = '<div class="u-chip u-chip-outline u-chip-primary">\n'
        = '  <div class="u-chip-avatar"></div>\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '  <div class="u-chip-remove"><i class="mdi mdi-close-circle"></i></div>\n'
        = '</div>\n'
        = '<div class="u-chip u-chip-outline u-chip-secondary">\n'
        = '  <div class="u-chip-avatar"></div>\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '  <div class="u-chip-remove"><i class="mdi mdi-close-circle"></i></div>\n'
        = '</div>\n'
        = '<div class="u-chip u-chip-outline u-chip-danger">\n'
        = '  <div class="u-chip-avatar"></div>\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '  <div class="u-chip-remove"><i class="mdi mdi-close-circle"></i></div>\n'
        = '</div>'

  h5.u-headline5.article-title Selectable chip
  .example-box
    .example-box-header
      .u-chip
        .u-chip-hover
        .u-chip-avatar
        .u-chip-label John Doe
        .u-chip-remove
          i.mdi.mdi-close-circle
      .u-chip.u-chip-outline
        .u-chip-hover
        .u-chip-avatar
        .u-chip-label John Doe
        .u-chip-remove
          i.mdi.mdi-close-circle

    pre
      code.html
        = '<div class="u-chip">\n'
        = '  <div class="u-chip-hover"></div>\n'
        = '  <div class="u-chip-avatar"></div>\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '  <div class="u-chip-remove"><i class="mdi mdi-close-circle"></i></div>\n'
        = '</div>\n'
        = '<div class="u-chip u-chip-outline">\n'
        = '  <div class="u-chip-hover"></div>\n'
        = '  <div class="u-chip-avatar"></div>\n'
        = '  <div class="u-chip-label">John Doe</div>\n'
        = '  <div class="u-chip-remove"><i class="mdi mdi-close-circle"></i></div>\n'
        = '</div>'

  h5.u-headline5.article-title Chip in input
  .example-box
    .example-box-header
      .u-text-field
        .u-text-input-group
          .u-text-input.u-chip-input
            .u-chip
              .u-chip-avatar
              .u-chip-label Juan
              .u-chip-remove
                i.mdi.mdi-close-circle
            .u-chip
              .u-chip-avatar
              .u-chip-label John Doe
              .u-chip-remove
                i.mdi.mdi-close-circle
            input
        label To:
    pre
      code.html
        | &lt;div class=&quot;u-text-field&quot;&gt;
        |   &lt;div class=&quot;u-text-input-group&quot;&gt;
        |     &lt;div class=&quot;u-text-input u-chip-input&quot;&gt;
        |       &lt;div class=&quot;u-chip&quot;&gt;
        |         &lt;div class=&quot;u-chip-avatar&quot;&gt;&lt;/div&gt;
        |         &lt;div class=&quot;u-chip-label&quot;&gt;Juan&lt;/div&gt;
        |         &lt;div class=&quot;u-chip-remove&quot;&gt;&lt;i class=&quot;mdi mdi-close-circle&quot;&gt;&lt;/i&gt;&lt;/div&gt;
        |       &lt;/div&gt;
        |       &lt;div class=&quot;u-chip&quot;&gt;
        |         &lt;div class=&quot;u-chip-avatar&quot;&gt;&lt;/div&gt;
        |         &lt;div class=&quot;u-chip-label&quot;&gt;John Doe&lt;/div&gt;
        |         &lt;div class=&quot;u-chip-remove&quot;&gt;&lt;i class=&quot;mdi mdi-close-circle&quot;&gt;&lt;/i&gt;&lt;/div&gt;
        |       &lt;/div&gt;
        |       &lt;input/&gt;
        |     &lt;/div&gt;
        |   &lt;/div&gt;
        |   &lt;label&gt;To:&lt;/label&gt;
        | &lt;/div&gt;
