extends ../layout

block content
  h4.u-headline4.chapter-title Chips

  h5.u-headline5.article-title Simple chip
  .example-box
    .example-box-header
      include chips/simple-chips.html

    pre
      code.html

  h5.u-headline5.article-title Chip with text and icon
  .example-box
    .example-box-header
      include chips/chips-text-icon.html

    pre
      code.html

  h5.u-headline5.article-title Outlined chip
  .example-box
    .example-box-header
      include chips/outline-chips.html

    pre
      code.html

  h5.u-headline5.article-title Selectable chip
  .example-box
    .example-box-header
      include chips/selectable-chips.html

    pre
      code.html

  h5.u-headline5.article-title Chip input
  .example-box
    .example-box-header
      include chips/chip-input.html

    pre
      code.html
