extends ../layout

block content
  h4 Data tables

  .row
    .col-xs-4.col-md-offset-4.col-md-8
      .card
        table.data-table.data-table-hover
          thead
            tr
              th Dessert (100g serving)
              th.text-right Calories
              th.text-right Fat (g)
              th.text-right Carbs(g)
          tbody
            tr
              td Frozen yogurt
              td.text-right 159
              td.text-right 6.0
              td.text-right 24
            tr
              td Ice cream sandwich
              td.text-right 237
              td.text-right 9.0
              td.text-right 37
            tr
              td Eclair
              td.text-right 262
              td.text-right 16.0
              td.text-right 24

    .col-xs-4.col-md-offset-4.col-md-8
      .card
        table.data-table.data-table-hover
          thead
            tr
              th.text-nowrap Dessert (100g serving)
              th Type
              th.text-right Calories
              th.text-right Fat (g)
              th.text-right Carbs(g)
          tbody
            tr
              td.text-nowrap Frozen yogurt
              td.text-nowrap.dropdown.show
                .dropdown-toggle
                  .dropdown-toggle-label Ice cream
                  .dropdown-toggle-icon
                    i.mdi.mdi-menu-down

                .dropdown-menu.bottom-left.fit-width
                  ul.dropdown-content.list.list-hover
                    li.list-item
                      .list-item-primary-content Ice cream
                    li.list-item
                      .list-item-primary-content Pastry
                    li.list-item
                      .list-item-primary-content Other

              td.text-right 159
              td.text-right 6.0
              td.text-right 24
            tr
              td.text-nowrap Ice cream sandwich
              td.text-nowrap.dropdown
                .dropdown-toggle
                  .dropdown-toggle-label Ice cream
                  .dropdown-toggle-icon
                    i.mdi.mdi-menu-down
              td.text-right 237
              td.text-right 9.0
              td.text-right 37
            tr
              td.text-nowrap Eclair
              td.text-nowrap.dropdown
                .dropdown-toggle
                  .dropdown-toggle-label Pastry
                  .dropdown-toggle-icon
                    i.mdi.mdi-menu-down
              td.text-right 262
              td.text-right 16.0
              td.text-right 24
