extends ../layout

block content
  h4.u-headline4.chapter-title Data tables

  h5.u-headline5.article-title Simple tables
  .example-box
    .example-box-header
      include data-tables/simple-table.html

    pre
      code.html

  h5.u-headline5.article-title Table header
  .example-box
    .example-box-header
      include data-tables/table-header.html

    pre
      code.html

  h5.u-headline5.article-title Table footer
  .example-box
    .example-box-header
      include data-tables/table-footer.html

    pre
      code.html
