extends ../layout

block content
  h4.u-headline4.chapter-title Dialogs


  button.u-btn.u-btn-raised.u-btn-primary Launch dialog

  .u-dialog
    .u-dialog-backdrop
    .u-dialog-content
      .u-dialog-title Dialog example
      .u-dialog-body
        p Content
      .u-dialog-actions
        button.u-btn-flat.u-btn-primary Cancel
        button.u-btn-flat.u-btn-primary Ok
block scripts
  script.
    (function () {
      var dialog = umd.Dialog.attach(document.querySelector(".u-dialog"));

      document.querySelector(".u-dialog-backdrop").addEventListener("click", function () { dialog.toggle() });
      var buttons = document.querySelectorAll("button");
      buttons.forEach(function (button) {
        button.addEventListener("click", function () { dialog.toggle() });
      });

      //
      // function toggleDialogVisibility() {
      //   if (dialog.classList.contains("show")) {
      //     dialog.classList.remove("show");
      //   } else {
      //     dialog.classList.add("show");
      //   }
      // }
      //
      // document.querySelector(".u-dialog-backdrop").addEventListener("click", toggleDialogVisibility);
      // var buttons = document.querySelectorAll("button");
      // buttons.forEach(function (button) {
      //   button.addEventListener("click", toggleDialogVisibility);
      // });

    })();
