extends ../layout

block content
  h4.u-headline4.chapter-title Dialogs

  h5.u-headline5.article-title Simple card
  .example-box
    .example-box-header
      include dialogs/example.html

    pre
      code.html

block scripts
  script.
    (function () {
      var dialog = umd.Dialog.attach(document.querySelector(".u-dialog"));

      document.querySelector(".u-dialog-backdrop").addEventListener("click", function () { dialog.toggle() });
      var buttons = document.querySelectorAll("button");
      buttons.forEach(function (button) {
        button.addEventListener("click", function () { dialog.toggle() });
      });
    })();
