extends ../layout

block content
  h4.headline4.chapter-title Dialogs


  button.btn.btn-raised.btn-primary Launch dialog

  .dialog
    .dialog-backdrop
    .dialog-content
      .dialog-title Dialog example
      .dialog-body
        p Content
      .dialog-actions
        button.btn-flat.btn-primary Cancel
        button.btn-flat.btn-primary Ok
block scripts
  script.
    (function () {
      var dialog = umd.Dialog.attach(document.querySelector(".dialog"));

      document.querySelector(".dialog-backdrop").addEventListener("click", function () { dialog.toggle() });
      var buttons = document.querySelectorAll("button");
      buttons.forEach(function (button) {
        button.addEventListener("click", function () { dialog.toggle() });
      });

      //
      // function toggleDialogVisibility() {
      //   if (dialog.classList.contains("show")) {
      //     dialog.classList.remove("show");
      //   } else {
      //     dialog.classList.add("show");
      //   }
      // }
      //
      // document.querySelector(".dialog-backdrop").addEventListener("click", toggleDialogVisibility);
      // var buttons = document.querySelectorAll("button");
      // buttons.forEach(function (button) {
      //   button.addEventListener("click", toggleDialogVisibility);
      // });

    })();
