extends ../layout

block content
  h4 Lists

  .example-box
    ul.list
      li.list-item
        .list-item-primary-content Item A
      li.list-item
        .list-item-primary-content Item B
      li.list-item
        .list-item-primary-content Item C

  .example-box
    ul.list.list-hover
      li.list-item.list-item-two-lines
        .list-item-primary-content Item A
          .secondary-text.text-low-contrast Subtitle

  .example-box
    ul.list.list-hover
      li.list-item
        .list-item-primary-content Item A
      li.list-item
        .list-item-primary-content Item B
      li.list-item
        .list-item-primary-content Item C

  .example-box
    ul.list.list-hover.list-dividers
      li.list-item
        .list-item-primary-content Item A
      li.list-item
        .list-item-primary-content Item B
      li.list-item
        .list-item-primary-content Item C


  .example-box
    ul.list
      li.list-item
        .list-item-hover
        .list-item-primary-content Item A
        .list-item-icon.btn-borderless
          i.mdi.mdi-star
      li.list-item
        .list-item-hover
        .list-item-primary-content Item B
        .list-item-icon.btn-borderless
          i.mdi.mdi-star
      li.list-item
        .list-item-hover
        .list-item-primary-content Item C
        .list-item-icon.btn-borderless
          i.mdi.mdi-star

  .example-box
    ul.list.list-indexed
      li.list-group
        .list-index A
        .list-group-items
          .list-item
            .list-item-primary-content Angelita Kellar  
          .list-item
            .list-item-primary-content Ayesha Commons  
      li.list-group
        .list-index B
        .list-group-items
          .list-item
            .list-item-primary-content Bella Drayton  
      li.list-group
        .list-index C
        .list-group-items
          .list-item
            .list-item-primary-content Carlita Baum  
          .list-item
            .list-item-primary-content Collette Morena  
          .list-item
            .list-item-primary-content Corliss Vaughan  
      li.list-group
        .list-index E
        .list-group-items
          .list-item
            .list-item-primary-content Earline Marcoux  
          .list-item
            .list-item-primary-content Eilene Mcarthur  
      li.list-group
        .list-index J
        .list-group-items
          .list-item
            .list-item-primary-content Jerold Sancho  
          .list-item
            .list-item-primary-content Josef Ariza  
          .list-item
            .list-item-primary-content Jospeh Wooten
      li.list-group
        .list-index L
        .list-group-items
          .list-item
            .list-item-primary-content Lupe Kerry
      li.list-group
        .list-index M
        .list-group-items
          .list-item
            .list-item-primary-content Marin Whitwell  
          .list-item
            .list-item-primary-content Matt Tugwell
      li.list-group
        .list-index N
        .list-group-items
          .list-item
            .list-item-primary-content Norine Woodell  
          .list-item
      li.list-group
        .list-index O
        .list-group-items
          .list-item
            .list-item-primary-content Olen Beumer
      li.list-group
        .list-index S
        .list-group-items
          .list-item
            .list-item-primary-content Shannan Mathews
          .list-item
            .list-item-primary-content Stephaine Fraise  
      li.list-group
        .list-index T
        .list-group-items
          .list-item
            .list-item-primary-content Timika Soller
      li.list-group
        .list-index V
        .list-group-items
          .list-item
            .list-item-primary-content Vannessa Armer