extends ../layout

block content
  h4 Lists

  .example-box
    ul.list
      li.list-item
        .list-item-primary-content Item A
      li.list-item
        .list-item-primary-content Item B
      li.list-item
        .list-item-primary-content Item C

  .example-box
    ul.list.list-hover
      li.list-item
        .list-item-primary-content Item A
      li.list-item
        .list-item-primary-content Item B
      li.list-item
        .list-item-primary-content Item C

  .example-box
    ul.list.list-hover.list-dividers
      li.list-item
        .list-item-primary-content Item A
      li.list-item
        .list-item-primary-content Item B
      li.list-item
        .list-item-primary-content Item C

