extends ../layout

block content
  h4 Menus

  .row
    .example-box.col-xs-2
      .toolbar
        .toolbar-row
          .dropdown.show
            .toolbar-action
              i.mdi.mdi-dots-vertical

            .dropdown-menu.bottom-left
              .dropdown-content
                ul.list.list-hover
                  li.list-item.text-nowrap
                    .list-item-primary-content Item A
                  li.list-item.text-nowrap
                    .list-item-primary-content Item B
                  li.list-item.text-nowrap
                    .list-item-primary-content Item C
    .example-box.col-xs-2
      .toolbar
        .toolbar-row
          .toolbar-title
          .dropdown.show
            .toolbar-action
              i.mdi.mdi-dots-vertical

            .dropdown-menu.bottom-right
              .dropdown-content
                ul.list.list-hover
                  li.list-item.text-nowrap
                    .list-item-primary-content Item A
                  li.list-item.text-nowrap
                    .list-item-primary-content Item B
                  li.list-item.text-nowrap
                    .list-item-primary-content Item C