extends ../layout

block content
  h4.chapter-title Menus

  .row
    .example-box.col-2
      .toolbar
        .toolbar-row
          .toolbar-actions.dropdown.show
            button.btn-borderless
              i.mdi.mdi-dots-vertical

            .dropdown-menu.bottom-left
              .dropdown-content
                a.dropdown-item.text-nowrap(href="#") Item A
                a.dropdown-item.text-nowrap(href="#") Item B
                a.dropdown-item.text-nowrap(href="#") Item C
    .example-box.col-2
      .toolbar
        .toolbar-row
          .toolbar-title
          .dropdown.show
            button.btn-borderless
              i.mdi.mdi-dots-vertical

            .dropdown-menu.bottom-right
              .dropdown-content
                a.dropdown-item.text-nowrap(href="#") Item A
                a.dropdown-item.text-nowrap(href="#") Item B
                a.dropdown-item.text-nowrap(href="#") Item C