extends ../layout

block content
  h4.headline4.chapter-title Menus

  .menu-example
    h5.headline5.article-title Down
    .example-box
      .example-box-header
        .toolbar
          .toolbar-row
            .toolbar-actions
              .toolbar-action.dropdown
                button.btn-borderless.btn-default.dropdown-toggle
                  i.btn-icon.mdi.mdi-dots-vertical

                .dropdown-menu.down
                  .dropdown-content
                    a.dropdown-item.text-nowrap(href="#") Item A
                    a.dropdown-item.text-nowrap(href="#") Item B
                    a.dropdown-item.text-nowrap(href="#") Item C
      pre
        code.html
          = '<div class="dropdown">\n'
          = '  <button class="btn-borderless btn-default dropdown-toggle">\n'
          = '    <i class="mdi mdi-dots-vertical"></i>\n'
          = '  </button>\n'
          = '  <div class="dropdown-menu down">\n'
          = '    <div class="dropdown-content">\n'
          = '      <a href="#" class="dropdown-item text-nowrap">Item A</a>\n'
          = '      <a href="#" class="dropdown-item text-nowrap">Item B</a>\n'
          = '      <a href="#" class="dropdown-item text-nowrap">Item C</a>\n'
          = '  </div>\n'
          = '</div>'

    h5.headline5.article-title Up
    .example-box
      .example-box-header.d-flex.align-items-end
        .toolbar
          .toolbar-row
            .toolbar-actions
              .toolbar-action.dropdown
                button.btn-borderless.btn-default.dropdown-toggle
                  i.btn-icon.mdi.mdi-dots-vertical

                .dropdown-menu.up
                  .dropdown-content
                    a.dropdown-item.text-nowrap(href="#") Item A
                    a.dropdown-item.text-nowrap(href="#") Item B
                    a.dropdown-item.text-nowrap(href="#") Item C
      pre
        code.html
          = '<div class="dropdown">\n'
          = '  <button class="btn-borderless btn-default dropdown-toggle">\n'
          = '    <i class="mdi mdi-dots-vertical"></i>\n'
          = '  </button>\n'
          = '  <div class="dropdown-menu up">\n'
          = '    <div class="dropdown-content">\n'
          = '      <a href="#" class="dropdown-item text-nowrap">Item A</a>\n'
          = '      <a href="#" class="dropdown-item text-nowrap">Item B</a>\n'
          = '      <a href="#" class="dropdown-item text-nowrap">Item C</a>\n'
          = '  </div>\n'
          = '</div>'


    h5.headline5.article-title Down right
    .example-box
      .example-box-header
        .toolbar
          .toolbar-row
            .toolbar-actions
              .toolbar-action.dropdown
                button.btn-borderless.btn-default.dropdown-toggle
                  i.btn-icon.mdi.mdi-dots-vertical

                .dropdown-menu.down-right
                  .dropdown-content
                    a.dropdown-item.text-nowrap(href="#") Item A
                    a.dropdown-item.text-nowrap(href="#") Item B
                    a.dropdown-item.text-nowrap(href="#") Item C
      pre
        code.html
          | &lt;div class=&quot;dropdown&quot;&gt;
          |   &lt;button class=&quot;btn-borderless btn-default&quot;&gt;
          |     &lt;i class=&quot;mdi mdi-dots-vertial&quot;&nbsp;/&gt;
          |   &lt;/button&gt;
          |   &lt;div class=&quot;dropdown-menu down-right&quot;&gt;
          |     &lt;div class=&quot;dropdown-content&quot;&gt;
          |       &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item A&lt;/a&gt;
          |       &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item B&lt;/a&gt;
          |       &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item C&lt;/a&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

    h5.headline5.article-title Down left
    .example-box
      .example-box-header
        .toolbar
          .toolbar-row
            .toolbar-actions
              .toolbar-actions.dropdown
                button.btn-borderless.btn-default.dropdown-toggle
                  i.btn-icon.mdi.mdi-dots-vertical

                .dropdown-menu.down-left
                  .dropdown-content
                    a.dropdown-item.text-nowrap(href="#") Item A
                    a.dropdown-item.text-nowrap(href="#") Item B
                    a.dropdown-item.text-nowrap(href="#") Item C

      pre
        code.html
          | &lt;div class=&quot;dropdown&quot;&gt;
          |   &lt;button class=&quot;btn-borderless btn-default&quot;&gt;
          |     &lt;i class=&quot;mdi mdi-dots-vertial&quot;&nbsp;/&gt;
          |   &lt;/button&gt;
          |   &lt;div class=&quot;dropdown-menu down-left&quot;&gt;
          |     &lt;div class=&quot;dropdown-content&quot;&gt;
          |       &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item A&lt;/a&gt;
          |       &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item B&lt;/a&gt;
          |       &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item C&lt;/a&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

    h5.headline5.article-title Up right
    .example-box
      .example-box-header.d-flex.align-items-end
        .toolbar
          .toolbar-row
            .toolbar-actions
              .toolbar-action.dropdown
                button.btn-borderless.btn-default.dropdown-toggle
                  i.btn-icon.mdi.mdi-dots-vertical

                .dropdown-menu.up-right
                  .dropdown-content
                    a.dropdown-item.text-nowrap(href="#") Item A
                    a.dropdown-item.text-nowrap(href="#") Item B
                    a.dropdown-item.text-nowrap(href="#") Item C
      pre
        code.html
          | &lt;div class=&quot;dropdown&quot;&gt;
          |   &lt;button class=&quot;btn-borderless btn-default&quot;&gt;
          |     &lt;i class=&quot;mdi mdi-dots-vertial&quot;&nbsp;/&gt;
          |   &lt;/button&gt;
          |   &lt;div class=&quot;dropdown-menu up-right&quot;&gt;
          |     &lt;div class=&quot;dropdown-content&quot;&gt;
          |       &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item A&lt;/a&gt;
          |       &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item B&lt;/a&gt;
          |       &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item C&lt;/a&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

    h5.headline5.article-title Up left
    .example-box
      .example-box-header.d-flex.align-items-end
        .toolbar
          .toolbar-row
            .toolbar-title
            .dropdown
              button.btn-borderless.btn-default.dropdown-toggle
                i.btn-icon.mdi.mdi-dots-vertical

              .dropdown-menu.up-left
                .dropdown-content
                  a.dropdown-item.text-nowrap(href="#") Item A
                  a.dropdown-item.text-nowrap(href="#") Item B
                  a.dropdown-item.text-nowrap(href="#") Item C

      pre
        code.html
          | &lt;div class=&quot;dropdown&quot;&gt;
          |   &lt;button class=&quot;btn-borderless btn-default&quot;&gt;
          |     &lt;i class=&quot;mdi mdi-dots-vertial&quot;&nbsp;/&gt;
          |   &lt;/button&gt;
          |   &lt;div class=&quot;dropdown-menu up-left&quot;&gt;
          |     &lt;div class=&quot;dropdown-content&quot;&gt;
          |       &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item A&lt;/a&gt;
          |       &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item B&lt;/a&gt;
          |       &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item C&lt;/a&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
