extends ../layout

block content
  h4.u-headline4.chapter-title Progress

  h5.u-headline5.article-title Determinate
  .example-box
    .example-box-header
      .progress.show
        .progress-indicator(style="width: 30%")
    pre
      code.html
        = '<div class="progress show">\n'
        = '  <div style="width: 30%" class="progress-indicator"></div>\n'
        = '</div>'

  h5.u-headline5.article-title Indeterminate
  .example-box
    .example-box-header
      .progress.indeterminate.show
        .progress-indicator
    pre
      code.html
        = '<div class="progress indeterminate show">\n'
        = '  <div class="progress-indicator"></div>\n'
        = '</div>'

  h5.u-headline5.article-title Changing color
  p Just set progress color and the magic is done
  .example-box
    .example-box-header
      .progress.indeterminate.show.text-secondary
        .progress-indicator
    pre
      code.html
        = '<div class="progress indeterminate show text-secondary">\n'
        = '  <div class="progress-indicator"></div>\n'
        = '</div>'

  h5.u-headline5.article-title Circular progress
  .example-box
    .example-box-header.text-center
      .preloader-wrapper
        .spinner-layer
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
