extends ../layout

block content
  h4.u-headline4.chapter-title Progress

  h5.u-headline5.article-title Determinate
  .example-box
    .example-box-header
      include progress/determinate-progress.html

    pre
      code.html

  h5.u-headline5.article-title Indeterminate
  .example-box
    .example-box-header
      include progress/indeterminate-progress.html

    pre
      code.html

  h5.u-headline5.article-title Changing color
  p Just set progress color and the magic is done
  .example-box
    .example-box-header
      include progress/progress-color.html

    pre
      code.html

  h5.u-headline5.article-title Circular progress
  .example-box
    .example-box-header
      include progress/circular-progress.html

    pre
      code.html
