extends ../layout

block content
  h1.chapter-title Progress

  h2.article-title Determinate
  .progress.show
    .progress-bar(style="width: 30%")

  h2.article-title Indeterminate
    .progress.indeterminate.show