extends ../layout

block content
  h4.headline4.chapter-title Selection controls

  div
    label.checkbox
      input(type="checkbox")
      span.selection-control
        span.check-indicator
      span.selection-control-label Checkbox
  div
    label.radio
      input(type="radio", name="radio")
      span.selection-control
        span.check-indicator
      span.selection-control-label Radio A
    label.radio
      input(type="radio", name="radio")
      span.selection-control
        span.check-indicator
      span.selection-control-label Radio B
    label.radio
      input(type="radio", name="radio")
      span.selection-control
        span.check-indicator
      span.selection-control-label Radio C
  div
    label.switch
      input(type="checkbox")
      span.selection-control
        span.check-indicator
      span.selection-control-label Switch
