extends ../layout

block content
  h4.u-headline4.chapter-title Selection controls

  div
    label.u-checkbox
      input(type="checkbox")
      span.u-selection-control
        span.u-check-indicator
      span.u-selection-control-label Checkbox
  div
    label.u-radio
      input(type="radio", name="radio")
      span.u-selection-control
        span.u-check-indicator
      span.u-selection-control-label Radio A
    label.u-radio
      input(type="radio", name="radio")
      span.u-selection-control
        span.u-check-indicator
      span.u-selection-control-label Radio B
    label.u-radio
      input(type="radio", name="radio")
      span.u-selection-control
        span.u-check-indicator
      span.u-selection-control-label Radio C
  div
    label.u-switch
      input(type="checkbox")
      span.u-selection-control
        span.u-check-indicator
      span.u-selection-control-label Switch
