extends ../layout

block content
  h4.u-headline4.chapter-title Snackbars

  h5.u-headline5.article-title Example
  .example-box
    .example-box-header
      include snackbar/example.html

    pre
      code.html
block scripts
  script.
    function showSnackbar() {

      const text = document.getElementById('snackbarText').value;
      const buttonText = document.getElementById('snackbarButtonText').value;

      umd.Snackbar.show(text, umd.SnackbarDuration.long, buttonText ? {
        text: buttonText,
        action: function () {
          alert('Snackbar action!')
        }
      } : null);
    }
