extends ../layout

block content
  h4.headline4.chapter-title Snackbars
  .u-text-field-container
    .u-text-field.u-text-field-box
      input.u-text-input#snackbarText
      label Snackbar text
  .u-text-field-container
    .u-text-field.u-text-field-box
      input.u-text-input#snackbarButtonText
      label Snackbar button text
  .text-end
    button.u-btn-raised.u-btn-primary(onclick="showSnackbar()") Show snackbar
