extends ../layout

block content
  h4.headline4.chapter-title Steppers

  h5.headline5.article-title Horizontal stepper
  .u-card
    .stepper.horizontal-stepper
      .step.active
        .step-indicator
          .step-circle 1
        .step-label Step 1
      .step-line
      .step
        .step-indicator
          .step-circle 2
        .step-label Step 2
      .step-line
      .step
        .step-indicator
          .step-circle 3
        .step-label Step 3
      .step-line
      .step
        .step-indicator
          .step-circle 4
        .step-label Step 4

  h5.headline5.article-title Vertical stepper
  .u-card
    .stepper.vertical-stepper
      .step.active
        .step-indicator
          .step-circle 1
          .step-line
        .step-content
          .step-label Step 1
          .example-step-content
          .step-actions
            button.u-btn-solid.u-btn-primary Continue
            button.u-btn-flat.u-btn-default Cancel
      .step
        .step-indicator
          .step-circle 2
        .step-content
          .step-label Step 2
