extends ../layout

block content
  h4 Tabs

  .example-box
    .toolbar.example-toolbar
      .toolbar-row
        .toolbar-icon
          i.zmdi.zmdi-menu

        .toolbar-title Page title

        .toolbar-action
          i.zmdi.zmdi-search

        .toolbar-action
          i.zmdi.zmdi-phone

        .toolbar-action.toolbar-vertical-action
          i.zmdi.zmdi-more-vert
      .tab-bar.toolbar-icon-padding
        .tab-container
          .tab.active
            .tab-text Item one
            .tab-indicator
          .tab
            .tab-text Item two
            .tab-indicator
          .tab
            .tab-text Item three
            .tab-indicator
