extends ../layout

block content
  h4 Tabs

  .row
    .col-md-6
      .example-box
        .toolbar.example-toolbar
          .toolbar-row
            .toolbar-icon
              i.zmdi.zmdi-menu


            .toolbar-title Page title

            .toolbar-action
              i.zmdi.zmdi-search

            .toolbar-action
              i.zmdi.zmdi-phone

            .toolbar-action.toolbar-vertical-menu
              i.zmdi.zmdi-more-vert
          .tab-bar.tab-bar-left-keyline
            .tab-container
              .tab.active
                .tab-text Item one
              .tab
                .tab-text Item two
              .tab
                .tab-text Item three
