extends ../layout

block content
  h4.headline4.chapter-title Tabs

  .example-box
    .toolbar.example-toolbar
      .toolbar-row
        .toolbar-navigation.btn-borderless.btn-default
          i.mdi.mdi-menu

        .toolbar-title Page title
        .toolbar-actions
          .btn-borderless.btn-default
            i.mdi.mdi-magnify

          .btn-borderless.btn-default
            i.mdi.mdi-phone

          .btn-borderless.btn-default
            i.mdi.mdi-dots-vertical
      .tab-bar.toolbar-icon-padding
        .tab.active
          .tab-content
            .tab-text Item one
        .tab
          .tab-content
            .tab-text Item two
        .tab
          .tab-content
            .tab-text Item three
