extends ../layout

block content
  h4 Tabs

  .example-box
    .toolbar.example-toolbar
      .toolbar-row
        .toolbar-icon
          i.mdi.mdi-menu

        .toolbar-title Page title

        .toolbar-action
          i.mdi.mdi-magnify

        .toolbar-action
          i.mdi.mdi-phone

        .toolbar-action.toolbar-vertical-action
          i.mdi.mdi-dots-vertical
      .tab-bar.toolbar-icon-padding
        .tab-container
          .tab.active
            .tab-text Item one
            .tab-indicator
          .tab
            .tab-text Item two
            .tab-indicator
          .tab
            .tab-text Item three
            .tab-indicator
