extends ../layout

block content
  h4.headline4.chapter-title Text fields

  .text-field
    small.helper-text Helper Text
    input.text-input(type="text" placeholder="Placeholder" id="text-field-1")
    label(for="text-field-1") Normal

  .text-field.focus
    input.text-input(type="text" placeholder="Placeholder")
    label Normal focused

  .text-field.invalid
    small.helper-text.error-text Error Text
    input.text-input(type="text" placeholder="Placeholder")
    label Normal

  .text-field.floating-label
    input.text-input(type="text" placeholder="Placeholder")
    label Floating label

  .text-field.floating-label.not-empty
    input.text-input(type="text" placeholder="Placeholder" value="some value")
    label Floating label not empty

  .text-field.floating-label.focus
    input.text-input(type="text" placeholder="Placeholder")
    label Floating label focus

  .text-field
    .text-input-group
      .text-input-icon
        i.mdi.mdi-calendar
      input.text-input(type="text" placeholder="Placeholder")
    label Icon signifier

  .text-field.dropdown
    button.text-input.dropdown-toggle(type="button")
      .placeholder Placeholder
      .dropdown-toggle-icon
    label Action icon
    .dropdown-menu.down-right.fit-width
      .dropdown-content
        .dropdown-item Ice cream
        .dropdown-item Pastry
        .dropdown-item Other

  .text-field
    .text-input-group
      .text-input
        .text-input-prefix $
        input(type="text" placeholder="Placeholder")
    label Input prefix

  .text-field
    .text-input-group
      .text-input
        input(type="text" placeholder="Placeholder")
        .text-input-suffix kg
    label Input suffix

  .text-field-elevated
    .text-input-group
      .text-input-icon
        i.mdi.mdi-magnify
      input.text-input(placeholder="Search")
      .text-input-icon
        i.mdi.mdi-microphone

  .text-field.text-field-box
    input.text-input(placeholder="Placeholder")
    label Label

  .text-field.text-field-box
    textarea.text-input(rows=5, placeholder="Description here...")
    label Label

  .text-field
    textarea.text-input(rows=5)
    label Multi-line text field

  .text-field.text-area
    textarea.text-input(rows=5, placeholder="Description here...")
    label.floating-label Text area
