extends ../layout

block content
  h4.headline4.chapter-title Text fields
  .text-field-container
    .text-field
      input.text-input(type="text" placeholder="Placeholder" id="text-field-standard" aria-describedby="standardHelper")
      label(for="text-field-standard") Standard
    small#standardHelper.text-field-helper-text Standard text field

  .text-field-container
    .text-field.text-field-floating-label
      input.text-input(type="text" placeholder="Placeholder" id="text-field-floating-label" aria-describedby="standardWithFloatinglabelHelper")
      label(for="text-field-floating-label") Standard floating label
    small#standardWithFloatinglabelHelper.text-field-helper-text Standard text field with floating label

  .text-field-container
    .text-field.text-field-box
      .text-field-leading-icon
        i.mdi.mdi-calendar
      .text-field-trailing-icon
        i.mdi.mdi-calendar

      input.text-input(type="text" placeholder="Placeholder" id="text-field-box" aria-describedby="textFieldBox")
      label(for="text-field-box") Text field box
    small#textFieldBox.text-field-helper-text
      .d-flex.position-relative
        .flex-fill
          span.text-field-helper-text-default Text field box
          span.text-field-helper-text-invalid Error
        span 0 / 10

  .text-field-container
    .text-field.text-field-outline
      .text-field-leading-icon
        i.mdi.mdi-calendar
      .text-field-trailing-icon
        i.mdi.mdi-calendar
      input.text-input(type="text" placeholder="Placeholder" id="text-field-outline" aria-describedby="textFieldOutline")
      label(for="text-field-outline") Text field outline
    small#textFieldOutline.text-field-helper-text Text field outline

  .text-field-container
    .text-field.text-field-elevated
      .text-field-leading-icon
        i.mdi.mdi-calendar
      .text-field-trailing-icon.btn-borderless
        i.btn-icon.mdi.mdi-calendar
      input.text-input(type="text" placeholder="Placeholder" id="text-field-elevated" aria-describedby="textFieldElevated")

  .text-field-container
    .text-field.text-field-box
      textarea.text-input(type="text" placeholder="Placeholder" id="text-area-box" aria-describedby="textAreaBox")
      label(for="text-area-box") Text area box
    small#textAreaBox.text-field-helper-text Text area box

  .text-field-container
    .text-field.text-area-outline
      textarea.text-input(type="text" placeholder="Placeholder" id="text-area-outline" aria-describedby="textAreaOutline")
      label(for="text-area-outline") Text area outline
    small#textAreaOutline.text-field-helper-text Text area outline
