extends ../layout

block content
  h4 Toolbars

  .example-box
    .toolbar
      .toolbar-row
        .toolbar-icon
          button.btn-borderless
            i.mdi.mdi-menu
        .toolbar-title Title here
        .toolbar-action
          i.mdi.mdi-dots-vertical

  .example-box
    .toolbar
      .toolbar-row
        .toolbar-icon
          a.toolbar-action(href="#")
            i.mdi.mdi-menu
        .toolbar-title Title here

        .toolbar-actions
          a.toolbar-action(href="#")
            i.mdi.mdi-phone

          a.toolbar-action(href="#")
            i.mdi.mdi-dots-vertical