extends ../layout

block content
  h4.chapter-title Toolbars

  .example-box
    .toolbar
      .toolbar-row
        .toolbar-icon
          button.btn-borderless
            i.mdi.mdi-menu
        .toolbar-title Title here
        button.btn-borderless
          i.mdi.mdi-dots-vertical

  .example-box
    .toolbar
      .toolbar-row
        .toolbar-icon
          a.btn-borderless(href="#")
            i.mdi.mdi-menu
        .toolbar-title Title here

        .toolbar-actions
          a.btn-borderless(href="#")
            i.mdi.mdi-phone

          a.btn-borderless(href="#")
            i.mdi.mdi-dots-vertical