extends ../layout

block content
  h4.headline4.chapter-title Toolbars

  h5.headline5.article-title Simple toolbar
  .example-box
    .example-box-header
      .toolbar
        .toolbar-row
          .toolbar-navigation.btn-borderless.btn-default

            i.mdi.mdi-menu
          .toolbar-title Title here

          .toolbar-actions
            button.toolbar-action.btn-borderless.btn-default(type="button" disabled="")
              i.mdi.mdi-phone
            .toolbar-action.dropdown
              button.btn-borderless.btn-default.dropdown-toggle(type="button")
                i.mdi.mdi-dots-vertical

              .dropdown-menu.down-left
                .dropdown-content
                  a.dropdown-item.text-nowrap(href="#") Item A
                  a.dropdown-item.text-nowrap(href="#") Item B
                  a.dropdown-item.text-nowrap(href="#") Item C
    pre
      code.html
        = '<div class="toolbar">\n'
        = '  <div class="toolbar-row">\n'
        = '    <div class="toolbar-navigation btn-borderless btn-default">\n'
        = '      <i class="mdi mdi-menu"></i>\n'
        = '     </div>\n'
        = '    <div class="toolbar-title">Title here</div>\n'
        = '    <div class="toolbar-actions">\n'
        = '      <button type="button" disabled="" class="btn-borderless btn-default">\n'
        = '        <i class="mdi mdi-phone"></i>\n'
        = '      </button>\n'
        = '      <button type="button" class="btn-borderless btn-default">\n'
        = '        <i class="mdi mdi-dots-vertical"></i>\n'
        = '      </button>\n'
        = '    </div>\n'
        = '  </div>\n'
        = '</div>'

  h5.headline5.article-title Toolbar with tabs
  .example-box
    .example-box-header
      .toolbar
        .toolbar-row
          .toolbar-navigation.btn-borderless.btn-default
            i.mdi.mdi-menu
          .toolbar-title Title here
          .toolbar-actions
            button.toolbar-action.btn-borderless.btn-default(type="button")
              i.mdi.mdi-dots-vertical
        .tab-bar.toolbar-icon-padding
          .tab.active
            .tab-content
              .tab-text Item one
          .tab
            .tab-content
              .tab-text Item two
          .tab
            .tab-content
              .tab-text Item three
    pre
      code.html
        = '<div class="toolbar">\n'
        = '  <div class="toolbar-row">\n'
        = '    <div class="toolbar-navigation btn-borderless btn-default"><i class="mdi mdi-menu"></i></div>\n'
        = '    <div class="toolbar-title">Title here</div>\n'
        = '    <button class="btn-borderless btn-default">\n'
        = '      <i class="mdi mdi-dots-vertical"></i>\n'
        = '    </button>\n'
        = '  </div>\n'
        = '  <div class="tab-bar toolbar-icon-padding">\n'
        = '    <div class="tab active">\n'
        = '      <div class="tab-content">\n'
        = '        <div class="tab-text">Item one</div>\n'
        = '      </div>\n'
        = '    </div>\n'
        = '    <div class="tab">\n'
        = '      <div class="tab-content">\n'
        = '        <div class="tab-text">Item two</div>\n'
        = '      </div>\n'
        = '    </div>\n'
        = '    <div class="tab">\n'
        = '      <div class="tab-content">\n'
        = '        <div class="tab-text">Item three</div>\n'
        = '      </div>\n'
        = '    </div>\n'
        = '  </div>\n'
        = '</div>'