.list {
  padding: $list-vertical-padding 0;
  margin: 0;

  .divider {
    @include vertical-margin($list-vertical-padding);
  }

  &.list-dividers {
    .list-item {
      position: relative;

      & + .list-item::after {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        height: $list-divider-height;
        top: -$list-divider-height;
        left: 0;
        right: 0;
      }
    }
  }
}

.list-item {
  display: flex;
  position: relative;
  min-height: $list-item-min-height;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  padding: $list-item-padding;
  color: $text-high-contrast;

  &:hover,
  &:focus,
  &.focus {
    color: $text-high-contrast;
    text-decoration: none;
    outline: 0;
  }

  &.list-item-two-lines,
  &.list-item-three-lines,
  &.list-item-dynamic {
    .list-item-primary-content {
      display: block;
      line-height: $list-item-multi-line-line-height;
    }
  }

  &.list-item-three-lines,
  &.list-item-dynamic {
    .list-item-icon,
    .list-item-avatar,
    .list-item-secondary-content {
      align-self: baseline;
    }
  }
}

.list-item-icon,
.list-item-avatar {
  position: relative;
  font-size: $list-icon-size;
  color: $text-low-contrast-light-theme;
}

.list-item-avatar {
  @include size($list-avatar-size);

  min-width: $list-avatar-size;
  line-height: $list-avatar-size;
  border-radius: 50%;
}

.list-item-icon {
  width: $list-icon-size;
  min-width: $list-icon-size;
  line-height: $list-item-font-size;
}

.list-item-icon + .list-item-primary-content {
  margin-left: $list-icon-avatar-text-left-distance - $list-icon-size - $list-item-padding;
}

.list-item-avatar + .list-item-primary-content {
  margin-left: $list-icon-avatar-text-left-distance - $list-avatar-size - $list-item-padding;
}

.list-item-primary-content ~ .list-item-icon {
  margin-left: $list-item-padding;
}

.list-item-primary-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: $list-item-font-size;
  font-weight: $font-regular;
  line-height: $list-item-font-size;

  .secondary-text {
    font-size: .875rem;
  }
}

.list-item-secondary-content {
  margin-left: $list-item-padding;

  .list-item-icon {
    text-align: center;
  }
}

.list-item-hover {
  @include selectable-background(false);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.list-group {
  display: flex;
}

.list-group-items {
  flex-grow: 1;
  overflow: hidden;
}

.list-index {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: $list-index-width;
  min-width: $list-index-width;
  height: $list-item-min-height;
  padding: $list-item-padding;
  font-weight: $font-medium;
  font-size: $list-index-font-size;
}

@mixin list-theme($dark-theme) {
  $color: $list-item-color-light-theme;
  $icon-color: $list-icon-color-light-theme;

  @if ($dark-theme) {
    $color: $list-item-color-dark-theme;
    $icon-color: $list-icon-color-dark-theme;
  }

  .list.list-hover {
    .list-item {
      @include selectable-background($dark-theme);
    }
  }

  .list-item {
    color: $color;

    @include hover-focus {
      color: $color;
    }
  }

  .list-item-icon {
    color: $icon-color;
  }

  .list-index {
    color: $icon-color;
  }
}