.progress {
  overflow: hidden;
  position: relative;
  height: $progress-height;
  border-radius: $progress-border-radius;
  transform: scale3d(1, 0, 1);
  transition: transform 350ms;

  &.show {
    transform: scale3d(1, 1, 1);
  }

  &.indeterminate {
    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 20%;
      content: "";
      animation-duration: $progress-indeterminate-animation-duration;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    &::before {
      width: 20%;
      animation-name: slow-bar;
    }

    &::after {
      width: 70%;
      right: 100%;
      animation-name: quick-bar;
    }
  }
}

.progress-bar {
  position: relative;
  width: 0;
  height: $progress-height;
  transition: width 250ms;
}

.preloader-wrapper {
  display: inline-block;
  position: relative;
  width: $spinner-height;
  height: $spinner-height;

  animation: container-rotate 1568ms linear infinite;

  &.small {
    width: $spinner-height-small;
    height: $spinner-height-small;
  }

  &.x-small {
    width: $spinner-height-x-small;
    height: $spinner-height-x-small;
  }

  &.big {
    width: $spinner-height-big;
    height: $spinner-height-big;
  }
}

@keyframes container-rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-color: $spinner-color;

  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

@keyframes fill-unfill-rotate {
  12.5% {
    transform: rotate(135deg);
  }

  25% {
    transform: rotate(270deg);
  }

  37.5% {
    transform: rotate(405deg);
  }

  50% {
    transform: rotate(540deg);
  }

  62.5% {
    transform: rotate(675deg);
  }

  75% {
    transform: rotate(810deg);
  }

  87.5% {
    transform: rotate(945deg);
  }

  to {
    transform: rotate(1080deg);
  }
}

.gap-patch {
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;

  .circle {
    width: 1000%;
    left: -450%;
  }
}

.circle-clipper {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;

  .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;

    animation: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &.left {
    float: left;

    .circle {
      left: 0;
      border-right-color: transparent !important;

      transform: rotate(129deg);

      animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    }
  }
}

.circle-clipper.right {
  float: right;

  .circle {
    left: -100%;
    border-left-color: transparent !important;

    transform: rotate(-129deg);

    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
}

@keyframes left-spin {
  from {
    transform: rotate(130deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(130deg);
  }
}

@keyframes right-spin {
  from {
    transform: rotate(-130deg);
  }

  50% {
    transform: rotate(5deg);
  }

  to {
    transform: rotate(-130deg);
  }
}

@keyframes slow-bar {
  0% {
    width: 20%;
    right: 100%;
  }

  50% {
    width: 70%;
    right: -20%;
  }

  100% {
    width: 20%;
    right: -140%;
  }
}

@keyframes quick-bar {

  60% {
    right: 100%;
    width: 70%;
  }

  80% {
    right: 10%;
    width: 10%;
  }

  100% {
    right: -80%;
    width: 10%;
  }
}

@mixin progress-theme($theme-colors) {
  $primary-color: map-get($theme-colors, "primary");

  $progress-color: rgba($primary-color, .2);
  $progress-bar-color: rgba($primary-color, .54);

  .progress {
    background-color: $progress-color;
  }

  .progress.indeterminate::after,
  .progress.indeterminate::before,
  .progress-bar {
    background-color: $progress-bar-color;
  }
}