.progress {
  overflow: hidden;
  position: relative;
  height: $progress-height;
  background: rgba($primary-color, 0.2);
  border-radius: $progress-border-radius;

  transform: scaleY(1);

  transition: 350ms transform;

  &.collapse {
    transform: scaleY(0);
  }

  &::before {
    content: "";
    position: absolute;
    top: $progress-border-width;
    left: $progress-border-width;
    right: $progress-border-width;
    bottom: $progress-border-width;
    background: rgba($primary-color, 0.2);
  }
}

.progress-bar {
  position: relative;
  width: 0;
  height: $progress-height;
  background: rgba($primary-color, 0.54);

  transition: width 250ms;

  &::before {
    content: "";
    position: absolute;
    top: $progress-border-width;
    left: $progress-border-width;
    right: 0;
    bottom: $progress-border-width;
    background: rgba($primary-color, 0.54);
  }
}

.preloader-wrapper {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;

  animation: container-rotate 1568ms linear infinite;

  &.small {
    width: 36px;
    height: 36px;
  }

  &.x-small {
    width: 24px;
    height: 24px;
  }

  &.big {
    width: 64px;
    height: 64px;
  }
}

@keyframes container-rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-color: $spinner-color;

  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

@keyframes fill-unfill-rotate {
  12.5% {
    transform: rotate(135deg);
  }

  25% {
    transform: rotate(270deg);
  }

  37.5% {
    transform: rotate(405deg);
  }

  50% {
    transform: rotate(540deg);
  }

  62.5% {
    transform: rotate(675deg);
  }

  75% {
    transform: rotate(810deg);
  }

  87.5% {
    transform: rotate(945deg);
  }

  to {
    transform: rotate(1080deg);
  }
}

.gap-patch {
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;

  .circle {
    width: 1000%;
    left: -450%;
  }
}

.circle-clipper {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;

  .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;

    animation: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &.left {
    float: left;

    .circle {
      left: 0;
      border-right-color: transparent !important;

      transform: rotate(129deg);

      animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    }
  }
}

.circle-clipper.right {
  float: right;

  .circle {
    left: -100%;
    border-left-color: transparent !important;

    transform: rotate(-129deg);

    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
}

@keyframes left-spin {
  from {
    transform: rotate(130deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(130deg);
  }
}

@keyframes right-spin {
  from {
    transform: rotate(-130deg);
  }

  50% {
    transform: rotate(5deg);
  }

  to {
    transform: rotate(-130deg);
  }
}