:root {
  @include add-vars($u-bg-light-vars);

  --u-bg-color: #{$u-bg-light};
  --u-surface-color: #{$u-light-surface};
  --u-mode-high-contrast-color: #{$u-text-high-contrast-light-theme};
  --u-inverse-mode-high-contrast-color: #{$u-text-high-contrast-dark-theme};
  --u-high-contrast-color-light-mode: #{$u-text-high-contrast-light-theme};
  --u-high-contrast-color-dark-mode: #{$u-text-high-contrast-dark-theme};
}

.u-dark-mode {
  --u-bg-color: #{$u-bg-dark};
  --u-surface-color: #{$u-dark-surface};
  --u-mode-high-contrast-color: #{$u-text-high-contrast-dark-theme};
  --u-inverse-mode-high-contrast-color: #{$u-text-high-contrast-light-theme};
}

%u-bg-light,
.u-dark-mode %u-bg-light {
  @include add-vars($u-bg-light-vars);
}

%u-bg-dark,
.u-dark-mode {
  @include add-vars($u-bg-dark-vars);
}
