@import "colors";

$u-divider-height: .0625rem !default;

%divider {
  width: 100%;
  height: $u-divider-height;
}

@mixin u-divider-theme {
  $dark-theme: map-get($u-theme, "dark");

  %divider {
    background: if($dark-theme, $u-divider-color-dark-theme, $u-divider-color-light-theme);
  }
}
