$u-font-family-base: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$u-font-size-base: .875rem !default;

$u-font-weight-thin: 100 !default;
$u-font-weight-light: 300 !default;
$u-font-weight-regular: 400 !default;
$u-font-weight-medium: 500 !default;
$u-font-weight-bold: 700 !default;
$u-font-weight-black: 900 !default;

$u-font-weights: (
  thin: $u-font-weight-thin,
  light: $u-font-weight-light,
  regular: $u-font-weight-regular,
  medium: $u-font-weight-medium,
  bold: $u-font-weight-bold,
  black: $u-font-weight-black
) !default;
