@import "colors";

$u-theme-style: "ios" !default;
$u-default-theme-dark: false !default;
$u-include-ios-styles: true !default;
$u-include-inverted-mode: true !default;

$u-theme: (
  bg-light: if($u-theme-style == "android", $u-bg-light, $u-bg-light-ios),
  bg-dark: $u-bg-dark,
  colors: $u-theme-colors,
  toolbar-colors: $u-toolbar-colors,
  dark: $u-default-theme-dark,
  style: $u-theme-style) !default;
