@import "colors";

$u-theme-style: "ios" !default;
$u-include-ios-styles: false !default;

$u-theme: (
  colors: $u-theme-colors,
  toolbar-colors: $u-toolbar-colors,
  dark: $u-default-theme-dark,
  style: $u-theme-style) !default;
