//Z-index
$zindex-dropdown: 1000 !default;
$zindex-fixed: 1030 !default;
$zindex-sticky: 1030 !default;
$zindex-toolbar-fixed: 1030 !default;
$zindex-sidebar: 1040 !default;
$zindex-dialog-background: 1050 !default;
$zindex-dialog: 1060 !default;
$zindex-snackbar: 1070 !default;
