@import "variables";
@import "mixins";

@import "bootstrap-imports";

@import "octopus-material/scaffolding";
@import "octopus-material/typography";
@import "octopus-material/grid";
@import "octopus-material/elevation";

@import "octopus-material/badge";
@import "octopus-material/toolbar";
@import "octopus-material/buttons";
@import "octopus-material/button-group";
@import "octopus-material/checkbox";
@import "octopus-material/floating-action-button";
@import "octopus-material/card";
@import "octopus-material/dialog";
@import "octopus-material/expansion-panel";
@import "octopus-material/dropdown";
@import "octopus-material/steppers";
@import "octopus-material/layout";
@import "octopus-material/tab";
@import "octopus-material/data-table";
@import "octopus-material/list";
@import "octopus-material/progress";
@import "octopus-material/sidebar";
@import "octopus-material/snackbar";
@import "octopus-material/text-field";
@import "octopus-material/chip";

//Utilities
@import "utilities";
//@import "octopus-material/responsive-utilities";

@include create-theme($theme-colors, $default-theme-dark);
@include create-dense-layout();
