extends ../layout

block content
  h1.chapter-title Typography

  h1 h1. Octopus heading
  h2 h2. Octopus heading
  h3 h3. Octopus heading
  h4 h4. Octopus heading
  h5 h5. Octopus heading
  h6 h6. Octopus heading

  .display-4 Display 4
  .display-3 Display 3
  .display-2 Display 2
  .display-1 Display 1
  .headline Headline
  .title Title
  .subheading Subheading
  .body-2 Body 2
  .body-1 Body 1
  .caption Caption
