@use "sass:math";

@import "variables";
@import "../../font";
@import "../../mixins";
@import "../../theme";

:root {
  --u-radio-color: var(--u-on-surface-variant-color);
}

.u-radio {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  font-family: $u-font-family-base;
  cursor: pointer;

  &,
  & * {
    box-sizing: border-box;
  }

  @include hide-native-input;

  .u-selection-control {
    @extend %u-selectable;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: $u-radio-click-size;
    height: $u-radio-click-size;
    border-radius: 50%;
  }

  .u-selection-control-label {
    margin-left: $u-radio-label-margin;
    font-size: $u-radio-label-font-size;
  }

  .u-check-indicator {
    position: relative;
    width: $u-radio-size;
    height: $u-radio-size;
    border: $u-radio-border-width solid var(--u-radio-color);
    border-radius: 50%;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $u-radio-check-mark-size;
      height: $u-radio-check-mark-size;
      margin-top: math.div(-$u-radio-check-mark-size, 2);
      margin-left: math.div(-$u-radio-check-mark-size, 2);
      content: "";
      background: var(--u-radio-color);
      border-radius: 50%;
      transition: transform 250ms;
      transform: scale3d(0, 0, 1);
    }
  }

  &.checked .u-selection-control,
  input:checked ~ .u-selection-control {
    --u-radio-color: var(--u-primary-color);
  }

  &.checked .u-check-indicator,
  input:checked ~ .u-selection-control .u-check-indicator {
    opacity: 1;

    &::before {
      transform: scale3d(1, 1, 1);
    }
  }

  &.disabled .u-selection-control,
  input:disabled ~ .u-selection-control {
    --u-radio-color: var(--u-on-surface-color);

    opacity: $u-radio-disabled-opacity;

    &::before {
      display: none;
    }
  }
}
