@import "variables";
@import "../../font";
@import "../../mixins";
@import "../../theming";

.u-radio {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  font-family: $u-font-family-base;
  cursor: pointer;

  &,
  & * {
    box-sizing: border-box;
  }

  @include hide-native-input;

  .u-selection-control {
    @include selectable-background-before;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: $u-radio-click-size;
    height: $u-radio-click-size;
    border-radius: 50%;
  }

  .u-selection-control-label {
    margin-left: $u-radio-label-margin;
    font-size: $u-radio-label-font-size;
  }

  .u-check-indicator {
    position: relative;
    width: $u-radio-size;
    height: $u-radio-size;
    border: $u-radio-border;
    border-radius: 50%;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $u-radio-check-mark-size;
      height: $u-radio-check-mark-size;
      margin-top: -$u-radio-check-mark-size / 2;
      margin-left: -$u-radio-check-mark-size / 2;
      content: "";
      background: currentColor;
      border-radius: 50%;
      transition: transform 250ms;
      transform: scale3d(0, 0, 1);
    }
  }

  &.checked .u-check-indicator,
  input:checked ~ .u-selection-control .u-check-indicator {
    color: inherit;

    &::before {
      transform: scale3d(1, 1, 1);
    }
  }

  &.disabled .u-selection-control,
  input:disabled ~ .u-selection-control {
    opacity: $u-radio-disabled-opacity;
  }
}

@mixin u-radio-theme {
  $dark-theme: map-get($u-theme, "dark");
  $theme-colors: map-get($u-theme, "colors");

  $primary-color: map-get($theme-colors, "primary");
  $u-radio-color: $u-radio-color-light-theme;

  @if ($dark-theme) {
    $u-radio-color: $u-radio-color-dark-theme;
  }

  .u-radio {
    .u-check-indicator {
      color: $u-radio-color;
    }

    &.checked:not(.disabled) .u-selection-control,
    input:checked:not(:disabled) ~ .u-selection-control {
      color: $primary-color;
    }
  }
}
