$radio-label-margin: .25rem !default;
$radio-click-size: 2.5rem !default;
$radio-disabled-opacity: .47 !default;

$radio-border-width: .125rem !default;
$radio-border: $radio-border-width solid currentColor !default;
$radio-color-light-theme: rgba(0, 0, 0, .54) !default;
$radio-color-dark-theme: rgba(255, 255, 255, .7) !default;
$radio-size: 1.25rem !default;
$radio-check-mark-size: $radio-size / 2 !default;
