@import "variables";
@import "theme";
@import "../../typography/variables";
@import "../../mixins";
@import "../../placeholders";
@import "button-base";

@mixin u-all-buttons() {
  .u-btn-raised,
  .u-btn-solid,
  .u-btn-flat,
  .u-btn-borderless,
  .u-btn-outline,
  .u-btn-outline-gray,
  .u-btn-floating {
    @content;
  }
}
@include contrast-bg-var(--u-btn-disabled-color, $u-btn-disabled-color-light-theme, $u-btn-disabled-color-dark-theme);
@include contrast-bg-var(--u-btn-solid-disabled-background, $u-btn-disabled-background-light-theme, $u-btn-disabled-background-dark-theme);
@include contrast-bg-var(--u-btn-borderless-default-color, $u-btn-borderless-default-color-light-theme, $u-btn-borderless-default-color-dark-theme);

@include u-all-buttons() {
  @extend %u-button-base;
  height: $u-btn-height;
  line-height: $u-btn-material-line-height;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;

  &.disabled,
  &:disabled {
    color: var(--u-btn-disabled-color) !important;
    box-shadow: none;

    &::before {
      display: none;
    }
  }
}

.u-btn-floating,
.u-btn-raised,
.u-btn-solid {
  &.disabled,
  &:disabled {
    background-color: var(--u-btn-solid-disabled-background) !important;
  }
}

.u-btn-set {
  display: inline-flex;

  @include u-all-buttons() {
    &:not(:first-child) {
      margin-left: $u-btn-set-margin;
    }
  }
}

.u-btn-flat,
.u-btn-borderless,
.u-btn-outline,
.u-btn-outline-gray {
  background: transparent;
}

.u-btn-flat,
.u-btn-solid,
.u-btn-raised,
.u-btn-outline,
.u-btn-outline-gray {
  padding: 0 $u-btn-side-padding;
  border-radius: $u-btn-border-radius;
}

.u-btn-outline,
.u-btn-outline-gray {
  border: $u-btn-outline-border-width solid currentColor;

  &::before,
  .u-ripple-wrapper {
    top: -$u-btn-outline-border-width;
    right: -$u-btn-outline-border-width;
    bottom: -$u-btn-outline-border-width;
    left: -$u-btn-outline-border-width;
  }
}

.u-btn-floating,
.u-btn-raised {
  @include u-elevation(2);

  &:active {
    @include u-elevation(6);
  }

  transition: box-shadow 250ms;
}

.u-btn-icon {
  display: inline-block;
  width: $u-btn-icon-size;
  height: $u-btn-icon-size;
  margin-right: $u-btn-icon-margin-end;
  margin-left: $u-btn-icon-margin-start;
  font-size: $u-btn-icon-size;
  line-height: $u-btn-icon-size;
}

.u-btn-icon-end {
  margin-right: $u-btn-icon-margin-start;
  margin-left: $u-btn-icon-margin-end;
}

.u-btn-borderless {
  width: $u-btn-borderless-size !important;
  height: $u-btn-borderless-size !important;
  padding: 0;
  overflow: visible;
  border-radius: 50%;

  .u-btn-icon {
    width: $u-btn-borderless-icon-size;
    height: $u-btn-borderless-icon-size;
    margin: 0;
    font-size: $u-btn-borderless-icon-size;
    line-height: $u-btn-borderless-icon-size;
  }
}

.u-btn-floating {
  width: $u-btn-floating-size;
  height: $u-btn-floating-size !important;
  border-radius: 50%;

  .u-btn-icon {
    width: $u-btn-borderless-icon-size;
    height: $u-btn-borderless-icon-size;
    margin: 0;
    font-size: $u-btn-borderless-icon-size;
    line-height: $u-btn-borderless-icon-size;
  }
}

.u-btn-floating-extended {
  width: auto;
  height: $u-btn-floating-extended-height !important;
  padding-right: $u-btn-floating-extended-padding;
  padding-left: $u-btn-floating-extended-padding;
  border-radius: $u-btn-floating-extended-border-radius;

  .u-btn-icon {
    margin-right: $u-btn-floating-extended-icon-margin;
    margin-left: $u-btn-floating-extended-icon-margin - $u-btn-floating-extended-padding;
  }
}

.u-btn-floating-sm {
  width: $u-btn-floating-small-size;
  height: $u-btn-floating-small-size !important;
}

.u-btn-solid.u-btn-default,
.u-btn-raised.u-btn-default,
.u-btn-floating.u-btn-default {
  color: var(--u-mode-high-contrast-color);
  background: var(--u-surface-color);
}

.u-btn-flat.u-btn-default,
.u-btn-outline.u-btn-default,
.u-btn-outline-gray.u-btn-default {
  color: var(--u-high-contrast-color);
}

.u-btn-outline-gray {
  border-color: var(--u-divider-color);
}

.u-btn-borderless.u-btn-default {
  color: var(--u-btn-borderless-default-color);
}

.rtl,
[dir="rtl"] {
  .u-btn-icon {
    margin-right: $u-btn-icon-margin-start;
    margin-left: $u-btn-icon-margin-end;
  }

  .u-btn-icon-end {
    margin-right: $u-btn-icon-margin-end;
    margin-left: $u-btn-icon-margin-start;
  }

  .u-btn-floating,
  .u-btn-borderless {
    .u-btn-icon {
      margin: 0;
    }
  }

  .u-btn-floating-extended {
    .u-btn-icon {
      margin-right: $u-btn-floating-extended-icon-margin - $u-btn-floating-extended-padding;
      margin-left: $u-btn-floating-extended-icon-margin;
    }
  }

  .u-btn-set {
    @include u-all-buttons() {
      margin-left: 0;
      &:not(:first-child) {
        margin-right: $u-btn-set-margin;
      }
    }
  }
}
