@import "variables";
@import "theme";
@import "../../typography/variables";
@import "../../mixins";
@import "../../utilities";
@import "../../placeholders";
@import "uwp-buttons";
@import "button-base";

.u-btn {
  @extend %u-button-base;
  height: $u-btn-height;
  padding: 0 $u-btn-side-padding;
  line-height: $u-btn-material-line-height;
  border-radius: $u-btn-border-radius;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;

  &.disabled,
  &:disabled {
    box-shadow: none;

    &::before {
      display: none;
    }
  }
}

.u-btn-set {
  display: inline-flex;

  .u-btn + .u-btn {
    margin-left: $u-btn-set-margin;
  }
}

.u-btn-flat,
.u-btn-solid {
  @extend .u-btn;
}

.u-btn-outline {
  @extend .u-btn-flat;
  border: $u-btn-outline-border-width solid currentColor;

  &::before,
  .u-ripple-wrapper {
    top: -$u-btn-outline-border-width;
    right: -$u-btn-outline-border-width;
    bottom: -$u-btn-outline-border-width;
    left: -$u-btn-outline-border-width;
  }
}

.u-btn-raised {
  @extend .u-btn-solid;

  @include u-elevation(2);

  &:active {
    @include u-elevation(6);
  }

  transition: box-shadow 250ms;
}

.u-btn-icon {
  display: inline-block;
  width: $u-btn-icon-size;
  height: $u-btn-icon-size;
  margin-right: $u-btn-icon-margin-end;
  margin-left: $u-btn-icon-margin-start;
  font-size: $u-btn-icon-size;
  line-height: $u-btn-icon-size;
}

.u-btn-icon-end {
  margin-right: $u-btn-icon-margin-start;
  margin-left: $u-btn-icon-margin-end;
}

.u-btn-borderless {
  @extend .u-btn;

  width: $u-btn-borderless-size;
  height: $u-btn-borderless-size;
  padding: 0;
  overflow: visible;
  border-radius: 50%;

  .u-btn-icon {
    width: $u-btn-borderless-icon-size;
    height: $u-btn-borderless-icon-size;
    margin: 0;
    font-size: $u-btn-borderless-icon-size;
    line-height: $u-btn-borderless-icon-size;
  }
}

.u-btn-floating {
  @extend .u-btn-raised;
  width: $u-btn-floating-size;
  height: $u-btn-floating-size;
  border-radius: 50%;

  .u-btn-icon {
    width: $u-btn-borderless-icon-size;
    height: $u-btn-borderless-icon-size;
    margin: 0;
    font-size: $u-btn-borderless-icon-size;
    line-height: $u-btn-borderless-icon-size;
  }
}

.u-btn-floating-extended {
  width: auto;
  height: $u-btn-floating-extended-height;
  padding-right: $u-btn-floating-extended-padding;
  padding-left: $u-btn-floating-extended-padding;
  border-radius: $u-btn-floating-extended-border-radius;

  .u-btn-icon {
    margin-right: $u-btn-floating-extended-icon-margin;
    margin-left: $u-btn-floating-extended-icon-margin - $u-btn-floating-extended-padding;
  }
}

.u-btn-floating-sm {
  width: $u-btn-floating-small-size;
  height: $u-btn-floating-small-size;
}

.dense {
  @at-root .dense-layout .u-btn,
  &.u-btn {
    height: $u-btn-dense-size;
    font-size: $u-btn-dense-font-size;
  }

  @at-root .dense-layout .u-btn-borderless,
  &.u-btn-borderless {
    width: $u-btn-dense-size;
    font-size: $base-dense-icon-size;
  }

  @at-root .dense-layout .u-btn-icon,
  &.u-btn-icon {
    font-size: $u-btn-icon-dense-size;
  }
}

@mixin u-disabled-button($color, $background, $important: false) {
  .u-btn {
    &.disabled,
    &:disabled {
      color: $color #{important($important)};

      @include hover-focus {
        color: $color #{important($important)};
      }
    }
  }

  .u-btn-solid,
  .u-btn-raised {
    &.disabled,
    &:disabled {
      background-color: $u-btn-disabled-background-light-theme #{important($important)};
    }
  }
}

%u-bg-light {
  .u-btn-flat.u-btn-default {
    color: $u-btn-flat-default-background-light-theme;
  }

  .u-btn-borderless.u-btn-default {
    color: $u-btn-borderless-default-color-light-theme;
  }

  @include u-disabled-button($u-btn-disabled-color-light-theme, $u-btn-disabled-background-light-theme);
}

%u-bg-light-important {
  .u-btn-flat.u-btn-default {
    color: $u-btn-flat-default-background-light-theme !important;
  }

  .u-btn-borderless.u-btn-default {
    color: $u-btn-borderless-default-color-light-theme !important;
  }

  @include u-disabled-button($u-btn-disabled-color-light-theme, $u-btn-disabled-background-light-theme, true);
}

%u-bg-dark {
  .u-btn-flat.u-btn-default {
    color: $u-btn-flat-default-background-dark-theme;
  }

  .u-btn-borderless.u-btn-default {
    color: $u-btn-borderless-default-color-dark-theme;
  }

  @include u-disabled-button($u-btn-disabled-color-dark-theme, $u-btn-disabled-background-dark-theme);
}

%u-bg-dark-important {
  .u-btn-flat.u-btn-default {
    color: $u-btn-flat-default-background-dark-theme !important;
  }

  .u-btn-borderless.u-btn-default {
    color: $u-btn-borderless-default-color-dark-theme !important;
  }

  @include u-disabled-button($u-btn-disabled-color-dark-theme, $u-btn-disabled-background-dark-theme, true);
}

.rtl,
[dir="rtl"] {
  .u-btn-floating-extended {
    .u-btn-icon {
      margin-right: $u-btn-floating-extended-icon-margin - $u-btn-floating-extended-padding;
      margin-left: $u-btn-floating-extended-icon-margin;
    }
  }

  .u-btn-set {
    .u-btn + .u-btn {
      margin-right: $u-btn-set-margin;
      margin-left: 0;
    }
  }
}
