@import "variables";
@import "../../typography/variables";
@import "../../mixins";
@import "button-base";

@mixin u-all-buttons() {
  .u-elevated-btn,
  .u-filled-btn,
  .u-filled-tonal-btn,
  .u-text-btn,
  .u-outlined-btn,
  .u-icon-btn,
  .u-icon-filled-btn,
  .u-icon-filled-tonal-btn,
  .u-icon-outlined-btn,
  .u-floating-btn {
    @content;
  }
}

.u-floating-btn,
.u-elevated-btn,
.u-filled-btn,
.u-filled-tonal-btn,
.u-btn-tonal {
  &.disabled,
  &:disabled {
    background-color: none;
  }
}

.u-btn-set {
  display: inline-flex;

  @include u-all-buttons() {
    &:not(:first-child) {
      margin-inline-start: $u-btn-set-margin;
    }
  }
}

.u-text-btn,
.u-icon-btn,
.u-outlined-btn {
  background: transparent;
}

.u-text-btn,
.u-filled-btn,
.u-filled-tonal-btn,
.u-elevated-btn,
.u-outlined-btn {
  padding: 0 $u-btn-side-padding;
  border-radius: $u-btn-border-radius;
}

.u-elevated-btn {
  @extend %u-elevation-surface-tint-1;
  color: var(--u-primary-color);
  background-color: var(--u-surface-color);
}

.u-filled-btn,
.u-floating-btn {
  color: var(--u-on-primary-color);
  background-color: var(--u-primary-color);
}

.u-filled-tonal-btn {
  background: var(--u-secondary-container-color);
  color: var(--u-on-secondary-container-color);
}

.u-outlined-btn {
  border: $u-outlined-btn-border-width solid var(--u-outline-color);

  &::before,
  .u-ripple-wrapper {
    top: -$u-outlined-btn-border-width;
    right: -$u-outlined-btn-border-width;
    bottom: -$u-outlined-btn-border-width;
    left: -$u-outlined-btn-border-width;
  }
}

.u-floating-btn,
.u-elevated-btn,
.u-filled-btn,
.u-filled-tonal-btn {
  transition: box-shadow 250ms;
}
.u-floating-btn,
.u-elevated-btn {
  @include u-elevation-shadow(1);

  &:hover {
    @include u-elevation-shadow(3);
  }
}

.u-filled-btn,
.u-filled-tonal-btn {
  &:hover {
    @include u-elevation-shadow(1);
  }
}

.u-btn-icon {
  display: inline-block;
  width: $u-btn-icon-size;
  height: $u-btn-icon-size;
  margin-inline-start: $u-btn-icon-margin-start;
  margin-inline-end: $u-btn-icon-margin-end;
  font-size: $u-btn-icon-size;
  line-height: $u-btn-icon-size;
}

.u-btn-icon-end {
  margin-inline-start: $u-btn-icon-margin-end;
  margin-inline-end: $u-btn-icon-margin-start;
}

%u-icon-btn {
  width: $u-icon-btn-size !important;
  height: $u-icon-btn-size !important;
  padding: 0 !important;
  overflow: visible;
  border-radius: 50%;

  .u-btn-icon {
    width: $u-icon-btn-icon-size;
    height: $u-icon-btn-icon-size;
    margin: 0;
    font-size: $u-icon-btn-icon-size;
    line-height: $u-icon-btn-icon-size;
  }
}

.u-icon-filled-btn {
  @extend %u-icon-btn;

  &.u-icon-toggle-btn {
    color: var(--u-primary-color);
    background-color: var(--u-surface-variant-color);
  }

  &:not(.u-icon-toggle-btn),
  &.u-icon-toggle-btn.selected {
    @extend .u-filled-btn;
  }
}

.u-icon-filled-tonal-btn {
  @extend %u-icon-btn;

  &.u-icon-toggle-btn {
    color: var(--u-on-surface-variant-color);
    background-color: var(--u-surface-variant-color);
  }

  &:not(.u-icon-toggle-btn),
  &.u-icon-toggle-btn.selected {
    @extend .u-filled-tonal-btn;
  }
}

.u-icon-btn {
  @extend %u-icon-btn;
  color: var(--u-on-surface-variant-color);

  &.u-icon-toggle-btn.selected {
    color: var(--u-primary-color);
  }
}

.u-icon-outlined-btn {
  @extend %u-icon-btn;
  background-color: transparent;
  color: var(--u-on-surface-variant-color);
  border: $u-outlined-btn-border-width solid var(--u-outline-color);

  &.u-icon-toggle-btn.selected {
    color: var(--u-on-inverse-surface-color);
    background: var(--u-inverse-surface-color);
    border: none;
  }
}

.u-floating-btn {
  width: $u-floating-btn-size;
  height: $u-floating-btn-size !important;
  border-radius: $u-floating-btn-border-radius;
  color: var(--u-on-primary-container-color);
  background-color: var(--u-primary-container-color);

  .u-btn-icon {
    width: $u-icon-btn-icon-size;
    height: $u-icon-btn-icon-size;
    color: var(--u-on-primary-container-color);
    margin: 0;
    font-size: $u-icon-btn-icon-size;
    line-height: $u-icon-btn-icon-size;
  }

  &.u-btn-surface {
    background-color: var(--u-surface-color);

    .u-btn-icon {
      color: var(--u-primary-color);
    }
  }
}

.u-floating-btn-extended {
  width: auto;
  min-width: $u-floating-btn-extended-min-width;
  padding-inline: $u-floating-btn-extended-padding;

  .u-btn-icon {
    margin-inline-start: $u-floating-btn-extended-icon-margin - $u-floating-btn-extended-padding;
    margin-inline-end: $u-floating-btn-extended-icon-margin;
  }
}

.u-floating-btn-sm {
  width: $u-floating-btn-small-size;
  height: $u-floating-btn-small-size !important;
  border-radius: $u-floating-btn-small-border-radius !important;
}

.u-text-btn,
.u-outlined-btn {
  color: var(--u-primary-color);
}

@include u-all-buttons() {
  @extend %u-button-base;
  height: $u-btn-height;
  line-height: $u-btn-material-line-height;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;

  &.disabled,
  &:disabled {
    color: var(--u-on-surface-color) !important;
    box-shadow: none !important;
    opacity: var(--u-disabled-state-label-opacity);
    background-color: transparent !important;

    &::before {
      background-color: var(--u-on-surface-color);
      opacity: var(--u-disabled-state-background-opacity);
    }
  }
}

.u-text-btn,
.u-outlined-btn,
.u-icon-btn,
.u-icon-outlined-btn:not(.selected) {
  &.disabled,
  &:disabled {
    &::before {
      background: transparent;
    }
  }
}

@each $color-name, $color-value in $u-theme-colors {
  @if $color-name != "primary" {

    .u-filled-btn.u-btn-#{$color-name} {
      color: var(--u-on-#{$color-name}-color);
      background-color: var(--u-#{$color-name}-color);
    }

    .u-floating-btn.u-btn-#{$color-name} {
      background-color: var(--u-#{$color-name}-container-color);

      .u-btn-icon {
        color: var(--u-on-#{$color-name}-container-color);
      }
    }
  }
}
