@import "variables";

.floating-action-area {
  position: fixed;
  right: $floating-action-area-margin;
  bottom: $floating-action-area-margin;
}

.btn-floating {
  @extend .btn-raised;
  @extend .btn-secondary;

  overflow: hidden;

  @include size($floating-button-size);

  border-radius: 50%;
  font-size: $floating-button-icon-size;
  line-height: $floating-button-size;



  &.button-small {
    @include size($floating-button-small-size);
    line-height: $floating-button-small-size;
  }
}