@import "variables";
@import "../../font";
@import "../../mixins";

.u-floating-action-area {
  position: fixed;
  right: $u-floating-action-area-margin;
  bottom: $u-floating-action-area-margin;
}

.u-floating-menu-toggle {
  transition: opacity 150ms 100ms !important;

  .u-btn-icon {
    transition: transform 250ms 150ms;
  }
}

.u-floating-menu-items {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  pointer-events: none;
}

.u-floating-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;

  + .u-floating-menu-item {
    margin-bottom: 1rem;
  }

  &:nth-child(1) {
    transition: opacity 150ms 100ms;

    .u-btn-icon {
      transition: transform 250ms 100ms;
      transform: rotate(-90deg);
    }
  }
}

.u-floating-menu-label {
  @include u-elevation(2);

  display: flex;
  align-items: center;
  height: $u-floating-menu-label-height;
  padding-right: $u-floating-menu-label-padding;
  padding-left: $u-floating-menu-label-padding;
  margin-right: $u-floating-menu-label-margin;
  font-family: $u-font-family-base;
  white-space: nowrap;
  border-radius: $u-floating-menu-label-border-radius;
}

.u-floating-menu-action {
  width: $u-btn-floating-size;
  text-align: center;
}

.u-floating-menu:hover .u-floating-menu-toggle,
.u-floating-menu-toggle:focus {
  opacity: 0;
  transition-delay: 0ms;

  .u-btn-icon {
    transform: rotate(90deg);
  }
}

.u-floating-menu:hover .u-floating-menu-items,
.u-floating-menu-toggle:focus + .u-floating-menu-items {
  pointer-events: auto;
  opacity: 1;

  .u-floating-menu-item:nth-child(1) {
    opacity: 1;
    transition-delay: 100ms;

    .u-btn-icon {
      transition-delay: 100ms;
      transform: none;
    }
  }

  .u-floating-menu-item:not(:nth-child(1)) {
    animation: floating-menu-item-appear 250ms;
    animation-fill-mode: forwards;

    .u-floating-menu-action {
      animation: floating-menu-action-appear 250ms;
      animation-fill-mode: forwards;
    }
  }

  @for $i from 3 through 10 {
    .u-floating-menu-item:nth-child(#{$i}n) {
      animation-delay: #{$i * 25}ms;

      .u-floating-menu-action {
        animation-delay: #{$i * 25}ms;
      }
    }
  }
}

@keyframes floating-menu-item-appear {
  0% {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes floating-menu-action-appear {
  0% {
    transform: scale3d(0, 0, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.rtl,
[dir="rtl"] {
  .u-floating-action-area {
    right: auto;
    left: $u-floating-action-area-margin;
  }

  .u-floating-menu-items {
    right: auto;
    left: 0;
  }

  .u-floating-menu-label {
    margin-right: 0;
    margin-left: $u-floating-menu-label-margin;
  }
}

@mixin floating-action-button-theme($dark-theme) {
  $u-floating-menu-label-bg: $u-floating-menu-label-bg-light-theme;

  @if ($dark-theme) {
    $u-floating-menu-label-bg: $u-floating-menu-label-bg-dark-theme;
  }

  .u-floating-menu-label {
    background: $u-floating-menu-label-bg;
  }
}
