@import "variables";
@import "../../font";
@import "../../mixins";
@import "../../theme";

.u-floating-action-area {
  position: fixed;
  right: $u-floating-action-area-margin;
  bottom: $u-floating-action-area-margin;
}

.u-floating-menu {
  display: inline-flex;
  align-items: flex-end;
  flex-direction: column;

  .u-floating-btn + .u-floating-btn {
    margin-top: $u-floating-action-area-margin;
  }
}

.rtl,
[dir="rtl"] {
  .u-floating-action-area {
    right: auto;
    left: $u-floating-action-area-margin;
  }
}
