@import "variables";
@import "../../mixins";

@mixin button-flat-variant($color) {
  color: $color;
}

@mixin button-flat-theme($buttons-colors) {

  @each $color, $value in $buttons-colors {
    .u-btn-flat.u-btn-#{$color},
    .u-btn-outline.u-btn-#{$color},
    .u-btn-borderless.u-btn-#{$color} {
      @include button-flat-variant($value);
    }
  }
}

@mixin u-buttons-theme {

  $theme-colors: map-get($u-theme, "colors");
  $dark-theme: map-get($u-theme, "dark");
  $theme-style: map-get($u-theme, "style");

  $u-btn-disabled-color: $u-btn-disabled-color-light-theme;
  $u-btn-disabled-background-color: $u-btn-disabled-background-light-theme;
  $u-btn-outline-gray-border-color: $u-btn-outline-gray-border-color-light-theme;

  @if ($dark-theme) {
    $u-btn-disabled-color: $u-btn-disabled-color-dark-theme;
    $u-btn-disabled-background-color: $u-btn-disabled-background-dark-theme;
    $u-btn-outline-gray-border-color: $u-btn-outline-gray-border-color-dark-theme;
  }

  @each $color, $value in $theme-colors {
    .u-btn-solid.u-btn-#{$color} {
      @include button-solid-variant($value);
    }
  }

  .u-btn-solid.u-btn-default {
    @include button-solid-variant(if($dark-theme, $u-btn-solid-default-background-dark-theme, $u-btn-solid-default-background-light-theme));
  }

  .u-btn-outline-gray {
    @extend .u-btn-outline;
    border-color: $u-btn-outline-gray-border-color !important;
  }

  @include button-flat-theme($theme-colors);

  @if ($theme-style == "uwp") {
    @include uwp-button($dark-theme);
  }
}
