@import "../../colors";
@import "../../base-sizes";

$btn-disabled-background-light-theme: rgba(0, 0, 0, .12) !default;
$btn-disabled-background-dark-theme: rgba(255, 255, 255, .12) !default;
$btn-disabled-color-light-theme: rgba(0, 0, 0, .26) !default;
$btn-disabled-color-dark-theme: rgba(255, 255, 255, .3) !default;
$btn-side-padding: 1rem !default;
$btn-material-line-height: 1.5 !default;
$btn-height: 2.25rem !default;
$btn-border-radius: .25rem !default;
$btn-default-background-light: $white !default;
$btn-default-background-dark: $gray-800 !default;

$floating-action-area-margin: 1.25rem !default;
$btn-floating-size: 3.5rem !default;
$btn-floating-small-size: 2.5rem !default;
$btn-floating-extended-height: 3rem !default;
$btn-floating-extended-border-radius: $btn-floating-extended-height / 2 !default;
$btn-floating-extended-padding: 20px !default;
$btn-floating-extended-icon-margin: 12px !default;
$floating-button-icon-size: $base-icon-size !default;
$floating-menu-label-height: 2rem !default;
$floating-menu-label-padding: 12px !default;
$floating-menu-label-margin: 16px !default;
$floating-menu-label-border-radius: 4px !default;
$floating-menu-label-bg-light-theme: #fff !default;
$floating-menu-label-bg-dark-theme: #424242 !default;

$btn-borderless-font-size: $base-icon-size !default;
$btn-borderless-margin: 1rem !default;
$btn-borderless-size: 1.5rem !default;
$btn-borderless-action-size: 2.5rem !default;
$btn-borderless-icon-size: 1.5rem !default;

$btn-outline-border-width: .0625rem !default;
$btn-outline-gray-border-color-light-theme: rgba(0, 0, 0, .12) !default;
$btn-outline-gray-border-color-dark-theme: rgba(255, 255, 255, .12) !default;

$btn-icon-size: 1.125rem !default;
$btn-icon-margin-start: -4px !default;
$btn-icon-margin-end: 8px !default;

$uwp-btn-border-radius: 0 !default;
$uwp-btn-hover-border-width: $uwp-border-width !default;
$uwp-btn-active-background-color-light-theme: $color-low-contrast-light-theme !default;
$uwp-btn-active-background-color-dark-theme: rgba(204, 204, 204, .54) !default;
$uwp-btn-flat-active-background-color-light-theme: $hover-background-light-theme !default;
$uwp-btn-flat-active-background-color-dark-theme: $uwp-btn-active-background-color-dark-theme !default;

//Buttons dense
$btn-dense-font-size: .8125rem !default;
$btn-dense-size: 2rem !default;
$btn-icon-dense-size: 1rem !default;
