@import "variables";
@import "../../divider";
@import "../../font";
@import "../../mixins";

.u-list {
  padding-top: $u-list-vertical-margin;
  padding-bottom: $u-list-vertical-margin;
  margin: 0;
  font-family: $u-font-family-base;

  &,
  & * {
    box-sizing: border-box;
  }

  &.u-list-item-dividers {
    .u-list-item {
      position: relative;

      & + .u-list-item::after {
        position: absolute;
        top: -$u-list-divider-height;
        right: 0;
        left: 0;
        height: $u-list-divider-height;
        content: "";
        background: rgba(0, 0, 0, .2);
      }
    }
  }

  &.u-list-hover {
    .u-list-item {
      @include selectable-background-before();
    }
  }
}

.u-list-divider {
  @extend %divider;
  margin-top: $u-list-vertical-margin;
  margin-bottom: $u-list-vertical-margin;
}

.u-list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  min-height: $u-list-item-min-height;
  padding: $u-list-item-padding;
  text-decoration: none;

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
    outline: 0;
  }

  &.u-list-item-two-lines,
  &.u-list-item-three-lines,
  &.u-list-item-dynamic {
    .u-list-item-primary-content {
      display: block;
      line-height: $u-list-item-multi-line-line-height;
    }
  }

  &.u-list-item-three-lines,
  &.u-list-item-dynamic {
    .u-list-item-icon,
    .u-list-item-avatar,
    .u-list-item-secondary-content {
      align-self: baseline;
    }
  }
}

.u-list-item-icon,
.u-list-item-avatar {
  position: relative;
  font-size: $u-list-icon-size;
}

.u-list-item-avatar {
  @include size($u-list-avatar-size);

  min-width: $u-list-avatar-size;
  line-height: $u-list-avatar-size;
  border-radius: 50%;
}

.u-list-item-icon {
  width: $u-list-icon-size;
  min-width: $u-list-icon-size;
  line-height: $u-list-item-font-size;
}
//
//.u-list-item-icon.u-btn-borderless {
//  width: $btn-borderless-size;
//  margin-top: -$u-list-item-padding / 2;
//  margin-bottom: -$u-list-item-padding / 2;
//}

.u-list-item-icon + .u-list-item-primary-content {
  margin-left: $u-list-icon-avatar-text-left-distance - $u-list-icon-size - $u-list-item-padding;
}

.u-list-item-avatar + .u-list-item-primary-content {
  margin-left: $u-list-icon-avatar-text-left-distance - $u-list-avatar-size - $u-list-item-padding;
}

.u-list-item-primary-content ~ .u-list-item-icon {
  margin-left: $u-list-item-padding;
}

.u-list-item-primary-content ~ .u-list-item-icon.u-btn-borderless {
  margin-right: -$u-list-item-padding / 2;
  margin-left: $u-list-item-padding / 2;
}

.u-list-item-primary-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: $u-list-item-font-size;
  font-weight: $font-regular;
  line-height: $u-list-item-font-size;

  .secondary-text {
    font-size: .875rem;
  }
}

.u-list-item-secondary-content {
  margin-left: $u-list-item-padding;

  .u-list-item-icon {
    text-align: center;
  }
}

.u-list-item-hover {
  @include selectable-background-before();

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.u-list-group {
  display: flex;
}

.u-list-group-items {
  flex-grow: 1;
  overflow: hidden;
}

.u-list-index {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: $u-list-index-width;
  min-width: $u-list-index-width;
  height: $u-list-item-min-height;
  padding: $u-list-item-padding;
  font-size: $u-list-index-font-size;
  font-weight: $font-medium;
}

.dense-layout {
  .u-list {
    padding-top: $u-list-dense-vertical-padding;
    padding-bottom: $u-list-dense-vertical-padding;
  }

  .u-list-item {
    min-height: $u-list-item-dense-min-height;
    padding-top: $u-list-item-dense-padding;
    padding-bottom: $u-list-item-dense-padding;
  }

  .u-list-item-primary-content {
    font-size: $u-list-item-dense-font-size;
  }

  .u-list-item-icon {
    font-size: $u-list-dense-icon-size;
  }

  .u-list-item-icon.u-btn-borderless {
    width: $u-btn-dense-size;
  }

  .u-list-item-primary-content,
  .u-list-item-icon {
    line-height: $u-list-item-dense-font-size;
  }

  .u-list-index {
    font-size: $u-list-index-dense-font-size;
  }
}

.rtl,
[dir="rtl"] {
  .u-list-item-icon + .u-list-item-primary-content {
    margin-right: $u-list-icon-avatar-text-left-distance - $u-list-icon-size - $u-list-item-padding;
    margin-left: 0;
  }

  .u-list-item-avatar + .u-list-item-primary-content {
    margin-right: $u-list-icon-avatar-text-left-distance - $u-list-avatar-size - $u-list-item-padding;
    margin-left: 0;
  }
}

@mixin list-theme($dark-theme) {
  $color: $u-list-item-color-light-theme;
  $icon-color: $u-list-icon-color-light-theme;

  @if ($dark-theme) {
    $color: $u-list-item-color-dark-theme;
    $icon-color: $u-list-icon-color-dark-theme;
  }

  .u-list-item {
    color: $color;

    @include hover-focus {
      color: $color;
    }
  }

  .u-list-item-icon,
  .u-list-item-avatar {
    color: $icon-color;
  }

  .u-list-index {
    color: $icon-color;
  }
}
