@import "variables";
@import "theme";
@import "../../divider";
@import "../../font";
@import "../../mixins";
@import "../../placeholders";

.u-list {
  padding-top: $u-list-vertical-margin;
  padding-bottom: $u-list-vertical-margin;
  margin: 0;
  font-family: $u-font-family-base;

  &,
  & * {
    box-sizing: border-box;
  }

  &.u-list-item-dividers {
    .u-list-item {
      position: relative;

      & + .u-list-item::after {
        position: absolute;
        top: -$u-list-divider-height;
        right: 0;
        left: 0;
        height: $u-list-divider-height;
        content: "";
        background: rgba(0, 0, 0, .2);
      }
    }
  }

  &.u-list-selectable {
    .u-list-item {
      cursor: pointer;
      @extend %u-selectable-background-before;
    }
  }

  .u-list-item.active .u-list-item-hover,
  &.u-list-selectable .u-list-item.active {
    &:hover::before,
    &::before {
      opacity: .2;
    }

    &:focus::before {
      opacity: .3;
    }
  }
}

.u-list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  min-height: $u-list-item-min-height;
  padding: $u-list-item-padding;
  text-decoration: none;

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
    outline: 0;
  }

  &.u-list-item-two-lines,
  &.u-list-item-three-lines,
  &.u-list-item-dynamic {
    .u-list-item-primary-content {
      display: block;
      line-height: $u-list-item-multi-line-line-height;
    }
  }

  &.u-list-item-three-lines,
  &.u-list-item-dynamic {
    .u-list-item-icon,
    .u-list-item-avatar,
    .u-list-item-secondary-content {
      align-self: baseline;
    }
  }
}

.u-list-item-icon,
.u-list-item-avatar {
  position: relative;
  font-size: $u-list-icon-size;
}

.u-list-item-avatar {
  @include size($u-list-avatar-size);

  min-width: $u-list-avatar-size;
  line-height: $u-list-avatar-size;
  border-radius: 50%;
}

.u-list-item-icon {
  width: $u-list-icon-size;
  min-width: $u-list-icon-size;
  line-height: $u-list-item-font-size;
}

.u-list-item-icon + .u-list-item-primary-content {
  margin-left: $u-list-icon-avatar-margin;
}

.u-list-item-avatar + .u-list-item-primary-content {
  margin-left: $u-list-icon-avatar-margin;
}

.u-list-item-primary-content ~ .u-list-item-icon {
  margin-left: $u-list-item-padding;
}

.u-list-item-primary-content ~ .u-list-item-icon.u-btn-borderless {
  margin-right: -$u-list-item-padding / 2;
  margin-left: $u-list-item-padding / 2;
}

.u-list-item-primary-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: $u-list-item-font-size;
  font-weight: $u-font-weight-regular;
  line-height: $u-list-item-font-size;
}

.u-list-item-secondary-content {
  margin-left: $u-list-item-padding;

  .u-list-item-icon {
    text-align: center;
  }
}

.u-list-item-hover {
  @extend %u-selectable-background-before;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  border-radius: inherit;
}

.u-list-group {
  display: flex;
}

.u-list-group-items {
  flex-grow: 1;
  overflow: hidden;
}

.u-list-index {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: $u-list-index-width;
  min-width: $u-list-index-width;
  height: $u-list-item-min-height;
  padding: $u-list-item-padding;
  font-size: $u-list-index-font-size;
  font-weight: $u-font-weight-medium;
}

.u-list-section {
  padding: $u-list-item-padding;
  line-height: 1;
}

.rtl,
[dir="rtl"] {
  .u-list-item-icon + .u-list-item-primary-content {
    margin-right: $u-list-icon-avatar-margin;
    margin-left: 0;
  }

  .u-list-item-avatar + .u-list-item-primary-content {
    margin-right: $u-list-icon-avatar-margin;
    margin-left: 0;
  }

  .u-list-item-primary-content ~ .u-list-item-icon {
    margin-right: $u-list-item-padding;
    margin-left: 0;
  }
}
