@use "sass:math";

@import "variables";
@import "../../font";
@import "../../mixins";

.u-list {
  background-color: var(--u-surface-color);
  padding-block: $u-list-vertical-margin;
  margin: 0;
  font-family: $u-font-family-base;

  &,
  & * {
    box-sizing: border-box;
  }

  &.u-list-item-dividers {
    .u-list-item {
      position: relative;

      & + .u-list-item::after {
        position: absolute;
        top: -$u-list-divider-height;
        right: 0;
        left: 0;
        height: $u-list-divider-height;
        content: "";
        background: var(--u-surface-variant-color);
      }
    }
  }

  &.u-list-selectable {
    .u-list-item {
      cursor: pointer;
      @extend %u-selectable;
    }
  }

  .u-list-item.active .u-list-item-hover,
  &.u-list-selectable .u-list-item.active {
    &:hover::before,
    &::before {
      opacity: .2;
    }

    &:focus::before {
      opacity: .3;
    }
  }
}

.u-list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  min-height: $u-list-item-min-height;
  padding-block: $u-list-item-block-padding;
  padding-inline: $u-list-item-inline-padding;
  color: var(--u-on-surface);
  text-decoration: none;

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
    outline: 0;
  }

  &.u-list-item-three-lines,
  &.u-list-item-dynamic {
    .u-list-item-icon,
    .u-list-item-avatar {
      align-self: baseline;
    }
  }

  &.active {
    color: var(--u-primary-color) !important;
  }
}

.u-list-item-content {
  width: 100%;
}

.u-list-headline {
  @include umd-typography(body-l);
  @include text-truncate();
}

.u-list-supporting-text {
  @include umd-typography(body-m);
  color: var(--u-on-surface-variant-color);
  @include text-truncate();
}

.u-list-item-activity-icon {
  color: currentColor;
}

.u-list-item-icon,
.u-list-item-avatar {
  position: relative;
  font-size: $u-list-icon-size;
  color: var(--u-low-contrast-color);
}

.u-list-item-avatar {
  @include size($u-list-avatar-size);

  min-width: $u-list-avatar-size;
  line-height: $u-list-avatar-size;
  border-radius: 50%;
}

.u-list-item-icon {
  flex-shrink: 0;
  width: $u-list-icon-size;
  height: $u-list-icon-size;
  min-width: $u-list-icon-size;
  line-height: $u-list-icon-size;
}

.u-list-item-two-lines {
  min-height: $u-list-item-two-lines-min-height;
}

.u-list-item-three-lines,
.u-list-item-dynamic {
  min-height: $u-list-item-three-lines-min-height;

  .u-list-supporting-text {
    white-space: normal;
  }
}

.u-list-item-three-lines {

  .u-list-supporting-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.u-list-item-icon + .u-list-item-content {
  margin-inline-start: $u-list-item-content-margin;
}

.u-list-item-avatar + .u-list-item-content {
  margin-inline-start: $u-list-item-content-margin;
}

.u-list-item-content ~ .u-list-item-icon {
  margin-inline-start: $u-list-item-content-margin;
}

.u-list-item-content ~ .u-list-item-icon.u-icon-btn {
  margin-inline-start: math.div($u-list-item-end-padding, 2);
  margin-inline-end: math.div(-$u-list-item-end-padding, 2);
}

.u-list-item-hover {
  @extend %u-selectable;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  border-radius: inherit;
}

.u-list-group {
  display: flex;
}

.u-list-group-items {
  flex-grow: 1;
  overflow: hidden;
}

.u-list-index {
  @include umd-typography(title-l);

  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: $u-list-index-width;
  min-width: $u-list-index-width;
  height: $u-list-item-min-height;
  padding-block: $u-list-item-block-padding;
  padding-inline: $u-list-item-inline-padding;
  font-weight: $u-font-weight-medium;
  color: var(--u-primary-color);
}

.u-list-section {

  padding-block: $u-list-item-block-padding;
  padding-inline: $u-list-item-inline-padding;
  line-height: 1;
  color: var(--u-low-contrast-color);
}
