@import "variables";
@import "../../mixins";
@import "../../theming";

@mixin u-list-theme() {
  $theme-colors: map-get($u-theme, "colors");
  $primary-color: map-get($theme-colors, "primary");

  .u-list-item {
    @include inverted-mode($u-list-item-color-light-theme, $u-list-item-color-dark-theme) using ($color) {
      color: $color;
    }

    @include hover-focus {
      @include inverted-mode($u-list-item-color-light-theme, $u-list-item-color-dark-theme) using ($color) {
        color: $color;
      }
    }

    &.active {
      color: $primary-color !important;

      .u-list-item-activity-icon {
        color: currentColor;
      }
    }
  }

  .u-list-item-icon,
  .u-list-item-avatar {
    @include inverted-mode($u-list-icon-color-light-theme, $u-list-icon-color-dark-theme) using ($color) {
      color: $color;
    }
  }

  .u-list-index {
    @include inverted-mode($u-list-icon-color-light-theme, $u-list-icon-color-dark-theme) using ($color) {
      color: $color;
    }
  }

  .u-list-section {
    @include inverted-mode($u-text-low-contrast-light-theme, $u-text-low-contrast-dark-theme) using ($color) {
      color: $color;
    }
  }
}
