@import "variables";
@import "../../mixins";
@import "../../theming";

@mixin u-list-theme() {
  $dark-theme: map-get($u-theme, "dark");

  $theme-colors: map-get($u-theme, "colors");
  $primary-color: map-get($theme-colors, "primary");

  $color: $u-list-item-color-light-theme;
  $icon-color: $u-list-icon-color-light-theme;
  $section-color: $u-text-low-contrast-light-theme;

  @if ($dark-theme) {
    $color: $u-list-item-color-dark-theme;
    $icon-color: $u-list-icon-color-dark-theme;
    $section-color: $u-text-low-contrast-dark-theme;
  }

  .u-list-item {
    color: $color;

    @include hover-focus {
      color: $color;
    }

    &.active {
      color: $primary-color;

      .u-list-item-activity-icon {
        color: currentColor;
      }
    }
  }

  .u-list-item.active,
  .u-list.u-list-selectable .u-list-item.active {
    &:hover::before,
    &::before {
      opacity: .2;
    }

    &:focus::before {
      opacity: .3;
    }
  }

  .u-list-item-icon,
  .u-list-item-avatar {
    color: $icon-color;
  }

  .u-list-index {
    color: $icon-color;
  }

  .u-list-section {
    color: $section-color;
  }
}
