@import "../../base-sizes";
@import "../../colors";
@import "../../utilities/variables";

$u-list-vertical-margin: 8px !default;

$u-list-icon-size: $base-icon-size !default;
$u-list-avatar-size: $avatar-size !default;

$u-list-item-end-padding: 24px !default;
$u-list-item-padding: 8px $u-list-item-end-padding 8px 16px !default;
$u-list-item-content-margin: 16px;

$u-list-item-min-height: 56px !default;
$u-list-item-two-lines-min-height: 72px !default;
$u-list-item-three-lines-min-height: 88px !default;

$u-list-index-width: 3.5rem !default;

$u-list-divider-height: $u-divider-height !default;
