@import "variables";
@import "../../animations";
@import "../../font";
@import "../../zindex";
@import "../../mixins";

:root {
  --u-dropdown-menu-border-radius: #{$u-dropdown-menu-border-radius};
}

.u-dropdown-menu {
  @include u-elevation-shadow(2);
  @extend %u-elevation-surface-tint-2;
  background-color: var(--u-surface-color);

  position: absolute;
  z-index: $zindex-dropdown;
  min-width: $u-dropdown-menu-min-width;
  padding-block: $u-dropdown-menu-padding;
  overflow: hidden;
  font-family: $u-font-family-base;
  border-radius: var(--u-dropdown-menu-border-radius);
  opacity: 0;
  transition: transform 350ms $awesome-cubic-bezier 350ms, opacity 350ms;
  transform: scale3d(0, 0, 1);
  transform-origin: top left;

  &.down {
    top: 100%;
    left: 0;
    transform: scale3d(1, 0, 0);
    transform-origin: top;
  }

  &.up {
    bottom: 100%;
    left: 0;
    transform: scale3d(1, 0, 0);
    transform-origin: bottom;
  }

  &.down-right,
  &.down-end {
    top: 100%;
    left: 0;
    transform-origin: top left;
  }

  &.down-left,
  &.down-start {
    top: 100%;
    right: 0;
    transform-origin: top right;
  }

  &.up-right,
  &.up-end {
    bottom: 100%;
    left: 0;
    transform-origin: bottom left;
  }

  &.up-left,
  &.up-start {
    right: 0;
    bottom: 100%;
    transform-origin: bottom right;
  }

  &.fit-width {
    right: 0;
    left: 0;
  }
}

.u-dropdown-content {
  opacity: 0;
  transition: opacity 1ms 400ms;
}

.u-dropdown-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: $u-dropdown-item-height;
  padding: 0 $u-dropdown-item-padding;
  font-size: $u-dropdown-item-font-size;
  color: var(--u-high-emphasis-color);
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  outline: 0;

  @include hover-focus() {
    color: var(--u-high-emphasis-color);
  }

  @extend %u-selectable;

  @include hover-focus {
    text-decoration: none;
    outline: 0;
  }
}

.u-dropdown-toggle {
  display: flex;
  align-items: center;
}

.u-dropdown-toggle-label {
  flex-grow: 1;
}

.u-dropdown-toggle-icon {
  &::before {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top: $u-dropdown-icon-size solid currentColor;
    border-right: $u-dropdown-icon-size solid transparent;
    border-left: $u-dropdown-icon-size solid transparent;
  }
}

.u-dropdown {
  position: relative;

  &,
  & * {
    box-sizing: border-box;
  }
}

.u-dropdown-menu.show {
  opacity: 1;
  transition: transform 350ms $awesome-cubic-bezier, opacity 250ms;
  transform: scale3d(1, 1, 1);

  .u-dropdown-content {
    opacity: 1;
    transition: opacity 300ms 150ms;
  }
}

.rtl,
[dir="rtl"] {
  .u-dropdown-menu {

    &.up-start {
      right: auto;
      left: 0;
      transform-origin: bottom left;
    }

    &.up-end {
      right: 0;
      left: auto;
      transform-origin: bottom right;
    }

    &.down-start {
      right: auto;
      left: 0;
      transform-origin: top left;
    }

    &.down-end {
      right: 0;
      left: auto;
      transform-origin: top right;
    }

    &.up {
      right: 0;
      left: auto;
    }

    &.down {
      right: 0;
      left: auto;
    }
  }
}
