$dropdown-menu-border-radius: .25rem !default;
$dropdown-menu-padding: 8px !default;
$dropdown-menu-min-width: 112px !default;
$dropdown-menu-bg-light-theme: #fff !default;
$dropdown-menu-bg-dark-theme: #424242 !default;

$dropdown-item-height: 3rem !default;
$dropdown-item-padding: 16px !default;
$dropdown-item-font-size: 1rem !default;

$dropdown-item-color-light-theme: $body-color-light-theme !default;
$dropdown-item-color-dark-theme: $body-color-dark-theme !default;

$dropdown-in-data-table-bg-light-theme: #fafafa !default;
$dropdown-in-data-table-bg-dark-theme: $gray-700 !default;

$dropdown-in-data-table-toggle-icon-size: 22px !default;
$dropdown-icon-size: .3rem !default;
$dropdown-icon-color-light-theme: $color-low-contrast-light-theme !default;
$dropdown-icon-color-dark-theme: $color-low-contrast-dark-theme !default;

$uwp-dropdown-border-width: .0625rem !default;
$uwp-dropdown-border-color-light-theme: $base-semi-transparent-color !default;
$uwp-dropdown-border-color-dark-theme: rgba(204, 204, 204, .54) !default;

$dropdown-item-dense-height: 2rem !default;
$dropdown-item-dense-font-size: .9375rem !default;
