@import "../../colors";

$u-dropdown-menu-border-radius: 4px !default;
$u-dropdown-menu-padding: 8px !default;
$u-dropdown-menu-min-width: 112px !default;

$u-dropdown-item-height: 3rem !default;
$u-dropdown-item-padding: 16px !default;
$u-dropdown-item-font-size: 1rem !default;

$u-dropdown-in-data-table-toggle-icon-size: 22px !default;
$u-dropdown-icon-size: .2em !default;
