@import "../../colors";

//Sidebar
$u-drawer-sidebar-width: 16rem !default;
$u-drawer-background-color-light-theme: #fff !default;
$u-drawer-background-color-dark-theme: #424242 !default;

$u-drawer-backdrop-bg: $black !default;
$u-drawer-backdrop-opacity: .5 !default;
