@import "../../colors";

//Sidebar
$sidebar-width: 16rem !default;
$sidebar-background-color-light-theme: #fff !default;
$sidebar-background-color-dark-theme: #424242 !default;

$sidebar-backdrop-bg: $black !default;
$sidebar-backdrop-opacity: .5 !default;
