@mixin ios-toolbar() {
  .u-toolbar-start,
  .u-toolbar-end {
    display: inline-flex;
    flex: 2;
  }

  .u-toolbar-start {
    align-items: flex-start;
  }

  .u-toolbar-end {
    align-items: flex-end;
  }

  .u-toolbar-center {
    text-align: center;
  }
}
