$ios-toolbar-height: 3rem !default;
$ios-toolbar-background-light-theme: #f7f7f7 !default;

@mixin ios-toolbar($theme-colors) {
  .u-toolbar {
    background: $ios-toolbar-background-light-theme;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  .u-toolbar-start,
  .u-toolbar-end {
    display: inline-flex;
    flex: 1;
  }

  .u-toolbar-start {
    align-items: flex-start;
  }

  .u-toolbar-end {
    align-items: flex-end;
  }

  .u-toolbar-center {
    flex: 2;
    text-align: center;
  }

  .u-toolbar-row {
    height: $ios-toolbar-height;
  }

  .u-toolbar-elevated {
    box-shadow: none;
  }

  @each $color, $value in $theme-colors {
    .u-toolbar-#{$color} {
      .u-toolbar-action {
        &.u-btn-default,
        & .u-btn-default {
          @extend .u-btn-#{$color} !optional;
        }
      }
    }
  }
}
