@import "../../mixins";
@import "../../theming";
@import "../../placeholders";
@import "ios-toolbar";

@mixin u-toolbar-theme {

  $toolbar-colors: map-get($u-theme, "toolbar-colors");
  $dark-theme: map-get($u-theme, "dark");
  $theme-style: map-get($u-theme, "style");

  $color: $u-body-color-light-theme;

  @if ($dark-theme) {
    $color: $u-body-color-dark-theme;
  }

  .u-material {
    @each $color, $value in $toolbar-colors {
      @include u-bg-variant(".u-toolbar-#{$color}", $value);
    }
  }

  @if ($u-include-ios-styles) {
    .u-ios {
      @include ios-toolbar($toolbar-colors);
    }
  }
}

@mixin u-toolbar-variant($background-color) {

  $dark-background: is-dark-background($background-color);

  background-color: $background-color;
  @if ($dark-background) {
    @extend %u-bg-dark;
  } @else {
    @extend %u-bg-light;
  }
}
