@import "../../mixins";
@import "../../theming";
@import "../../placeholders";
@import "../../utilities/background";
@import "ios-toolbar";

@mixin u-toolbar-theme {

  $theme-colors: map-get($u-theme, "colors");
  $dark-theme: map-get($u-theme, "dark");
  $default-style: map-get($u-theme, "default-style");

  $color: $u-body-color-light-theme;

  @if ($dark-theme) {
    $color: $u-body-color-dark-theme;
  }

  @if ($default-style == "android" or $default-style == "uwp") {
    @include extend-bg-colors(".u-toolbar-");
  } @else if ($default-style == "ios") {
    @include ios-toolbar;

    .u-toolbar {
      background: #fafafa;
    }

    @each $color, $value in $theme-colors {
      .u-toolbar-#{$color} {
        .u-btn-default {
          @extend .u-btn-#{$color} !optional;
        }
      }
    }
  }
}

@mixin u-toolbar-background-color-variant($background-color) {

  $dark-background: is-dark-background($background-color);

  background-color: $background-color;
  @if ($dark-background) {
    @extend %u-bg-dark;
  } @else {
    @extend %u-bg-light;
  }
}
