@import "variables";
@import "theme";
@import "../../zindex";
@import "../../typography/variables";
@import "../../mixins";
@import "../../utilities/add-to-parent-or-class";

.u-toolbar {
  z-index: 1;
  display: block;
  font-family: $u-font-family-base;

  &,
  * {
    box-sizing: border-box;
  }
}

.u-toolbar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $u-toolbar-height;
}

.u-toolbar-start {
  display: inline-flex;
  justify-content: flex-start;
}

.u-toolbar-end {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: auto;
}

.u-toolbar-title {
  @include umd-typography(headline6);
  @include text-truncate;
  flex-grow: 1;
  margin-left: $u-toolbar-title-margin;
  font-weight: 400;
  text-align: start;
}

.u-toolbar-navigation {
  &,
  &.u-btn-borderless {
    width: $u-toolbar-navigation-size;
    height: $u-toolbar-navigation-size;
  }

  margin-right: $u-toolbar-navigation-margin;
  margin-left: $u-toolbar-navigation-margin;
}

.u-toolbar-actions {
  display: flex;
  align-items: center;
  padding: $u-toolbar-actions-padding;
}

.u-toolbar-action {
  text-align: center;

  + .u-toolbar-action {
    margin-left: $u-toolbar-action-margin;
  }
}

.u-toolbar-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-toolbar-fixed;
}

.dense-layout {
  .u-toolbar-row {
    height: $u-toolbar-dense-height;
  }
}

.rtl,
[dir="rtl"] {
  .u-toolbar-title {
    margin-right: $u-toolbar-title-margin;
    margin-left: 0;
  }

  .u-toolbar-end {
    margin-right: auto;
    margin-left: 0;
  }
}
