@import "variables";
@import "../../zindex";
@import "../../typography/variables";
@import "../../mixins";
@import "../../utilities/add-to-parent-or-class";
@import "ios-toolbar";

.u-toolbar {
  z-index: 1;
  width: 100%;
  font-family: $u-font-family-base;
}

.u-toolbar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $u-toolbar-height;
}

.u-toolbar-start {
  display: inline-flex;
  justify-content: flex-start;
}

.u-toolbar-end {
  display: inline-flex;
  justify-content: flex-end;
}

.u-toolbar-start + .u-toolbar-end {
  margin-left: auto;
}

.u-toolbar-title {
  @include umd-typography(headline6);
  @include text-truncate;
  flex-grow: 1;
  margin-left: $u-toolbar-title-margin;
  font-weight: 400;
  text-align: start;
}

.u-toolbar-icon,
.u-toolbar-action {
  font-size: $u-toolbar-action-icon-size;
}

.u-toolbar-navigation {
  &,
  &.u-btn-borderless {
    width: $u-toolbar-navigation-size;
    height: $u-toolbar-navigation-size;
  }

  margin-right: $u-toolbar-navigation-margin;
  margin-left: $u-toolbar-navigation-margin;
}

.u-toolbar-actions {
  display: flex;
  align-items: center;
  padding: $u-toolbar-actions-padding;
}

.u-toolbar-action {
  text-align: center;

  &,
  &.u-btn-borderless {
    width: $u-toolbar-action-size;
    height: $u-toolbar-action-size;

    + .u-toolbar-action {
      margin-left: $u-toolbar-action-margin;
    }
  }
}

.u-toolbar-fixed {
  position: fixed;
  z-index: $zindex-toolbar-fixed;
}

.u-toolbar-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dense-layout {
  .u-toolbar-row {
    height: $u-toolbar-dense-height;
  }
}

.rtl,
[dir="rtl"] {
  .u-toolbar-title {
    margin-right: $u-toolbar-title-margin;
    margin-left: 0;
  }

  .u-toolbar-start + .u-toolbar-end {
    margin-right: auto;
    margin-left: 0;
  }
}

@mixin toolbar-theme($theme-colors, $dark-theme) {

  $color: $body-color-light-theme;
  $button-borderless-color: $u-toolbar-icon-color-light-theme;

  @if ($dark-theme) {
    $color: $body-color-dark-theme;
    $button-borderless-color: $u-toolbar-icon-color-dark-theme;
  }

  @include add-to-parent-or-class("toolbar") {
    color: $color;

    @if (mixin_exists(tab-text-color)) {
      @include tab-text-color($theme-colors, $dark-theme);
    }
  }

  @if & == null {
    $u-toolbar-primary: map_get($theme-colors, "primary");
    $dark-background: is-dark-background($u-toolbar-primary);

    .u-toolbar-primary {
      @include toolbar-variant($theme-colors, $u-toolbar-primary);
      //@include button-borderless-theme((), $dark-background);
    }
  }
}

//@include ios-toolbar;
