//Toolbar
$toolbar-height: 3.5rem !default;
$toolbar-navigation-margin: 8px !default;
$toolbar-title-margin: 16px !default;

$toolbar-actions-padding: 8px !default;
$toolbar-action-margin: 8px !default;

$toolbar-action-icon-size: 1.5rem !default;

$toolbar-icon-color-light-theme: $text-low-contrast-light-theme !default;
$toolbar-icon-color-dark-theme: $white !default;

//Toolbar dense
$toolbar-dense-height: 3rem !default;