@import "../../colors";

//Toolbar
$u-toolbar-row-inline-padding: 16px !default;
$u-toolbar-section-margin: 16px !default;

$u-toolbar-height: 3.5rem !default;
$u-toolbar-navigation-size: 2.5rem !default;
$u-toolbar-navigation-margin: 8px !default;

$u-toolbar-actions-padding: 8px !default;
$u-toolbar-action-size: 2.5rem !default;
$u-toolbar-action-margin: 8px !default;

$u-toolbar-action-icon-size: 1.5rem !default;
