@use "sass:math";

@function is-dark-background($background-color) {
  //http://stackoverflow.com/questions/11867545/change-text-color-based-on-brightness-of-the-covered-background-area
  $r: red($background-color);
  $g: green($background-color);
  $b: blue($background-color);

  $o: round(math.div($r * 299 + $g * 587 + $b * 114, 1000));

  @if $o > 125 {
    @return false;
  }
  @else {
    @return true;
  }
}

@function get-text-color-by-background-color($background-color, $light-text-color: $body-color) {
  @if is-dark-background($background-color) {
    @return #fff;
  }
  @else {
    @return $light-text-color;
  }
}

@mixin background-and-text-color($background-color) {
  color: get-text-color-by-background-color($background-color);
  background-color: $background-color;
}
