@use "sass:math";

@mixin u-text-light-vars() {
  --u-high-emphasis-color: rgba(var(--u-on-light-background-color-rgb), var(--u-high-emphasis-opacity)) !important;
  --u-low-emphasis-color: rgba(var(--u-on-light-background-color-rgb), var(--u-low-emphasis-opacity)) !important;
  --u-lower-emphasis-color: rgba(var(--u-on-light-background-color-rgb), var(--u-lower-emphasis-opacity)) !important;
}

@mixin u-text-dark-vars() {
  --u-high-emphasis-color: rgba(var(--u-on-dark-background-color-rgb), var(--u-high-emphasis-opacity)) !important;
  --u-low-emphasis-color: rgba(var(--u-on-dark-background-color-rgb), var(--u-low-emphasis-opacity)) !important;
  --u-lower-emphasis-color: rgba(var(--u-on-dark-background-color-rgb), var(--u-lower-emphasis-opacity)) !important;
}


@mixin u-text-inverse-vars() {
  --u-high-emphasis-color: rgba(var(--u-on-inverse-background-color-rgb), var(--u-high-emphasis-opacity)) !important;
  --u-low-emphasis-color: rgba(var(--u-on-inverse-background-color-rgb), var(--u-low-emphasis-opacity)) !important;
  --u-lower-emphasis-color: rgba(var(--u-on-inverse-background-color-rgb), var(--u-lower-emphasis-opacity)) !important;
}
