@use "sass:list";

@import "../theming";

@mixin create-light-theme {

  $background-color: map-get($u-theme, "bg-light");

  @if & {
    & {
      background-color: $background-color;
      @extend %u-bg-light !optional;
    }
  } @else {
    body {
      background-color: $background-color;
      @extend %u-bg-light !optional;
    }
  }
}

@mixin create-dark-theme {
  $background-color: map-get($u-theme, "bg-dark");

  @if & {
    & {
      background-color: $background-color;
      @extend %u-bg-dark !optional;
    }
  } @else {
    body {
      background-color: $background-color;
      @extend %u-bg-dark !optional;
    }
  }
}

@mixin u-create-default-theme {

  @if (mixin_exists(background-colors-theme)) {
    @include background-colors-theme;
  }

  @if (mixin_exists(u-buttons-theme)) {
    @include u-buttons-theme;
  }

  @if (mixin_exists(u-floating-action-button-theme)) {
    @include u-floating-action-button-theme;
  }

  @if (mixin_exists(u-drawer-theme)) {
    @include u-drawer-theme;
  }

  @if (mixin_exists(u-list-theme)) {
    @include u-list-theme;
  }

  @if (mixin_exists(u-card-theme)) {
    @include u-card-theme;
  }

  @if (mixin_exists(u-divider-theme)) {
    @include u-divider-theme;
  }

  @if (mixin_exists(u-dialog-theme)) {
    @include u-dialog-theme;
  }

  @if (mixin_exists(u-dropdown-theme)) {
    @include u-dropdown-theme;
  }

  @if (mixin_exists(u-chip-theme)) {
    @include u-chip-theme;
  }

  @if (mixin_exists(u-checkbox-theme)) {
    @include u-checkbox-theme;
  }

  @if (mixin_exists(u-radio-theme)) {
    @include u-radio-theme;
  }

  @if (mixin_exists(u-switch-theme)) {
    @include u-switch-theme;
  }

  @if (mixin_exists(u-slider-theme)) {
    @include u-slider-theme;
  }

  @if (mixin_exists(u-snackbar-theme)) {
    @include u-snackbar-theme;
  }

  @if (mixin_exists(u-tab-theme)) {
    @include u-tab-theme;
  }

  @if (mixin_exists(u-text-fields-theme)) {
    @include u-text-fields-theme;
  }

  @if (mixin_exists(u-data-table-theme)) {
    @include u-data-table-theme;
  }

  @if (mixin_exists(u-toolbar-theme)) {
    @include u-toolbar-theme;
  }

  @if (mixin_exists(u-text-theme)) {
    @include u-text-theme;
  }

  @if (mixin_exists(u-progress-theme)) {
    @include u-progress-theme;
  }

  @if (mixin_exists(u-datepicker-theme)) {
    @include u-datepicker-theme;
  }

  @if (mixin_exists(u-stepper-theme)) {
    @include u-stepper-theme;
  }

  @if (mixin_exists(u-divider-theme)) {
    @include u-divider-theme;
  }

  $dark-theme: map-get($u-theme, "dark");

  body {
    @include inverted-mode($u-bg-light, $u-bg-dark, true) using($color) {
      background-color: $color;
    }
    @include inverted-mode("%u-bg-light", "%u-bg-dark", true) using($selector) {
      @extend #{$selector} !optional;
    }
  }
  .u-light-mode .u-bg-dark {
    @extend .u-bg-dark;
  }

}
