@import "variables";
@import "../../colors";
@import "../../font";
@import "../../mixins";

:root {
  --u-card-border-radius: #{$u-card-border-radius};
  --u-card-padding: #{$u-card-padding};
  --u-card-outlined-border: #{$u-card-outlined-border};
}

%u-card {
  font-family: $u-font-family-base;
  border-radius: var(--u-card-border-radius);
  background-color: var(--u-surface-color);
}

.u-card-filled {
  @extend %u-card;
  background-color: var(--u-surface-variant-color);

  &.u-selectable {
    &:hover {
      @extend %u-elevation-surface-tint-1;
    }

    &.dragging {
      @extend %u-elevation-surface-tint-3;
    }
  }
}

.u-card-elevated {
  @extend %u-card;
  @include u-elevation-shadow(1);
  @extend %u-elevation-surface-tint-1;
}

.u-card-outlined {
  @extend %u-card;
  border: var(--u-card-outlined-border);
}

.u-card-media {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.u-card-actions,
.u-card-content,
.u-card-media {
  &:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }
}

.u-card-media-square {
  padding-bottom: 100%;
}

.u-card-media-wide {
  padding-bottom: 56.25%;
}

.u-card-media-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.u-card-content {
  padding: var(--u-card-padding);
}

@include u-extend-action-set("u-card");

.u-card-actions {
  justify-content: flex-end;
  padding: var(--u-card-padding);
}
