@import "variables";
@import "../../colors";
@import "../../font";
@import "../../mixins";
@import "../../theme";
@import "../../placeholders";

.u-card {
  background: var(--u-surface-elevation-tint-1);

  font-family: $u-font-family-base;
  border-radius: $u-card-border-radius;
}

.u-card-elevated {
  box-shadow: $u-card-shadow;
}

.u-card-outlined {
  border: $u-card-outlined-border;
}

.u-card-media {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.u-card-actions,
.u-card-content,
.u-card-media {
  &:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }
}

.u-card-media-square {
  padding-bottom: 100%;
}

.u-card-media-wide {
  padding-bottom: 56.25%;
}

.u-card-media-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, .6);
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;

  @extend .u-bg-dark;
}

.u-card-content {
  padding: $u-card-padding $u-card-padding;
}

@include u-extend-action-set("u-card");

.u-card-actions {
  justify-content: flex-end;
  padding: $u-card-actions-padding;
}

.u-card {
  .u-text-field-outline label {
    background-color: var(--u-surface-color);
  }
}

