@use "sass:math";

@import "variables";
@import "../../mixins";

.u-slider {
  position: relative;
  height: $u-slider-action-size;

  input[type="range"] {
    position: absolute;
    top: 50%;
    left: math.div(-$u-slider-action-size, 2);
    width: calc(100% + #{$u-slider-action-size}); /* Specific width is required for Firefox. */
    height: $u-slider-action-size;
    padding: 0;
    margin-top: math.div(-$u-slider-action-size, 2);
    cursor: pointer;
    background: transparent; /* Otherwise white in Chrome */
    opacity: 0;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */

    &::-webkit-slider-thumb {
      position: relative;
      top: 50%;
      width: $u-slider-action-size;
      height: $u-slider-action-size;
      background: transparent;
      -webkit-appearance: none;
    }

    &::-moz-range-thumb {
      position: relative;
      top: 50%;
      width: $u-slider-action-size;
      height: $u-slider-action-size;
      background: transparent;
      border: none;
    }

    &:not(:disabled)::-webkit-slider-thumb,
    &:not(:disabled)::-moz-range-thumb {
      cursor: pointer;
    }

    &:focus {
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */

      &:not(:disabled) ~ .u-slider-thumb-container .u-slider-thumb::before {
        opacity: var(--u-focus-state-layer-opacity);
      }
    }

    &:hover:not(:disabled) ~ .u-slider-thumb-container .u-slider-thumb::before {
      transform: scale3d(1, 1, 1);
    }

    &:disabled {
      cursor: default;

      &::-webkit-slider-thumb,
      &::-moz-range-thumb,
      ~ .u-slider-thumb-container .u-slider-thumb::after {
        cursor: default;
      }

      ~ .u-slider-thumb-container .u-slider-thumb,
      ~ .u-slider-track-container {
        .u-slider-track,
        &::after {
          background-color: var(--u-on-surface-color);
          opacity: var(--u-disabled-state-opacity);
        }
      }

      ~ .u-slider-track-container::after {
        opacity: var(--u-disabled-state-background-opacity);
      }
    }
  }


}

.u-slider-track-marker-container {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $u-slider-track-size;
  margin-top: math.div(-$u-slider-track-size, 2);
}

.u-slider-track-marker {
  width: $u-slider-track-size;
  height: $u-slider-track-size;
  border-radius: 50%;
  opacity: .5;
  background: var(--u-on-surface-variant-color);
}

.u-slider-track-container {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  width: 100%;
  height: $u-slider-track-size;
  margin-top: math.div(-$u-slider-track-size, 2);
  overflow: hidden;
  pointer-events: none;

  &::before {
    display: block;
    flex-shrink: 1;
    order: 1;
    width: $u-slider-thumb-size;
    height: 100%;
    content: "";
    background: transparent;
    transition: width 150ms;
    will-change: width;
  }

  &::after {
    display: block;
    flex-shrink: 1;
    flex-grow: 1;
    order: 2;
    height: 100%;
    content: "";
    background: var(--u-surface-variant-color);
  }
}

.u-slider-track {
  flex-shrink: 0;
  height: 100%;
  margin-inline-start: -(math.div($u-slider-thumb-size, 2));
  background: var(--u-primary-color);
}

.u-slider-thumb-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: $u-slider-action-size;
  margin-top: math.div(-$u-slider-action-size, 2);
  pointer-events: none;
}

.u-slider-thumb {
  position: relative;
  height: 100%;

  &::before {
    position: absolute;
    top: 0;
    right: math.div(-$u-slider-action-size, 2);
    width: $u-slider-action-size;
    height: $u-slider-action-size;
    content: "";
    background: var(--u-primary-color);
    border-radius: 50%;
    opacity: var(--u-hover-state-layer-opacity);
    transition: transform 150ms, opacity 100ms;
    transform: scale3d(0, 0, 1);
  }

  &::after {
    position: absolute;
    top: 50%;
    right: math.div(-$u-slider-thumb-size, 2);
    width: $u-slider-thumb-size;
    height: $u-slider-thumb-size;
    margin-top: math.div(-$u-slider-thumb-size, 2);
    content: "";
    background: var(--u-primary-color);
    border-radius: 50%;
    transition: transform 150ms;
  }
}

.rtl,
[dir="rtl"] {
  .u-slider-thumb {
    right: 0;

    &::before {
      right: auto;
      left: math.div(-$u-slider-action-size, 2);
    }

    &::after {
      right: auto;
      left: math.div(-$u-slider-thumb-size, 2);
    }
  }

  .u-slider-track {
    right: 0;
    left: auto;
  }
}
