@import "variables";
@import "theme";
@import "../../mixins";

.u-slider {
  position: relative;
  height: $u-slider-action-size;

  input[type="range"] {
    position: absolute;
    top: 50%;
    left: -$u-slider-action-size / 2;
    width: calc(100% + #{$u-slider-action-size}); /* Specific width is required for Firefox. */
    height: $u-slider-action-size;
    padding: 0;
    margin-top: -$u-slider-action-size / 2;
    background: transparent; /* Otherwise white in Chrome */
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  .u-slider-track {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: $u-slider-track-size;
    margin-top: -$u-slider-track-size / 2;
    pointer-events: none;
    background: currentColor;
    opacity: .5;
  }
}

.u-slider-thumb {
  position: absolute;
  top: 50%;
  width: $u-slider-action-size;
  height: $u-slider-action-size;
  margin-top: -$u-slider-action-size / 2;
  margin-left: -$u-slider-action-size / 2;
  overflow: hidden;
  pointer-events: none;
  border-radius: 50%;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: currentColor;
    opacity: 0;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $u-slider-thumb-size;
    height: $u-slider-thumb-size;
    margin-top: -$u-slider-thumb-size / 2;
    margin-left: -$u-slider-thumb-size / 2;
    content: "";
    background: currentColor;
    border-radius: 50%;
  }
}

/* Special styling for WebKit/Blink */
.u-slider {
  input[type="range"]::-ms-track {
    height: $u-slider-action-size;
  }

  input[type="range"]::-ms-thumb {
    width: $u-slider-action-size;
    height: $u-slider-action-size;
  }

  input[type="range"]::-webkit-slider-thumb {
    position: relative;
    top: 50%;
    width: $u-slider-action-size;
    height: $u-slider-action-size;
    cursor: pointer;
    background: red;
    -webkit-appearance: none;
  }

  input[type="range"]::-moz-range-thumb {
    position: relative;
    top: 50%;
    width: $u-slider-action-size;
    height: $u-slider-action-size;
    cursor: pointer;
    background: red;
    border: none;
  }

  input[type="range"] {
    &:focus + .u-slider-thumb::before,
    &:hover + .u-slider-thumb::before {
      opacity: .2;
    }

    &:focus+ .u-slider-thumb::after,
    &:active + .u-slider-thumb::after {
      width: $u-slider-thumb-size-active;
      height: $u-slider-thumb-size-active;
      margin-top: -$u-slider-thumb-size-active / 2;
      margin-left: -$u-slider-thumb-size-active / 2;
    }
  }
}
