@import "variables";
@import "../../theming";

@mixin u-slider-variant($color) {
  &,
  input[type="range"] {
    color: $color;
  }
}

@mixin u-slider-theme() {
  $theme-colors: map-get($u-theme, "colors");

  .u-slider {
    @each $color, $value in $theme-colors {
      @if $color == "primary" {
        @include u-slider-variant($value);
      } @else {
        &.u-slider-#{$color} {
          @include u-slider-variant($value);
        }
      }
    }

    &,
    input[type="range"] {
      &:disabled {
        ~ .u-slider-thumb-container .u-slider-thumb,
        ~ .u-slider-track-container {
          .u-slider-track,
          &::after {
            background: $u-slider-disabled-color;
          }
        }
      }
    }
  }
}
