@import "variables";
@import "../../theming";

@mixin u-slider-theme() {
  $theme-colors: map-get($u-theme, "colors");
  $primary-color: map_get($theme-colors, "primary");

  .u-slider {
    &,
    input[type="range"] {
      color: $primary-color;

      &:disabled {
        ~ .u-slider-thumb-container .u-slider-thumb,
        ~ .u-slider-track-container {
          .u-slider-track,
          &::after {
            background: $u-slider-disabled-color;
          }
        }
      }
    }
  }
}
