$u-slider-action-size: 2.5rem !default;

$u-slider-track-size: .25rem !default;
$u-slider-thumb-size: 1.25rem !default;

$u-slider-disabled-color: #8d8d8d !default;
$u-slider-disabled-thumb-margin: .25rem !default;
