@use "sass:math";

@import "variables";
@import "theme";
@import "../../mixins";
@import "../../font";
@import "../../placeholders";
@import "../../theme";

@include contrast-bg-var(--u-switch-toggle-color, $u-switch-toggle-color-light-theme, $u-switch-toggle-color-dark-theme);

:root {
  --u-switch-background: var(--u-surface-variant-color);
}

.u-switch {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  font-family: $u-font-family-base;

  @include hide-native-input;

  .u-selection-control-label {
    margin-left: $u-switch-label-margin;
  }
}

.u-selection-control,
.u-selection-control-label {
  cursor: pointer;
}

.u-switch {
  .u-selection-control {
    position: relative;
    flex-shrink: 0;
    width: $u-switch-width;
    height: $u-switch-height;
    border-radius: $u-switch-border-radius;
    border: $u-switch-outline-width solid var(--u-outline-color);
    background: var(--u-switch-background);
    transition: background 200ms, border-color 200ms;

    &::before {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: currentColor;
      border-radius: $u-switch-border-radius;
      opacity: .2;
      transition: background 300ms;
    }
  }

  .u-selection-control-label {
    font-size: $u-switch-label-font-size;
  }

  .u-check-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $u-switch-toggle-size;
    height: $u-switch-toggle-size;
    background: var(--u-outline-color);
    border: $u-switch-toggle-border-size solid var(--u-switch-background);
    border-radius: 50%;
    transition: transform 150ms, border-width 100ms, border-color 200ms;
    transform: translate3d(0, 0, 0);

    &:active {
      border-width: 0;
    }
  }

  &.checked .u-selection-control,
  input:checked ~ .u-selection-control {
    --u-switch-background: var(--u-primary-color);
    border-color: var(--u-switch-background);
  }

  &.checked .u-check-indicator,
  input:checked ~ .u-selection-control .u-check-indicator {
    border-width: $u-switch-checked-toggle-border-size;
    background-color: var(--u-on-primary-color);
    transform: translate3d($u-switch-width - .25rem - $u-switch-toggle-size, 0, 0);

    &:active {
      border-width: 0;
    }
  }

  &.disabled .u-selection-control,
  input:disabled ~ .u-selection-control {
    opacity: $u-switch-disabled-opacity;

    .u-check-indicator {
      border-width: $u-switch-toggle-border-size;

      &::before {
        display: none;
      }
    }
  }

  &.disabled .u-selection-control,
  &.disabled .u-selection-control-label,
  input:disabled ~ .u-selection-control,
  input:disabled ~ .u-selection-control-label {
    cursor: auto;
  }
}

.rtl,
[dir="rtl"] {
  .u-switch {
    .u-selection-control-label {
      margin-right: $u-switch-label-margin;
      margin-left: 0;
    }
  }
}

@if ($u-include-ios-styles) {
  .u-ios {
    .u-switch {
      .u-selection-control {
        position: relative;
        width: $u-ios-switch-width;
        height: $u-ios-switch-height;
        color: $u-ios-switch-active-color;
        border: $u-ios-switch-border-size solid $u-ios-switch-border-color-light-theme;
        border-radius: $u-ios-switch-height / 2;
        box-shadow: 0 0 0 0 $u-ios-switch-border-color-light-theme inset;
        transition: box-shadow 350ms, border-color 150ms;

        &::before {
          position: absolute;
          top: -$u-ios-switch-border-size;
          right: -$u-ios-switch-border-size;
          bottom: -$u-ios-switch-border-size;
          left: -$u-ios-switch-border-size;
          content: "";
          border-radius: 1.625rem;
          box-shadow: 0 0 0 0 currentColor inset;
          opacity: 0;
          transition: box-shadow 350ms, opacity 150ms;
        }
      }

      .u-check-indicator {
        display: block;
        width: $u-ios-switch-thumb-size;
        height: $u-ios-switch-thumb-size;
        background: #fff;
        border-radius: 50%;
        box-shadow: $u-ios-switch-thumb-box-shadow-light-theme;
        transition: transform 350ms;
        will-change: transform;
      }

      &.checked .u-check-indicator,
      input:checked ~ .u-selection-control .u-check-indicator {
        transform: translate3d($u-ios-switch-width - $u-ios-switch-thumb-size -  (2 * $u-ios-switch-border-size), 0, 0);
      }

      &.checked .u-selection-control,
      input:checked ~ .u-selection-control {
        background: var(--u-primary-color);
        border-color: currentColor;
        box-shadow: 0 0 0 ($u-ios-switch-width / 2) $u-ios-switch-border-color-light-theme inset;

        &::before {
          box-shadow: 0 0 0 ($u-ios-switch-width / 2) currentColor inset;
          opacity: 1;
        }
      }
    }
  }
}
