@import "variables";
@import "../../theming";

@mixin u-switch-variant($color) {
  &.checked .u-selection-control,
  input:checked ~ .u-selection-control {
    color: $color;
  }
}

@mixin u-switch-theme {
  $theme-colors: map-get($u-theme, "colors");

  .u-android {
    .u-switch {
      .u-check-indicator::after {
        @include inverted-mode($u-switch-toggle-color-light-theme, $u-switch-toggle-color-dark-theme, false, true) using($color) {
          background: $color;
        }
      }

      @each $color, $value in $theme-colors {
        @if $color == "primary" {
          @include u-switch-variant($value);
        } @else {
          &.u-switch-#{$color} {
            @include u-switch-variant($value);
          }
        }
      }
    }

  }
}
