extends ../layout

block content
  h4.u-headline4.chapter-title Colors

  h5.u-headline5.article-title Theme colors
  .u-card-elevated.example-card
    .u-card-content
      include text-and-background-colors/theme-colors.html

    pre.u-card-content.example-card-code
      code.language-html
