@import "variables";
@import "../../animations";
@import "../../divider";
@import "../../zindex";
@import "../../typography/variables";
@import "../../mixins";
@import "uwp-dialog";

// .u-dialog-open      - body class for killing the scroll
// .u-dialog           - container to scroll within
// .u-dialog-dialog    - positioning shell for the actual dialog
// .u-dialog-content   - actual dialog w/ bg and corners and stuff

// Kill the scroll on the body
.u-dialog-open {
  overflow: hidden;
}

.u-dialog-content {
  display: flex;
  flex-direction: column;
  min-width: $dialog-min-width;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: $dialog-border-radius;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
  transform: scale3d(0, 0, 1);
}

.u-dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-dialog;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: $dialog-padding;
  overflow: hidden;
  font-family: $u-font-family-base;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  pointer-events: none;
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  // When fading in the dialog, animate it to slide down
  //&.fade .u-dialog-dialog {
  //  transition: $dialog-transition;
  //  transform: translate(0, -25%);
  //}
  //&.show .u-dialog-dialog { transform: translate(0, 0); }
  opacity: 0;

  &.show {
    pointer-events: auto;
    opacity: 1;
    animation: fade-in 250ms;

    .u-dialog-content {
      transform: scale3d(1, 1, 1);
      animation: zoom-in 250ms $awesome-cubic-bezier;
    }
  }

  &.hide {
    animation: fade-out 150ms;

    .u-dialog-content {
      transform: scale3d(1, 1, 1);
    }
  }
}

.u-dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //z-index: $zindex-dialog-backdrop;//Universal Material changes
  z-index: -1;
  background-color: $dialog-backdrop-bg;
  opacity: $dialog-backdrop-opacity;//Universal Material changes


  //// Fade for backdrop
  //&.fade { opacity: 0; }
  //&.show { opacity: $dialog-backdrop-opacity; }
}

.u-dialog-body {
  @include umd-typography(body1);
  position: relative;
  padding: $dialog-padding;
  overflow-x: hidden;
  overflow-y: auto;
}

.u-dialog-body-top-divider .u-dialog-title::before {
  @extend %divider;
  position: absolute;
  bottom: $dialog-padding - $dialog-title-body-distance;
  left: 0;
  width: 100%;
  content: "";
}

.u-dialog-body-bottom-divider .u-dialog-actions::before {
  @extend %divider;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: "";
}

.u-dialog-title {
  @include umd-typography(headline6);
  position: relative;
  padding: $dialog-padding;

  & + .u-dialog-body {
    padding-top: 0;
    margin-top: $dialog-title-body-distance - $dialog-padding;
  }
}

.u-dialog-actions {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: $dialog-actions-padding;

  .u-btn + .u-btn {
    margin-left: $dialog-actions-padding;
  }
}

.u-dialog-progress {
  .u-dialog-body {
    display: flex;
    align-items: center;
  }

  .preloader-wrapper {
    flex-shrink: 0;
  }
  //.u-dialog-content {
  //  width: auto;
  //}

  .u-dialog-progress-message {
    margin-left: $dialog-progress-margin;
  }
}

@include media-breakpoint-up(md) {
  .u-dialog-content {
    max-width: $dialog-desktop-max-width;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoom-in {
  from {
    transform: scale3d(0, 0, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@mixin dialog-theme($theme) {

  $theme-colors: map-get($theme, "colors");
  $dark-theme: map-get($theme, "dark");
  $uwp-style: map-get($theme, "uwp-style");

  $background-color: $dialog-background-light-theme;
  $color: $text-low-contrast-light-theme;


  @if ($dark-theme) {
    $background-color: $dialog-background-dark-theme;
    $color: $text-low-contrast-dark-theme;
  }

  .u-dialog-content {
    background-color: $background-color;
  }

  .u-dialog-body {
    color: $color;
  }

  @if ($uwp-style) {
    @include uwp-dialog($theme-colors);
  }
}
