@import "variables";
@import "mixins";
@import "../../utilities/variables";
@import "../../animations";
@import "../../zindex";
@import "../../typography/variables";
@import "../../mixins";
@import "../../placeholders";

// .u-dialog-open      - body class for killing the scroll
// .u-dialog           - container to scroll within
// .u-dialog-dialog    - positioning shell for the actual dialog
// .u-dialog-content   - actual dialog w/ bg and corners and stuff

// Kill the scroll on the body
.u-dialog-open {
  overflow: hidden;
}

.u-dialog-content {
  @extend %surface-background;

  display: flex;
  flex-direction: column;
  min-width: $u-dialog-min-width;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: $u-dialog-border-radius;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
  transform: scale3d(0, 0, 1);
  will-change: transform;
}

.u-dialog {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-dialog;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: $u-dialog-padding;
  overflow: hidden;
  font-family: $u-font-family-base;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  pointer-events: none;
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  // When fading in the dialog, animate it to slide down
  //&.fade .u-dialog-dialog {
  //  transition: $u-dialog-transition;
  //  transform: translate(0, -25%);
  //}
  //&.show .u-dialog-dialog { transform: translate(0, 0); }
  opacity: 0;

  &.show {
    pointer-events: auto;
    opacity: 1;
    animation: fade-in 250ms;

    .u-dialog-content {
      transform: scale3d(1, 1, 1);
      animation: zoom-in 250ms $awesome-cubic-bezier;
    }
  }

  &.hide {
    animation: fade-out 150ms;

    .u-dialog-content {
      transform: scale3d(1, 1, 1);
    }
  }

  &,
  & * {
    box-sizing: border-box;
  }
}

.u-dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //z-index: $zindex-dialog-backdrop;//Universal Material changes
  z-index: -1;
  background-color: $u-dialog-backdrop-bg;
  opacity: $u-dialog-backdrop-opacity; //Universal Material changes


  //// Fade for backdrop
  //&.fade { opacity: 0; }
  //&.show { opacity: $u-dialog-backdrop-opacity; }
}

.u-dialog-body {
  @include umd-typography(body-m);
  position: relative;
  padding: $u-dialog-padding;
  overflow-x: hidden;
  overflow-y: auto;
  will-change: transform;
}

.u-dialog-scroll-top-divider .u-dialog-header::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $u-divider-height;
  content: "";
}

.u-dialog-scroll-bottom-divider .u-dialog-actions::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $u-divider-height;
  content: "";
}

.u-dialog-scroll-bottom-divider .u-dialog-actions::before,
.u-dialog-scroll-top-divider .u-dialog-header::before {
  background: var(--u-divider-color);
}

.u-dialog-header {
  position: relative;

  + .u-dialog-body {
    padding-top: 0;
  }
}

.u-dialog-title {
  @include umd-typography(headline-s);

  padding: $u-dialog-header-padding;
  line-height: 1.5;
}

@include u-extend-action-set("u-dialog");

.u-dialog-actions {
  position: relative;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: $u-dialog-actions-padding;
  margin-top: 0;
}

.u-dialog-progress {
  .u-dialog-body {
    display: flex;
    align-items: center;
  }

  .preloader-wrapper {
    flex-shrink: 0;
  }

  .u-dialog-progress-message {
    margin-left: $u-dialog-progress-margin;
  }
}

@include media-breakpoint-up(md) {
  .u-dialog-content {
    max-width: $u-dialog-desktop-max-size;
    max-height: $u-dialog-desktop-max-size;
  }
}

.u-dialog-fullscreen {
  @include u-fullscreen-dialog();
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoom-in {
  from {
    transform: scale3d(0, 0, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
