@import "variables";
@import "uwp-dialog";

// .dialog-open      - body class for killing the scroll
// .dialog           - container to scroll within
// .dialog-dialog    - positioning shell for the actual dialog
// .dialog-content   - actual dialog w/ bg and corners and stuff

// Kill the scroll on the body
.dialog-open {
  overflow: hidden;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: $dialog-border-radius;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
  transition: transform 350ms $awesome-cubic-bezier;
  transform: scale3d(0, 0, 1);
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-dialog;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: $dialog-padding;
  overflow: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  pointer-events: none;
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  // When fading in the dialog, animate it to slide down
  //&.fade .dialog-dialog {
  //  transition: $dialog-transition;
  //  transform: translate(0, -25%);
  //}
  //&.show .dialog-dialog { transform: translate(0, 0); }
  opacity: 0;
  transition: opacity 250ms;

  &.show {
    pointer-events: auto;
    opacity: 1;

    .dialog-content {
      transform: scale3d(1, 1, 1);
    }
  }
}

.dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //z-index: $zindex-dialog-backdrop;//Universal Material changes
  z-index: -1;
  background-color: $dialog-backdrop-bg;
  opacity: $dialog-backdrop-opacity;//Universal Material changes


  //// Fade for backdrop
  //&.fade { opacity: 0; }
  //&.show { opacity: $dialog-backdrop-opacity; }
}

.dialog-body {
  //@extend .subheading
  padding: $dialog-padding;
  overflow-x: hidden;
  overflow-y: auto;
}

.dialog-title {
  @include mdc-typography(headline6);

  padding: $dialog-padding;

  & + .dialog-body {
    padding-top: 0;
    margin-top: $dialog-title-body-distance - $dialog-padding;
  }
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: $dialog-actions-padding;

  .btn + .btn {
    margin-left: $dialog-actions-padding;
  }
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin dialog-theme($theme) {

  $theme-colors: map-get($theme, "colors");
  $dark-theme: map-get($theme, "dark");
  $uwp-style: map-get($theme, "uwp-style");

  $background-color: $dialog-background-light-theme;
  $color: $text-low-contrast-light-theme;


  @if ($dark-theme) {
    $background-color: $dialog-background-dark-theme;
    $color: $text-low-contrast-dark-theme;
  }

  .dialog-content {
    background-color: $background-color;
  }

  .dialog-body {
    color: $color;
  }

  @if ($uwp-style) {
    @include uwp-dialog($theme-colors);
  }
}
