//Dialog
$dialog-backdrop-bg: $black !default;
$dialog-backdrop-opacity: .5 !default;
$dialog-border-radius: .25rem !default;
$dialog-padding: 24px !default;
$dialog-title-body-distance: 20px !default;
$dialog-actions-padding: 8px !default;
$dialog-background-light-theme: #fff !default;
$dialog-background-dark-theme: #424242 !default;
$dialog-progress-margin: 24px !default;

$uwp-dialog-border-width: .0625rem !default;
