@import "variables";
@import "../../font";
@import "../../placeholders";

.u-banner {
  display: block;
  flex-shrink: 0;
  max-height: 0;
  overflow: hidden;
  font-family: $u-font-family-base;
  background: var(--u-surface-color);
  transition: max-height 450ms ease-out;

  &.show {
    max-height: 100vh;
    transition: max-height 600ms ease-in;
  }
}

.u-banner-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.u-banner-text {
  display: inline-block;
  padding: $u-banner-text-vertical-padding $u-banner-text-horizontal-padding;
  font-size: .875rem;
  font-weight: $u-font-weight-medium;
}

@include u-extend-action-set("u-banner");

.u-banner-actions {
  padding: $u-banner-actions-padding;
  margin-left: auto;
}

.rtl,
[dir="rtl"] {
  .u-banner-actions {
    margin-right: auto;
    margin-left: 0;
  }
}
