@import "variables";
@import "../../font";

.u-banner {
  flex-shrink: 0;
  max-height: 0;
  overflow: hidden;
  font-family: $u-font-family-base;
  background: #fff;
  transition: max-height 450ms ease-out;

  &.show {
    max-height: 100vh;
    transition: max-height 600ms ease-in;
  }
}

.u-banner-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.u-banner-text {
  display: inline-block;
  padding-right: $u-banner-text-horizontal-padding;
  padding-left: $u-banner-text-horizontal-padding;
  margin-top: $u-banner-text-margin-top;
  margin-bottom: $u-banner-text-margin-bottom;
  font-size: .875rem;
  font-weight: 500;
}

@include u-extend-action-set("u-banner");

.u-banner-actions {
  padding: $u-banner-actions-padding;
  margin-left: auto;
}

.rtl,
[dir="rtl"] {
  .u-banner-actions {
    margin-right: auto;
    margin-left: 0;
  }
}
