@import "variables";
@import "../../animations";
@import "../../font";
@import "../../mixins";
@import "../../zindex";

@include contrast-bg-var(--u-bg-snackbar, $u-snackbar-background-color-light-theme, $u-snackbar-background-color-dark-theme);

.u-snackbar {
  position: fixed;
  right: $u-snackbar-margin;
  bottom: $u-snackbar-margin;
  left: $u-snackbar-margin;
  z-index: $zindex-snackbar;
  display: flex;
  align-items: center;
  min-height: $u-snackbar-height;
  background-color: var(--u-bg-snackbar);
  font-family: $u-font-family-base;
  font-size: $u-snackbar-font-size;
  border-radius: $u-snackbar-border-radius;
  animation-name: snackbar-fade-in;
  animation-duration: 450ms;
  animation-timing-function: $awesome-cubic-bezier;
  animation-fill-mode: forwards;

  &,
  & * {
    box-sizing: border-box;
  }

  .u-btn {
    margin: $u-snackbar-btn-margin;
  }

  &.u-snackbar-vertical {
    flex-direction: column;
    align-items: flex-end;

    .u-snackbar-text {
      align-self: flex-start;
    }
  }

  &.dismiss {
    animation-name: snackbar-fade-out;
  }
}

.u-snackbar-text {
  flex: 1;
  margin: $u-snackbar-text-vertical-margin $u-snackbar-horizontal-padding;
  overflow: hidden;
  font-weight: $u-snackbar-font-weight;
  color: var(--u-inverse-mode-high-contrast-color);
}


@include media-breakpoint-up(md) {
  .u-snackbar {
    right: auto;
    bottom: $u-snackbar-tabled-margin;
    left: $u-snackbar-tabled-margin;
    min-width: $u-snackbar-tablet-min-width;
    max-width: $u-snackbar-tablet-max-width;
  }

  .rtl,
  [dir="rtl"] {
    .u-snackbar {
      right: $u-snackbar-tabled-margin;
      left: auto;
    }
  }
}

@keyframes snackbar-fade-in {
  0% {
    opacity: 0;
    transform: scale3d(.5, .5, 1);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes snackbar-fade-out {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  100% {
    opacity: 0;
    transform: scale3d(.5, .5, 1);
  }
}
