@import "variables";
@import "uwp-snackbar";

.snackbar {
  position: fixed;
  right: $snackbar-margin;
  bottom: $snackbar-margin;
  left: $snackbar-margin;
  z-index: $zindex-snackbar;
  display: flex;
  align-items: center;
  min-height: $snackbar-height;
  font-size: $snackbar-font-size;
  border-radius: $snackbar-border-radius;
  animation-name: snackbar-fade-in;
  animation-duration: 450ms;
  animation-timing-function: $awesome-cubic-bezier;
  animation-fill-mode: forwards;

  .btn {
    margin: $snackbar-btn-margin;
  }

  &.snackbar-vertical {
    flex-direction: column;
    align-items: flex-end;

    .snackbar-text {
      align-self: flex-start;
    }
  }
}

.snackbar-text {
  flex: 1;
  margin: $snackbar-text-vertical-margin $snackbar-horizontal-padding;
  overflow: hidden;
  font-weight: $snackbar-font-weight;
}


@include media-breakpoint-up(md) {
  .snackbar {
    right: auto;
    bottom: $snackbar-tabled-margin;
    left: $snackbar-tabled-margin;
    min-width: $snackbar-tablet-min-width;
    max-width: $snackbar-tablet-max-width;
  }

  .rtl,
  [dir="rtl"] {
    .snackbar {
      right: $snackbar-tabled-margin;
      left: auto;
    }
  }
}

@keyframes snackbar-fade-in {
  0% {
    opacity: 0;
    transform: scale3d(.5, .5, 1);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes snackbar-fade-out {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  100% {
    opacity: 0;
    transform: scale3d(.5, .5, 1);
  }
}

@mixin snackbar-theme($theme) {

  $dark-theme: map-get($theme, "dark");
  $uwp-style: map-get($theme, "uwp-style");

  $background-color: $snackbar-background-color-light-theme;
  $color: $snackbar-text-color-light-theme;

  @if ($dark-theme) {
    $background-color: $snackbar-background-color-dark-theme;
    $color: $snackbar-text-color-dark-theme;
  }

  .snackbar {
    background-color: $background-color;
  }

  .snackbar-text {
    color: $color;
  }

  @if ($uwp-style) {
    @include uwp-snackbar($dark-theme);

    @if (mixin_exists(uwp-button)) {
      .snackbar {
        @include uwp-button(not $dark-theme);
      }
    }
  }
}
