//Snackbar
$u-snackbar-height: 3rem !default;
$u-snackbar-horizontal-padding: 1rem !default;
$u-snackbar-text-vertical-margin: .75rem !default;
$u-snackbar-font-size: $u-font-size-base !default;
$u-snackbar-font-weight: $u-font-weight-medium !default;
$u-snackbar-margin: .5rem !default;
$u-snackbar-btn-margin: .375rem .5rem !default;

$u-snackbar-tablet-min-width: 18rem !default;
$u-snackbar-tablet-max-width: 35.5rem !default;
$u-snackbar-tabled-margin: 1.5rem !default;

$u-snackbar-border-radius: .25rem !default;
