@use "sass:math";

@import "chip-base";
@import "../../mixins";
@import "../../theme";
@import "../../placeholders";

.u-chip {
  @extend %u-chip;
}

@include contrast-bg-var(--u-chip-outline-border-color, $u-chip-outline-border-color-light-theme, $u-chip-outline-border-color-dark-theme);

.u-chip-outline {
  border: $u-chip-outline-border-width solid var(--u-chip-outline-border-color);

  &::before {
    content: none;
  }
}

.u-chip-label {
  margin-right: $u-chip-label-margin;
  margin-left: $u-chip-label-margin;
  font-weight: $u-font-weight-medium;
}

.u-chip-avatar {
  @include size($u-chip-avatar-size);

  margin-right: $u-chip-avatar-margin-end;
  margin-left: $u-chip-avatar-margin-start;
  font-size: $u-chip-avatar-font-size;
  line-height: $u-chip-avatar-size;
  border-radius: 50%;
}

.u-chip-remove {
  @extend %u-selectable-background-before;
  margin-right: $u-chip-remove-margin-end;
  margin-left: $u-chip-remove-margin-start;
  font-size: $u-chip-remove-size;
  line-height: $u-chip-remove-size;
  text-align: center;
  cursor: pointer;

  @include size($u-chip-remove-size);

  &::before,
  .u-ripple-wrapper {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    width: $u-chip-remove-hover-size;
    height: $u-chip-remove-hover-size;
    margin-top: math.div(-$u-chip-remove-hover-size, 2);
    margin-left: math.div(-$u-chip-remove-hover-size, 2);
    content: "";
    border-radius: 50% !important;
  }
}

.u-chip-hover {
  @extend %u-selectable-background-before;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  content: "";
}

.u-chip-field {
  .u-text-input {
    height: auto !important;
  }
}

.u-chip-set {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: $u-chip-height;
  margin-top: -$u-chip-margin-vertical;
  margin-bottom: -$u-chip-margin-vertical;
}

.u-chip-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: 0;
}

.u-text-field-outline {

  .u-chip-input {
    height: $u-chip-height;
    margin-top: $u-chip-margin-vertical;
    margin-bottom: $u-chip-margin-vertical;
  }

  .u-chip-set {
    margin-top: -12px;
    margin-bottom: -12px;
  }
}

.rtl,
[dir="rtl"] {
  .u-chip {
    margin-right: 0;
    margin-left: $u-chip-margin;
  }

  .u-chip-avatar {
    margin-right: $u-chip-avatar-margin-start;
    margin-left: $u-chip-avatar-margin-end;
  }
}

%u-chip-outline-colored {
  &::before {
    content: "";
  }
}

@mixin u-chip-theme {

  @each $color, $value in $u-theme-colors {
    @at-root .u-chip-#{$color} {
      @include apply-style-bg-once("chip-#{$color}") {
        color: var(--u-#{$color}-color);
      }
    }

    .u-chip-outline.u-chip-#{$color} {
      @extend %u-chip-outline-colored;
    }
  }
}
