@use "sass:math";

@import "chip-base";
@import "../../mixins";

.u-chip {
  @extend %u-chip;

  color: var(--u-on-surface-variant-color);
  padding-inline: calc($u-chip-padding - $u-chip-outline-border-width);
  border: $u-chip-outline-border-width solid var(--u-outline-color);
  border-radius: $u-chip-border-radius;

  &.disabled {
    opacity: var(--u-disabled-state-label-opacity);

    &::before {
      background: var(--u-on-surface-color);
      opacity: var(--u-disabled-state-background-opacity);
    }
  }
}

.u-chip-elevated {
  @include u-elevation-shadow(1);
  @extend %u-elevation-surface-tint-1;
  padding-inline: $u-chip-padding;
  border: none;
}

.u-chip-selected {
  background: var(--u-secondary-container-color);
  color: var(--u-on-secondary-container-color);
}

.u-chip-label {
  font-weight: $u-font-weight-medium;
}

.u-chip-avatar {
  @include size($u-chip-avatar-size);

  margin-inline-start: $u-chip-avatar-margin-start - $u-chip-padding;
  margin-inline-end: $u-chip-avatar-margin-end;
  font-size: $u-chip-avatar-font-size;
  line-height: $u-chip-avatar-size;
  border-radius: 50%;
}

.u-chip-icon {
  margin-inline-start: $u-chip-icon-margin;
  margin-inline-end: $u-chip-icon-margin;
  font-size: $u-chip-icon-size;
  line-height: $u-chip-icon-size;
  text-align: center;

  @include size($u-chip-icon-size);
}

.u-chip-leading-icon {
  color: var(--u-primary-color);
  margin-inline-start: $u-chip-icon-margin - $u-chip-padding;
}

.u-chip-trailing-icon {
  margin-inline-end: $u-chip-icon-margin - $u-chip-padding;
}

.u-chip-icon-action {
  @extend %u-selectable;
  cursor: pointer;

  &::before,
  .u-ripple-wrapper {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    width: $u-chip-icon-hover-size;
    height: $u-chip-icon-hover-size;
    margin-top: math.div(-$u-chip-icon-hover-size, 2);
    margin-left: math.div(-$u-chip-icon-hover-size, 2);
    content: "";
    border-radius: $u-chip-icon-hover-size !important;
  }
}

.u-chip-hover {
  @extend %u-selectable;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  content: "";
}

.u-chip-field {
  .u-text-input {
    height: auto !important;
  }
}

.u-chip-set {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: $u-chip-height;
  margin-top: -$u-chip-margin-vertical;
  margin-bottom: -$u-chip-margin-vertical;
}

.u-chip-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: 0;
}

.u-text-field-outline {

  .u-chip-input {
    height: $u-chip-height;
    margin-top: $u-chip-margin-vertical;
    margin-bottom: $u-chip-margin-vertical;
  }

  .u-chip-set {
    margin-top: -12px;
    margin-bottom: -12px;
  }
}
