@import "variables";
@import "../../font";
@import "../../mixins";

.u-chip {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: $u-chip-height;
  margin-top: $u-chip-margin-vertical;
  margin-right: $u-chip-margin;
  margin-bottom: $u-chip-margin-vertical;
  overflow: hidden;
  font-family: $u-font-family-base;
  font-size: $u-chip-font-size;
  border-radius: $u-chip-height / 2;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: currentColor;
    opacity: .2;
  }
}

.u-chip-outline {
  border: $u-chip-outline-border-width solid;

  &::before {
    opacity: .12;
  }
}

.u-chip-label {
  font-weight: $font-medium;

  &:first-child {
    margin-left: $u-chip-label-margin;
  }

  &:last-child {
    margin-right: $u-chip-label-margin;
  }
}

.u-chip-avatar {
  @include size($u-chip-avatar-size);

  margin-right: $u-chip-avatar-margin;
  margin-left: $u-chip-avatar-margin-start;
  font-size: $u-chip-avatar-font-size;
  line-height: $u-chip-avatar-size;
  border-radius: 50%;
}

.u-chip-remove {
  margin: 0 $u-chip-remove-margin;
  font-size: $u-chip-remove-size;
  line-height: $u-chip-remove-size;
  text-align: center;
  cursor: pointer;

  @include size($u-chip-remove-size);
  @include selectable-background-before;

  &::before,
  .u-ripple-wrapper {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    width: $u-chip-remove-hover-size;
    height: $u-chip-remove-hover-size;
    margin-top: -$u-chip-remove-hover-size / 2;
    margin-left: -$u-chip-remove-hover-size / 2;
    content: "";
    border-radius: 50% !important;
  }
}

.u-chip-hover {
  @include selectable-background-before;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  content: "";
}

.u-chip-input {
  flex-wrap: wrap;
  align-items: center;
  min-height: $u-chip-height + $u-chip-margin-vertical * 2;

  input {
    background: transparent;
    border: none;
    outline: 0;
  }
}

.rtl,
[dir="rtl"] {
  .u-chip {
    margin-right: 0;
    margin-left: $u-chip-margin;
  }

  .u-chip-avatar {
    margin-right: $u-chip-avatar-margin-start;
    margin-left: $u-chip-avatar-margin;
  }
}

@mixin chip-theme($theme-colors, $dark-theme) {
  $background-color: $u-chip-background-color-light-theme;
  $u-chip-outline-border-color: $u-chip-outline-border-color-light-theme;

  @if ($dark-theme) {
    $background-color: $u-chip-background-color-dark-theme;
    $u-chip-outline-border-color: $u-chip-outline-border-color-dark-theme;
  }

  .u-chip-outline {
    border-color: $u-chip-outline-border-color;
  }

  @each $color, $value in $theme-colors {
    .u-chip-#{$color} {
      color: $value;
    }
  }
}
