$u-chip-height: 2rem !default;
$u-chip-margin: 8px !default;
$u-chip-margin-vertical: 4px !default;
$u-chip-background-color-light-theme: rgba(0, 0, 0, .12) !default;
$u-chip-background-color-dark-theme: rgba(255, 255, 255, .1) !default;

$u-chip-outline-border-color-light-theme: $u-chip-background-color-light-theme !default;
$u-chip-outline-border-color-dark-theme: $u-chip-background-color-dark-theme !default;
$u-chip-outline-border-width: .0625rem !default;

$u-chip-remove-size: 1.125rem !default;
$u-chip-remove-margin: 8px !default;
$u-chip-remove-hover-size: 2.5rem !default;

$u-chip-avatar-size: 1.5rem !default;
$u-chip-avatar-margin-start: 4px !default;
$u-chip-avatar-font-size: 1rem !default;
$u-chip-avatar-margin: 8px !default;

$u-chip-font-size: .8125rem !default;
$u-chip-font-weight: 400 !default;
$u-chip-label-margin: 12px !default;
