@import "../../font";

$u-chip-padding: 16px !default;
$u-chip-height: 2rem !default;
$u-chip-border-radius: 8px !default;
$u-chip-margin: 8px !default;
$u-chip-margin-vertical: 4px !default;

$u-chip-outline-border-width: .0625rem !default;

$u-chip-icon-size: 1.125rem !default;
$u-chip-icon-margin: 8px !default;
$u-chip-icon-hover-size: 2rem !default;

$u-chip-avatar-size: 1.5rem !default;
$u-chip-avatar-margin-start: 4px !default;
$u-chip-avatar-margin-end: 8px !default;
$u-chip-avatar-font-size: 1rem !default;

$u-chip-font-size: .8125rem !default;
$u-chip-font-weight: $u-font-weight-regular !default;
$u-chip-label-margin: 12px !default;
