@import "variables";
@import "../mixins";

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

@if $enable-grid-classes {
  .u-container {
    width: 100%;
    max-width: var(--u-container-width);
    padding-right: var(--u-container-margin);
    padding-left: var(--u-container-margin);
    margin-right: auto;
    margin-left: auto;
  }
}

@if $enable-grid-classes {
  .u-row {
    @include make-row();
  }
}

@if $enable-grid-classes {
  @include make-grid-columns();
}

// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-margins();
}

@if $enable-grid-classes {
  @include make-gutters();
}
