extends ../layout

block content
  h4.u-display-m.chapter-title Typography

  .u-card-elevated.example-card
    .u-card-content
      include typography/example.html
    pre.u-card-content.example-card-code
      code.language-html

