extends ../layout

block content
  h4.u-headline4.chapter-title Typography

  h5.u-headline5.article-title Example
  .example-box
    .example-box-header
      include typography/example.html

    pre
      code.html

