// stylelint-disable declaration-no-important

@mixin uwp-text-fields($text-input-placeholder-color) {

  //.text-field-border {
  //  position: absolute;
  //  top: 0 !important;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  margin: 0 !important;
  //  pointer-events: none;
  //  border-style: solid;
  //  border-width: $uwp-text-field-border-width !important;
  //  border-radius: 0 !important;
  //
  //  &::after {
  //    top: -$uwp-text-field-border-width;
  //    right: -$uwp-text-field-border-width;
  //    bottom: -$uwp-text-field-border-width;
  //    left: -$uwp-text-field-border-width;
  //    width: auto;
  //    height: auto;
  //    border-style: solid;
  //    border-width: $uwp-text-field-border-width;
  //    border-radius: 0 !important;
  //    transition: none !important;
  //  }
  //}

  //.text-input-group {
  //  //padding-right: $uwp-text-input-horizontal-padding;
  //  //padding-left: $uwp-text-input-horizontal-padding;
  //
  //  .text-input {
  //    padding-right: 0;
  //    padding-left: 0;
  //  }
  //}

  .text-input {
    padding-right: $uwp-text-input-horizontal-padding !important;
    padding-bottom: $uwp-text-input-vertical-padding !important;
    padding-left: $uwp-text-input-horizontal-padding !important;
    border-style: solid;
    border-width: $uwp-text-field-border-width !important;
    border-radius: 0 !important;
  }

  .text-field {
    label {
      margin-bottom: .25rem;
    }

    &.floating-label {
      label {
        font-size: $text-field-label-font-size;
        transform: none !important;
      }

      .text-input::placeholder {
        color: $text-input-placeholder-color;
        transition: none;
      }
    }
  }

  .text-field-box {
    background-color: transparent;
    border-radius: 0;

    &:not(.text-area) label {
      padding-left: 0;
    }
  }

  .text-area .text-input {
    padding-top: $uwp-text-area-top-padding;
  }
}
