@mixin uwp-dropdown($dark-theme, $dropdown-icon-color) {
  $uwp-dropdown-border-color: $uwp-dropdown-border-color-light-theme;

  @if ($dark-theme) {
    $uwp-dropdown-border-color: $uwp-dropdown-border-color-dark-theme;
  }

  .dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      border: $uwp-dropdown-border-width solid $uwp-dropdown-border-color;
    }
  }

  .dropdown-toggle-icon::before {
    display: block;
    width: .65em;
    height: .65em;
    border-color: $dropdown-icon-color;
    border-style: solid;
    border-width: 0 0 .0625em .0625em;
    transform: rotate(-45deg);
  }
}