@mixin button-borderless-variant($color) {
  color: $color;
  @include hover-focus {
    color: $color;
  }
}

@mixin button-solid-variant($background, $hover-background: darken($background, 7.5%), $active-background: darken($background, 7.5%)) {

  @include background-and-text-color($background);

  @include hover-focus {
    color: get-text-color-by-background-color($background);
  }
}

@mixin button-flat-variant($color) {
  color: $color;

  @include hover-focus {
    color: $color
  }
}

@mixin create-buttons($theme-colors, $dark-theme: false) {
  $default-solid-background: (default: $btn-default-background-light);

  @if($dark-theme) {
    $default-solid-background: (default: $btn-default-background-dark);
  }

  @each $color, $value in join($theme-colors, $default-solid-background) {
    .btn-#{$color} {
      @include button-solid-variant($value);
    }
  }

  @each $color, $value in $theme-colors {
    .btn-flat-#{$color} {
      @include button-flat-variant($value);
    }
  }
}