@mixin horizontal-margin($size) {
  margin-left: $size;
  margin-right: $size;
}

@mixin vertical-margin($top, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin horizontal-padding($size) {
  padding-left: $size;
  padding-right: $size;
}

@mixin vertical-padding($top, $bottom: $top) {
  padding-top: $top;
  padding-bottom: $bottom;
}