@mixin create-theme($theme-colors, $dark-theme) {

  @if (mixin_exists(create-app-bar)) {
    @include create-app-bar($theme-colors, $dark-theme);
  }
    
  @if (mixin_exists(create-buttons)) {
    @include create-buttons($theme-colors, $dark-theme);
  }  

  @if (mixin_exists(create-backgrounds)) {
    @include create-backgrounds($theme-colors)
  }
    
  @if($dark-theme) {
    @extend .dark-theme;
  } @else {
    @extend .light-theme;
  }
}

@mixin light-theme-style($apply-to-bg: true) {
  .light-theme {
    @content;
  }

  @if ($apply-to-bg) {
    .bg-light {
      @content;
    }
  }
}

@mixin dark-theme-style($apply-to-bg: true) {
  .dark-theme {
    @content;
  }

  @if ($apply-to-bg) {
    .bg-dark {
      @content;
    }
  }
}