@mixin create-theme($theme-colors, $dark-theme) {

  @if($dark-theme) {
    @extend .dark-theme;
  } @else {
    @extend .light-theme;
  }

  @if (mixin_exists(create-buttons)) {
    @include create-buttons($theme-colors, $dark-theme);
  }

  @if (mixin_exists(create-app-bar)) {
    @include create-app-bar($theme-colors, $dark-theme);
  }

  @if (mixin_exists(create-backgrounds)) {
    @include create-backgrounds($theme-colors)
  }
}

@mixin light-theme-style() {
  .light-theme,
  .bg-light {
    @content;
  }
}

@mixin dark-theme-style() {
  .dark-theme,
  .bg-dark {
    @content;
  }
}