@import "variables";
@import "../../animations";
@import "../../colors";
@import "../../grid/variables";
@import "../../zindex";
@import "../../mixins";

:root {
  --u-drawer-sidebar-width: #{$u-drawer-sidebar-width};
}

.u-drawer-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-sidebar - 1;
  pointer-events: none;
  content: "";
  background-color: $u-drawer-backdrop-bg;
  opacity: 0;
  transition: opacity 375ms linear, z-index 0ms 375ms;
}

.u-drawer-content {
  @extend %u-elevation-surface-tint-1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-sidebar;
  flex-shrink: 0;
  width: var(--u-drawer-sidebar-width);
  max-width: 85%;
  background-color: var(--u-surface-color);
  border-start-end-radius: $u-drawer-border-radius;
  border-end-end-radius: $u-drawer-border-radius;
  overflow-y: hidden;
  transition: transform 375ms $awesome-cubic-bezier;
  transform: translateX(-100%);
}

.u-drawer-scrollable-container {
  height: 100%;
  overflow-y: auto;
}

.u-drawer {

  .u-divider {
    margin-block: $u-drawer-divider-margin;
  }

  &.open {
    > .u-drawer-backdrop {
      pointer-events: auto;
      opacity: $u-drawer-backdrop-opacity;
      transition: opacity 375ms linear;
    }

    &,
    &.u-drawer-end {
      .u-drawer-content {
        transform: translateX(0);
      }
    }
  }

  &.u-drawer-end {
    .u-drawer-content {
      right: 0;
      left: auto;
      transform: translateX(100%);
      border-start-end-radius: 0;
      border-end-end-radius: 0;
      border-start-start-radius: $u-drawer-border-radius;
      border-end-start-radius: $u-drawer-border-radius;
    }
  }
}

.rtl,
[dir="rtl"] {
  .u-drawer-content {
    right: 0;
    left: auto;
    transform: translateX(100%);
  }

  &.u-drawer-end {
    &.u-drawer-content {
      right: auto;
      left: 0;
      transform: translateX(100%);
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint) {
    .u-drawer#{$infix}-permanent,
    .u-drawer#{$infix}-dismissible {
      padding-inline-start: var(--u-drawer-sidebar-width);

      .u-drawer-content {
        border-radius: 0;
        background-image: none;
      }

      &,
      &.u-drawer-end {
        .u-drawer-content {
          transform: none;
        }
      }

      > .u-drawer-backdrop {
        display: none;
      }

      .u-toolbar-fixed {
        left: var(--u-drawer-sidebar-width);
      }

      &.u-drawer-end {
        padding-inline: 0 var(--u-drawer-sidebar-width);

        .u-toolbar-fixed {
          right: var(--u-drawer-sidebar-width);
          left: 0;
        }
      }
    }

    .u-drawer#{$infix}-dismissible {
      transition: padding-inline-start 375ms $awesome-cubic-bezier;

      .u-toolbar-fixed {
        transition: left 375ms $awesome-cubic-bezier, --u-current-elevation-tint-color 200ms;
        will-change: left;
      }

      &.u-drawer-end {
        .u-toolbar-fixed {
          transition: right 375ms $awesome-cubic-bezier, background-image 200ms;
          will-change: right;
        }
      }

      &.dismiss {
        padding-inline-start: 0;

        .u-drawer-content {
          transform: translateX(-100%);
        }

        .u-toolbar-fixed {
          left: 0;
        }

        &.u-drawer-end {
          padding-inline-end: 0;

          .u-drawer-content {
            transform: translateX(100%);
          }

          .u-toolbar-fixed {
            right: 0;
          }
        }
      }
    }

    .rtl {
      .u-drawer#{$infix}-permanent,
      .u-drawer#{$infix}-dismissible {
        .u-toolbar-fixed {
          right: var(--u-drawer-sidebar-width);
          left: 0;
        }
      }

      .u-drawer#{$infix}-dismissible,
      &.u-drawer#{$infix}-dismissible {
        .u-toolbar-fixed {
          transition: right 375ms $awesome-cubic-bezier;
          will-change: right;
        }

        &.dismiss {
          padding-inline: 0;

          .u-drawer-content {
            transform: translateX(100%);
          }

          .u-toolbar-fixed {
            right: 0;
          }
        }
      }
    }
  }
}
