@import "variables";
@import "../../theming";
@import "../../placeholders";

@mixin u-drawer-content {
  $theme-colors: map-get($u-theme, "colors");
  $dark-theme: map-get($u-theme, "dark");
  $primary-color: map-get($theme-colors, "primary");

  $background-color: $u-drawer-background-color-light-theme;
  $color: $u-body-color-light-theme;

  @if ($dark-theme) {
    $background-color: $u-drawer-background-color-dark-theme;
    $color: $u-body-color-dark-theme;
  }

  & {
    @if ($dark-theme) {
      @extend %u-bg-dark;
    } @else {
      @extend %u-bg-light;
    }
    background-color: $background-color;

    .u-list-item.active {
      &,
      .u-list-item-icon {
        color: $primary-color;
      }

      &:hover::before,
      &::before {
        opacity: .2;
      }

      &:focus::before {
        opacity: .3;
      }
    }
  }
}

@mixin u-drawer-theme() {

  @if & {
    &.u-drawer-content,
    .u-drawer-content {
      @include u-drawer-content;
    }
  } @else {
    .u-drawer-content {
      @include u-drawer-content;
    }
  }
}
