@import "../../colors";

//Sidebar
$u-drawer-sidebar-width: 360px !default;

$u-drawer-backdrop-bg: $black !default;
$u-drawer-backdrop-opacity: .5 !default;
$u-drawer-border-radius: 16px;
$u-drawer-divider-margin: 16px;
