@import "../colors";
@import "../theming";

$divider-height: .0625rem !default;
$divider-color: $u-base-semi-transparent-color-light-theme !default;

.u-divider {
  width: 100%;
  height: $divider-height;
  background-color: $divider-color;
}

@mixin u-divider-theme() {
  $dark-theme: map-get($u-theme, "dark");

  .u-divider {
    background-color: if($dark-theme, $u-base-semi-transparent-color-dark-theme, $u-base-semi-transparent-color-light-theme);
  }
}
