@import "../colors";

$divider-height: .0625rem !default;
$divider-color: $base-semi-transparent-color-light-theme !default;

.u-divider {
  width: 100%;
  height: $divider-height;
  background-color: $divider-color;
}

@mixin divider-theme($dark-theme) {
  .u-divider {
    background-color: if($dark-theme, $base-semi-transparent-color-dark-theme, $base-semi-transparent-color-light-theme);
  }
}
