@import "../mixins";
@import "../theme";
@import "../font";

// stylelint-disable declaration-no-important

//
// Text
//

//.u-text-monospace { font-family: $font-family-monospace; }

// Alignment

.u-text-justify  { text-align: justify !important; }
.u-text-nowrap   { white-space: nowrap !important; }
.u-text-truncate { @include text-truncate; }

// Transformation

.u-text-lowercase  { text-transform: lowercase !important; }
.u-text-uppercase  { text-transform: uppercase !important; }
.u-text-capitalize { text-transform: capitalize !important; }

.u-font-italic        { font-style: italic !important; }

// Contextual colors

.u-text-white { color: $white !important; }

.u-text-body { color: var(--u-on-background-color) !important; }
.u-text-muted { color: $text-muted !important; }

.u-text-black-50 { color: rgba($black, .5) !important; }
.u-text-white-50 { color: rgba($white, .5) !important; }

// Misc

//.u-text-hide {
//  @include text-hide($ignore-warning: true);
//}

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .u-text#{$infix}-left   { text-align: left !important; }
    .u-text#{$infix}-center { text-align: center !important; }
    .u-text#{$infix}-right  { text-align: right !important; }

    .u-text#{$infix}-start {
      text-align: start !important;
    }

    .u-text#{$infix}-end {
      text-align: end !important;
    }
  }
}

@each $weight, $value in $u-font-weights {
  .u-font-weight-#{$weight} {
    font-weight: $value !important;
  }
}

@each $color-name, $color-value in $u-theme-colors {

  .u-text-#{$color-name} {
    @include _current-color-vars(var(--u-#{$color-name}-color-rgb));
    color: var(--u-high-emphasis-color) !important;
  }

  .u-text-on-#{$color-name} {
    @include _current-color-vars(var(--u-#{$color-name}-color-rgb));
    color: var(--u-high-emphasis-color) !important;
  }

  .u-text-on-#{$color-name}-container {
    @include _current-color-vars(var(--u-#{$color-name}-color-rgb));
    color: var(--u-high-emphasis-color) !important;
  }
}

@each $color-name, $color-value in $u-common-colors {

  .u-text-#{$color-name} {
    @include _current-color-vars(var(--u-#{$color-name}-color-rgb));
    color: var(--u-high-emphasis-color) !important;
  }
}

.u-text-light-mode {
  @include u-text-light-vars;
  color: var(--u-high-emphasis-color) !important;
}

.u-text-dark-mode {
  @include u-text-dark-vars;
  color: var(--u-high-emphasis-color) !important;
}

.u-text-inverse-mode {
  @include u-text-inverse-vars;
  color: var(--u-high-emphasis-color) !important;
}

.u-text-high-emphasis {
  color: var(--u-high-emphasis-color) !important;
}

.u-text-low-emphasis {
  color: var(--u-low-emphasis-color) !important;
}

.u-text-lower-emphasis {
  color: var(--u-lower-emphasis-color) !important;
}
