@import "../mixins";
@import "../theme";
@import "../font";

// stylelint-disable declaration-no-important

//
// Text
//

//.u-text-monospace { font-family: $font-family-monospace; }

// Alignment

.u-text-justify  { text-align: justify !important; }
.u-text-nowrap   { white-space: nowrap !important; }
.u-text-truncate { @include text-truncate; }

// Transformation

.u-text-lowercase  { text-transform: lowercase !important; }
.u-text-uppercase  { text-transform: uppercase !important; }
.u-text-capitalize { text-transform: capitalize !important; }

.u-font-italic        { font-style: italic !important; }

// Contextual colors

.u-text-white { color: $white !important; }

.u-text-body { color: $body-color !important; }
.u-text-muted { color: $text-muted !important; }

.u-text-black-50 { color: rgba($black, .5) !important; }
.u-text-white-50 { color: rgba($white, .5) !important; }

// Misc

//.u-text-hide {
//  @include text-hide($ignore-warning: true);
//}

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .u-text#{$infix}-left   { text-align: left !important; }
    .u-text#{$infix}-center { text-align: center !important; }
    .u-text#{$infix}-right  { text-align: right !important; }

    .u-text#{$infix}-start {
      text-align: left !important;
      text-align: start !important;
    }

    .u-text#{$infix}-end {
      text-align: right !important;
      text-align: end !important;
    }

    .rtl,
    [dir="rtl"] {
      .u-text#{$infix}-start {
        text-align: right !important;
        text-align: start !important;
      }

      .u-text#{$infix}-end {
        text-align: left !important;
        text-align: end !important;
      }
    }
  }
}

@each $weight, $value in $u-font-weights {
  .u-font-weight-#{$weight} {
    font-weight: $value !important;
  }
}

@include contrast-bg-var(--u-text-low-contrast-color, $u-text-low-contrast-light-theme, $u-text-low-contrast-dark-theme);
@include contrast-bg-var(--u-text-lower-contrast-color, $u-text-lower-contrast-light-theme, $u-text-lower-contrast-dark-theme);
@include contrast-bg-var(--u-text-high-contrast-color, $u-text-high-contrast-light-theme, $u-text-high-contrast-dark-theme);
@include contrast-bg-var(--u-text-inverse-low-contrast-color, $u-text-low-contrast-dark-theme, $u-text-low-contrast-light-theme);
@include contrast-bg-var(--u-text-inverse-high-contrast-color, $u-text-high-contrast-dark-theme, $u-text-high-contrast-light-theme);
@include contrast-bg-var(--u-text-inverse-lower-contrast-color, $u-text-lower-contrast-dark-theme, $u-text-lower-contrast-light-theme);

.u-text-high-contrast {
  color: var(--u-text-high-contrast-color);
}

.u-text-low-contrast {
  color: var(--u-text-low-contrast-color);
}

@mixin u-text-theme {
  @each $color, $value in $u-theme-colors {
    @include text-emphasis-variant(".u-text-#{$color}", $value);
  }
}
