@import "../../scss/variables";

.content-area {
  padding-top: 64px;
  overflow-x: hidden;
}

.content-area > .app-bar {
  /* position: fixed; */
  /* width: auto; */
  top: 0;
  right: 0;
  left: 0;
}

@media screen and (min-width: 80rem) {
  .content-area {
    /* padding-left: 320px; */
  }

  .content-area > .app-bar {
    /* left: 320px; */
  }
}

.sidebar {
  /* position: fixed; */
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.sidebar .toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12)
}

.example-box {
  display: flex;
  flex-direction: column;
  background: $gray-300;
  overflow: auto;
  padding: .5rem;

  .toolbar {
    background: $gray-300;
  }
}

.example-box-header {
  background: $gray-100;
  padding: 1rem;
  margin-bottom: .5rem;
}

.example-box .chip-avatar {
  background: rgba(0,0,0,.54);
}

.example-step-content {
  width: 100%;
  height: 300px;
  background: #ccc;
}

.card {
  margin-bottom: 8px;
}

.card-media,
.card-media-wide {
  background: url(http://www.grayscale-wallpapers.com/grayscale/lake-house.jpg);
  background-size: cover;
}

.sidebar {
  overflow: auto;
  height: 100%;
}

.chapter, .article-title {
  margin-top: 80px;
}

.chapter-title, .article-title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 48px;
  color: $primary-color; 
}

.article-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

pre {
  margin: 0;
}

code {
  padding: 1rem !important;
  background: transparent !important;
}