.content-area {
    padding-top: 64px;
    height: 100%;
    overflow-x: hidden;
}

.content-area > .app-bar {
    position: fixed;
    width: auto;
    top: 0;
    right: 0;
    left: 0;
}

@media screen and (min-width: 80rem) {
    .content-area {
        /* padding-left: 320px; */
    }

    .content-area > .app-bar {
        /* left: 320px; */
    }
}

.sidebar {
    /* position: fixed; */
    /* border-right: 1px solid rgba(0, 0, 0, 0.12); */
}

.sidebar .toolbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)
}

.container {
    /* max-width: 1000px; */
}

.example-box {
    /* background: #fff; */
    min-height: 300px;
    max-height: 300px;
    border: 1px solid #ddd;
    overflow: auto;
}

.example-box .toolbar {
    /* background: #fafafa; */
}

.example-box .chip-avatar {
    background: rgba(0,0,0,.54);
}

.example-step-content {
    width: 100%;
    height: 300px;
    background: #ccc;
}

.card {
    margin-bottom: 8px;
}

.card-media,
.card-media-wide {
    background: url(http://www.grayscale-wallpapers.com/grayscale/lake-house.jpg);
    background-size: cover;
}

.example-row {
    padding: 20px;
}

.example-row .row>.col,
.example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}