@import "variables";

.u-navigation-drawer-headline {
  color: var(--u-on-surface-variant-color);
  padding-inline: $u-drawer-list-item-padding + $u-drawer-list-item-margin;
  margin-block: $u-drawer-divider-margin;
}

.u-navigation-drawer {
  .u-list {
    padding: 0;
    background: transparent;
  }

  .u-list-item {
    min-height: $u-drawer-list-item-min-height;
    padding-inline: $u-drawer-list-item-padding;
    margin-inline: $u-drawer-list-item-margin;
    border-radius: $u-drawer-list-item-border-radius;
  }

  ~ .u-drawer-backdrop {
    position: fixed;
  }
}
