@import "variables";

.u-navigation-drawer {
  .u-list {
    padding: 0;
  }

  .u-list-item {
    min-height: $u-drawer-list-item-min-height;
    padding: $u-drawer-list-item-padding;
    margin: $u-drawer-list-item-margin;
    border-radius: $u-drawer-list-item-border-radius;
  }

  .u-divider {
    margin-top: 0;
    margin-bottom: 0;
  }
}
