$u-drawer-list-item-min-height: 56px !default;
$u-drawer-list-item-margin: 12px !default;
$u-drawer-border-radius: 16px;
$u-drawer-list-item-padding: 16px !default;
$u-drawer-list-item-border-radius: 28px !default;
