@import "variables";

//Inspiration: https://codepen.io/abottega/pen/vNzQMo/

.checkbox {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;

  @include hide-native-input;

  .selection-control {
    @include selectable-background-before-custom-size($checkbox-click-size, $checkbox-click-size, 50%);
    display: inline-flex;
    justify-content: center;
    width: $checkbox-size;
    height: $checkbox-size;
    border-radius: $checkbox-border-radius;
    box-shadow: 0 0 0 $checkbox-border-width currentColor inset;
    transition: box-shadow $check-animation-step-duration $check-animation-step-duration, color $check-animation-step-duration ($check-animation-step-duration * 2);
  }

  .selection-control-label {
    margin-left: $checkbox-label-margin;
  }

  .check-indicator {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip: rect(0, 0, $checkbox-size, 0);
    transition: clip $check-animation-step-duration;

    &::before {
      position: relative;
      top: 20%;
      display: block;
      width: .75rem;
      height: .35rem;
      content: "";
      border: .125rem solid;
      border-top-style: none;
      border-right-style: none;
      transform: rotate(-45deg);
    }
  }

  &.checked .selection-control,
  input:checked ~ .selection-control {
    box-shadow: 0 0 0 $checkbox-size / 2 currentColor inset;
    transition: box-shadow $check-animation-step-duration, color $check-animation-step-duration $check-animation-step-duration;

    .check-indicator {
      clip: rect(0, $checkbox-size, $checkbox-size, 0);
      transition: clip $check-animation-step-duration $check-animation-step-duration;
    }
  }

  &.disabled .selection-control,
  input:disabled ~ .selection-control {
    opacity: $checkbox-disabled-opacity;
  }
}

@keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 .625rem currentColor, .625rem -.625rem 0 .625rem currentColor, 2rem 0 0 1.25rem currentColor, 0 2rem 0 1.25rem currentColor, -.3125rem .3125rem 0 .625rem currentColor, .9375rem .125rem 0 .6875rem;
    opacity: 0;
  }
  50% {
    box-shadow: 0 0 0 .625rem currentColor, .625rem -.625rem 0 .625rem currentColor, 2rem 0 0 1.25rem currentColor, 0 2rem 0 1.25rem currentColor, -.3125rem .3125rem 0 .625rem currentColor, 1.25rem .125rem 0 .6875rem;
  }
  100% {
    box-shadow: 0 0 0 .625rem currentColor, .625rem -.625rem 0 .625rem currentColor, 2rem 0 0 1.25rem currentColor, 0 2rem 0 1.25rem currentColor, -.3125rem .3125rem 0 .625rem currentColor, 1.25rem -.75rem 0 .6875rem;
    opacity: 1;
  }
}

@keyframes checkbox-off {
  0% {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    box-shadow: 0 0 0 .625rem inset currentColor;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    box-shadow: 0 0 0 0 inset;
    transform: rotate(0deg);
  }
}

@mixin selection-controls-theme($theme-colors, $dark-theme) {
  $primary-color: map-get($theme-colors, "primary");
  $check-color: $checkbox-color-light-theme;
  $checkbox-mark-color-theme: $checkbox-mark-color-light-theme;

  @if ($dark-theme) {
    $check-color: $checkbox-color-dark-theme;
    $checkbox-mark-color-theme: $checkbox-mark-color-dark-theme;
  }

  .checkbox {
    .selection-control {
      color: $check-color;
    }

    .check-indicator::before {
      border-color: $checkbox-mark-color-theme;
    }

    &.checked:not(.disabled) .selection-control,
    input:checked:not(:disabled) ~ .selection-control {
      color: $primary-color;
    }
  }
}
