@use "sass:math";

@import "variables";
@import "../../font";
@import "../../mixins";
@import "../../placeholders";

//Inspiration: https://codepen.io/abottega/pen/vNzQMo/

.u-checkbox {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  font-family: $u-font-family-base;
  cursor: pointer;

  @include hide-native-input;

  .u-selection-control {
    @extend %u-selectable-background-before;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    width: $u-checkbox-click-size;
    height: $u-checkbox-click-size;
    padding: math.div($u-checkbox-click-size - $u-checkbox-size, 2);
    border-radius: 50%;

    &,
    & * {
      box-sizing: border-box;
    }

    &::after {
      display: inline-block;
      width: $u-checkbox-size;
      height: $u-checkbox-size;
      content: "";
      border-radius: $u-checkbox-border-radius;
      box-shadow: 0 0 0 $u-checkbox-border-width var(--u-on-surface-color) inset;
      opacity: $u-checkbox-unchecked-opacity;
      transition: box-shadow $u-checkbox-animation-step-duration $u-checkbox-animation-step-duration;
    }
  }

  .u-selection-control-label {
    margin-left: $u-checkbox-label-margin;
    font-size: $u-checkbox-label-font-size;
  }

  .u-check-indicator {
    position: absolute;
    display: flex;
    justify-content: center;
    width: $u-checkbox-size;
    height: $u-checkbox-size;
    overflow: hidden;
    clip: rect(0, 0, $u-checkbox-size, 0);
    transition: clip $u-checkbox-animation-step-duration;

    &::before {
      position: relative;
      top: 25%;
      box-sizing: border-box;
      display: block;
      width: .75rem;
      height: .35rem;
      content: "";
      border: .125rem solid var(--u-on-primary-color);
      border-top-style: none;
      border-right-style: none;
      transform: rotate(-45deg);
    }
  }

  &.checked .u-selection-control,
  input:checked ~ .u-selection-control {
    &::after {
      box-shadow: 0 0 0 math.div($u-checkbox-size, 2) var(--u-primary-color) inset;
      opacity: 1;
      transition: box-shadow $u-checkbox-animation-step-duration;
    }

    .u-check-indicator {
      clip: rect(0, $u-checkbox-size, $u-checkbox-size, 0);
      transition: clip $u-checkbox-animation-step-duration $u-checkbox-animation-step-duration;
    }
  }

  &.disabled .u-selection-control,
  input:disabled ~ .u-selection-control {
    opacity: $u-checkbox-disabled-opacity;

    &::before {
      display: none;
    }
  }

  &.checked.disabled .u-selection-control,
  input:checked:disabled ~ .u-selection-control {
    &::after {
      box-shadow: 0 0 0 math.div($u-checkbox-size, 2) var(--u-on-surface-color) inset;
      opacity: 1;
      transition: box-shadow $u-checkbox-animation-step-duration;
    }
  }
}
