@import "../../colors";

$u-checkbox-label-font-size: 1rem !default;
$u-checkbox-label-margin: .25rem !default;
$u-checkbox-click-size: 2.5rem !default;
$u-checkbox-disabled-opacity: .47 !default;

$u-checkbox-border-width: .125rem !default;
$u-checkbox-border: $u-checkbox-border-width solid currentColor !default;
$u-checkbox-color-light-theme: rgba(0, 0, 0, .54) !default;
$u-checkbox-color-dark-theme: rgba(255, 255, 255, .7) !default;
$u-checkbox-mark-color-light-theme: $bg-light !default;
$u-checkbox-mark-color-dark-theme: $bg-dark !default;

$u-checkbox-border-radius: .125rem !default;
$u-checkbox-size: 1rem !default;
$u-checkbox-animation-step-duration: 175ms !default;
