.badge {
  @include size($badge-size);

  position: absolute;
  background-color: $secondary-color;
  color: get-text-color-by-background-color($secondary-color);
  border-radius: 50%;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: $badge-size;
  text-align: center;
}

.badge-top-left {
  top: $badge-position;
  left: $badge-position;
}

.badge-top-right {
  top: $badge-position;
  right: $badge-position;
}

.badge-bottom-left {
  bottom: $badge-position;
  left: $badge-position;
}

.badge-bottom-right {
  bottom: $badge-position;
  right: $badge-position;
}