@import "uwp/uwp-buttons";

.btn {

  position: relative; //Universal Material custom code
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $btn-height; //Universal Material custom code
  padding: 0 $btn-side-padding; //Universal Material custom code
  z-index: 1; //Universal Material custom code
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  text-align: center;
  text-transform: uppercase; //Universal Material custom code
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  background: transparent; //Universal Material custom code
  border: none; //Universal Material custom code
  border-radius: $btn-border-radius; //Universal Material custom code

  @include selectable-background-before(0);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }


  &:focus,
  &.focus {
    outline: 0;
    //box-shadow: $btn-focus-box-shadow;
  }

  &:active,
  &.active {
    background-image: none;
    //@include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  }
}

.btn-flat,
.btn-solid {
  @extend .btn;
}

.btn-outline {
  @extend .btn-flat;
  border: $btn-outline-border-width solid currentColor;
}

.btn-raised {
  @extend .btn-solid;

  @include elevate("2dp");

  &:active {
    @include elevate("4dp");
  }

  transition: box-shadow 150ms;
}

.btn-borderless {
  @extend .btn;
  width: $btn-borderless-size;
  height: $btn-borderless-size;
  padding: 0;
  font-size: $base-icon-size;
  border-radius: 50%;

  + .btn-borderless {
    margin-left: $btn-borderless-margin;
  }
}

.btn-icon {
  display: inline-block;
  width: $btn-icon-size;
  height: $btn-icon-size;
  margin-right: .5rem;
  margin-left: -.25rem;
  font-size: $btn-icon-size;
  line-height: $btn-icon-size;
}

.dense {
  @at-root .dense-layout .btn,
  &.btn {
    height: $btn-dense-size;
    font-size: $btn-dense-font-size;
  }

  @at-root .dense-layout .btn-borderless,
  &.btn-borderless {
    width: $btn-dense-size;
    font-size: $base-dense-icon-size;
  }

  @at-root .dense-layout .btn-icon,
  &.btn-icon {
    font-size: $btn-icon-dense-size;
  }
}

@mixin button-flat-theme($buttons-colors, $dark-theme) {

  $btn-flat-default-color: $body-color-light-theme;

  @if ($dark-theme) {
    $btn-flat-default-color: $body-color-dark-theme;
  }

  @each $color, $value in map-merge($buttons-colors, (default: $btn-flat-default-color)) {
    .btn-flat.btn-#{$color} {
      @include button-flat-variant($value);
    }
  }
}

@mixin button-borderless-theme($buttons-colors, $dark-theme) {

  $btn-flat-default-color: $body-color-light-theme;
  $btn-borderless-color: $btn-borderless-color-light-theme;
  $btn-disabled-color: $btn-disabled-color-light-theme;

  @if ($dark-theme) {
    $btn-flat-default-color: $body-color-dark-theme;
    $btn-borderless-color: $btn-borderless-color-dark-theme;
    $btn-disabled-color: $btn-disabled-color-dark-theme;
  }

  @each $color, $value in map-merge($buttons-colors, (default: $btn-borderless-color)) {
    .btn-borderless.btn-#{$color} {
      @include button-flat-variant($value);
    }
  }

  .btn-borderless {
    color: $btn-borderless-color;

    @include hover-focus {
      color: $btn-borderless-color;
    }

    &:disabled,
    &.disabled {
      color: $btn-disabled-color !important;
    }
  }
}

@mixin buttons-theme($theme) {

  $theme-colors: map-get($theme, "colors");
  $dark-theme: map-get($theme, "dark");
  $uwp-style: map-get($theme, "uwp-style");

  $buttons-colors: (
    default: $btn-default-background-light,
    primary: map-get($theme-colors, "primary"),
    accent: map-get($theme-colors, "accent"),
    danger: map-get($theme-colors, "danger")
  );

  $btn-disabled-color: $btn-disabled-color-light-theme;
  $btn-disabled-background-color: $btn-disabled-background-light-theme;
  $btn-flat-default-color: $body-color-light-theme;
  $btn-borderless-color: $btn-borderless-color-light-theme;
  $btn-outline-gray-border-color: $btn-outline-gray-border-color-light-theme;

  @if ($dark-theme) {
    $buttons-colors: map-merge($buttons-colors, (default: $btn-default-background-dark));
    $btn-disabled-color: $btn-disabled-color-dark-theme;
    $btn-disabled-background-color: $btn-disabled-background-dark-theme;
    $btn-flat-default-color: $body-color-dark-theme;
    $btn-borderless-color: $btn-borderless-color-dark-theme;
    $btn-outline-gray-border-color: $btn-outline-gray-border-color-dark-theme;
  }

  @each $color, $value in $buttons-colors {
    .btn-solid.btn-#{$color} {
      @include button-solid-variant($value);
    }
  }

  .btn {
    &.disabled,
    &:disabled {
      color: $btn-disabled-color !important;
      background-color: $btn-disabled-background-color;
      box-shadow: none;

      &::before {
        background-color: transparent !important;
      }
    }
  }

  .btn-borderless,
  .btn-flat {
    &.disabled,
    &:disabled {
      &,
      &::before {
        background-color: transparent;
      }
    }
  }

  .btn-outline-gray-border {
    border-color: $btn-outline-gray-border-color;
  }

  @include button-flat-theme($buttons-colors, $dark-theme);
  @include button-borderless-theme($buttons-colors, $dark-theme);

  @if ($uwp-style) {
    @include uwp-button($dark-theme);
  }
}
