@import "uwp/uwp-card";

.card {
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  overflow: hidden;

  &.selectable-background::before {
    border-radius: $card-border-radius;
  }
}

.card-outline {
  box-shadow: none;
  border: $card-outline-border;
}

.card-header {
  @include horizontal-padding($card-side-padding);

  @include vertical-padding($card-base-small-vertical-padding);

  .avatar {
    margin-right: $card-side-padding;
  }

  .title {
    @include material-align($card-small-title-font-size);

    &.title-large {
      @include material-align($card-large-title-font-size);
    }
  }

  .subtitle {
    @include material-align($card-small-title-font-size);

    font-weight: $card-subtitle-font-weight;
  }

  .title + .subtitle {
    margin-top: $card-subtitle-margin;
  }
}

.card-media {
  position: relative;
  padding-bottom: 100%;
}

.card-media-wide {
  padding-bottom: 56.25%;
}

.card-media-content {
  color: $white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.54) !important;

  .subtitle {
    color: $white !important;
  }

  @if (mixin_exists(button-flat-theme)) {
    @include button-flat-theme((), true);
    @include button-borderless-theme((), true);
  }
}

.card-body {
  @include horizontal-padding($card-side-padding);
  @include vertical-padding($card-base-small-vertical-padding);
}

.card-header + .card-body {
  padding-top: 0;
}

.card,
.card.card-media .card-media-content {
  > .card-header:last-child,
  > .card-body:last-child {
    padding-bottom: $card-base-large-vertical-padding;
  }
}

.card-actions {
  padding: $card-actions-padding;

  .btn + .btn {
    margin-left: $card-actions-padding;
  }
}

@mixin card-theme($theme) {

  $dark-theme: map-get($theme, "dark");
  $uwp-style: map-get($theme, "uwp-style");

  $background-color: $card-bg-light-theme;
  $color: $card-subtitle-color-light-theme;

  @if ($dark-theme) {
    $background-color: $card-bg-dark-theme;
    $color: $card-subtitle-color-dark-theme;
  }

  .card {
    background-color: $background-color
  }

  .card-header {
    .subtitle {
      color: $color;
    }
  }

  @if ($uwp-style) {
    @include uwp-card;


    @if (mixin_exists(uwp-button)) {
      .card-media-content {
        @include uwp-button(true);
      }
    }
  }
}