.checkbox,
.radio,
.switch {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;

  input {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    appearance: none;
  }

  .selection-control {
    @include selectable-background-before(50%);

    &::before,
    .ripple-wrapper {
      top: 50%;
      left: 50%;
      width: $selection-control-hover-size;
      height: $selection-control-hover-size;
      margin-top: -$selection-control-hover-size / 2;
      margin-left: -$selection-control-hover-size / 2;
      border-radius: 50%;
    }
  }

  &.disabled .selection-control,
  input:disabled ~ .selection-control {
    &::before {
      background-color: transparent;
      opacity: 0;
    }
  }
}

.checkbox,
.radio {
  &.disabled .selection-control-label,
  input:disabled ~ .selection-control-label {
    opacity: $selection-control-disabled-opacity;
  }
}

.selection-control {
  position: relative;
}

.selection-control-label {
  margin-left: $selection-control-label-margin;
}

.checkbox {
  .selection-control {
    @include size($checkbox-size);
    border: $checkbox-radio-border-light-theme;
    border-radius: $checkbox-border-radius;
    transition: border-color 250ms, background 250ms;

    &::after {
      position: absolute;
      top: $checkbox-mark-top;
      left: $checkbox-mark-left;
      width: $checkbox-mark-width;
      height: $checkbox-mark-height;
      content: "";
      border: $checkbox-mark-border-width solid $checkbox-mark-color-light-theme;
      border-top-style: none;
      border-right-style: none;
      opacity: 0;
      transition: opacity 250ms;
      transform: rotate(-45deg);
    }
  }

  &.checked .selection-control,
  input:checked ~ .selection-control {
    background: currentColor;
    border-color: currentColor;
    transition: background 125ms;

    &::after {
      opacity: 1;
      transform: rotate(-45deg);
    }
  }
}

.radio {
  .selection-control {
    @include size($radio-size);
    border-radius: 50%;

    &::after {
      @include size($radio-check-mark-size);
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -$radio-check-mark-size / 2;
      margin-left: -$radio-check-mark-size / 2;
      content: "";
      background: currentColor;
      border-radius: 50%;
      transition: transform 250ms;
      transform: scale3d(0, 0, 1);
    }
  }

  &.checked .selection-control,
  input:checked ~ .selection-control {
    border-color: currentColor;

    &::after {
      transform: scale3d(1, 1, 1);
    }
  }
}

.switch-track {
  width: 100%;
  height: 100%;
  border-radius: $switch-border-radius;
  transition: background-color 250ms;
}

.switch {
  .selection-control {
    width: $switch-width;
    height: $switch-height;

    &::before,
    .ripple-wrapper {
      left: -($selection-control-hover-size - $switch-toggle-size) / 2;
      margin-left: 0;
      transition: background-color 250ms, left 250ms;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: $switch-toggle-size;
      height: $switch-toggle-size;
      margin-top: -$switch-toggle-size / 2;
      content: "";
      border-radius: 50%;
      box-shadow: $switch-toggle-box-shadow;
      transition: left 250ms, background-color 250ms;
    }
  }

  &.checked .selection-control,
  input:checked ~ .selection-control {
    &::before,
    .ripple-wrapper {
      left: $switch-width - $switch-toggle-size - (($selection-control-hover-size - $switch-toggle-size) / 2);
    }

    &::after {
      left: $switch-width - $switch-toggle-size;
      background-color: currentColor;
    }
  }

  &.checked .switch-track,
  input:checked ~ .selection-control .switch-track {
    background: currentColor;
    opacity: $switch-checked-track-opacity;
  }

  &.disabled,
  input:disabled ~ * {
    opacity: $selection-control-disabled-opacity;
  }
}

@mixin selection-controls-theme($theme-colors, $dark-theme) {
  $primary-color: map-get($theme-colors, "primary");

  $check-radio-border: $checkbox-radio-border-light-theme;
  $check-radio-disabled-border: $checkbox-radio-disabled-color-light-theme;
  $switch-background: $switch-background-color-light-theme;
  $switch-disabled-background: $switch-disabled-background-color-light-theme;
  $switch-toggle-background: $switch-toggle-background-color-light-theme;
  $switch-toggle-disabled-background: $switch-toggle-disabled-background-color-light-theme;

  @if ($dark-theme) {
    $check-radio-border: $checkbox-radio-border-dark-theme;
    $check-radio-disabled-border: $checkbox-radio-disabled-color-dark-theme;
    $switch-background: $switch-background-color-dark-theme;
    $switch-disabled-background: $switch-disabled-background-color-dark-theme;
    $switch-toggle-background: $switch-toggle-background-color-dark-theme;
    $switch-toggle-disabled-background: $switch-toggle-disabled-background-color-dark-theme;
  }

  .checkbox,
  .radio {
    .selection-control {
      border: $check-radio-border;
    }

    &.disabled .selection-control,
    input:disabled ~ .selection-control {
      border-color: $check-radio-disabled-border;
    }
  }

  .checkbox {
    &.checked.disabled .selection-control,
    input:checked:disabled ~ .selection-control {
      background: $check-radio-disabled-border;
      border-color: transparent;
    }
  }

  .radio {
    &.disabled .selection-control,
    &.disabled.checked .selection-control,
    input:disabled ~ .selection-control,
    input:checked:disabled ~ .selection-control {
      &::after {
        background: $check-radio-disabled-border;
      }
    }
  }

  .switch-track {
    background-color: $switch-background;
  }

  .switch {
    .selection-control::after {
      background-color: $switch-toggle-background;
    }
  }

  .checkbox,
  .radio,
  .switch {
    &.checked .selection-control,
    input:checked ~ .selection-control {
      color: $primary-color;
    }
  }
}
