.chip {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  height: $chip-height;
  border-radius: $chip-height / 2;
  font-size: $chip-font-size;

  @include vertical-margin($chip-margin-vertical);

  margin-right: $chip-margin;
  overflow: hidden;
}

.chip-outline {
  border: $chip-outline-border-width solid;
}

.chip-label {
  &:first-child {
    margin-left: $chip-label-margin;
  }

  &:last-child {
    margin-right: $chip-label-margin;
  }
}

.chip-avatar {
  @include size($chip-avatar-size);

  line-height: $chip-avatar-size;
  font-size: $chip-avatar-font-size;
  margin-left: $chip-avatar-margin-left;
  margin-right: $chip-avatar-margin;
  border-radius: 50%;
}

.chip-remove {
  cursor: pointer;
  text-align: center;

  @include size($chip-remove-size);

  font-size: $chip-remove-size;
  line-height: $chip-remove-size;
  margin: 0 $chip-remove-margin;

  &::before {
    content: '';
    position: absolute;
    width: $chip-remove-hover-size;
    height: $chip-remove-hover-size;
    left: 50% !important;
    top: 50% !important;
    margin-left: -$chip-remove-hover-size / 2;
    margin-top: -$chip-remove-hover-size / 2;
    border-radius: 50% !important;
  }
}

.chip-input {
  min-height: $chip-height + $chip-margin-vertical * 2;
  align-items: center;
  flex-wrap: wrap;
}

@mixin chip-theme($dark-theme) {
  $background-color: $chip-background-color-light-theme;
  $remove-color: $chip-remove-color-light-theme;
  $chip-outline-border-color: $chip-outline-border-color-light-theme;

  @if ($dark-theme) {
    $background-color: $chip-background-color-dark-theme;
    $remove-color: $chip-remove-color-dark-theme;
    $chip-outline-border-color: $chip-outline-border-color-dark-theme;
  }

  .chip {
    background-color: $background-color;
  }

  .chip-outline {
    background: transparent;
    border-color: $chip-outline-border-color;
  }

  .chip-remove {
    color: $remove-color;

    @include selectable-background($dark-theme, true, 50%);
  }
}