.chip {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: $chip-height;
  margin-top: $chip-margin-vertical;
  margin-right: $chip-margin;
  margin-bottom: $chip-margin-vertical;
  overflow: hidden;
  font-size: $chip-font-size;
  border-radius: $chip-height / 2;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: currentColor;
    opacity: .2;
  }
}

.chip-outline {
  border: $chip-outline-border-width solid;

  &::before {
    opacity: .12;
  }
}

.chip-label {
  font-weight: $font-medium;

  &:first-child {
    margin-left: $chip-label-margin;
  }

  &:last-child {
    margin-right: $chip-label-margin;
  }
}

.chip-avatar {
  @include size($chip-avatar-size);

  margin-right: $chip-avatar-margin;
  margin-left: $chip-avatar-margin-left;
  font-size: $chip-avatar-font-size;
  line-height: $chip-avatar-size;
  border-radius: 50%;
}

.chip-remove {
  margin: 0 $chip-remove-margin;
  font-size: $chip-remove-size;
  line-height: $chip-remove-size;
  text-align: center;
  cursor: pointer;

  @include size($chip-remove-size);
  @include selectable-background-before;

  &::before,
  .ripple-wrapper {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    width: $chip-remove-hover-size;
    height: $chip-remove-hover-size;
    margin-top: -$chip-remove-hover-size / 2;
    margin-left: -$chip-remove-hover-size / 2;
    content: "";
    border-radius: 50% !important;
  }
}

.chip-hover {
  @include selectable-background-before;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  content: "";
}

.chip-input {
  flex-wrap: wrap;
  align-items: center;
  min-height: $chip-height + $chip-margin-vertical * 2;
}

@mixin chip-theme($theme-colors, $dark-theme) {
  $background-color: $chip-background-color-light-theme;
  $chip-outline-border-color: $chip-outline-border-color-light-theme;

  @if ($dark-theme) {
    $background-color: $chip-background-color-dark-theme;
    $chip-outline-border-color: $chip-outline-border-color-dark-theme;
  }

  .chip-outline {
    border-color: $chip-outline-border-color;
  }

  @each $color, $value in $theme-colors {
    .chip-#{$color} {
      color: $value;
    }
  }
}
