// stylelint-disable selector-no-qualifying-type

.data-table {
  width: 100%;
  max-width: 100%;

  th {
    padding-top: $data-table-column-header-vertical-padding;
    padding-bottom: $data-table-column-header-vertical-padding;
    font-size: $data-table-column-header-font-size;
    font-weight: $data-table-column-header-font-weight;
    line-height: $data-table-column-header-line-height;
  }

  td {
    padding-top: $data-table-column-vertical-padding;
    padding-bottom: $data-table-column-vertical-padding;
    font-size: $data-table-content-font-size;
    font-weight: $data-table-content-font-weight;
    border-top: $data-table-border;
  }

  td.dropdown {
    padding-top: 0;
    padding-bottom: 0;
  }

  th,
  td {
    @include horizontal-padding($data-table-horizontal-padding);

    vertical-align: top;

    &.no-vertical-padding {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &.card {
    overflow: visible;
  }

  .dropdown-toggle:not(.btn-borderless) {
    width: 100%;
    padding: 0;
    text-align: left;
    text-transform: none;
    &.btn::before {
      content: none;
    }
  }
}

.data-table-footer {
  height: $data-table-card-footer-height;
  font-size: $data-table-card-footer-font-size;
  font-weight: $data-table-card-footer-font-weight;
  color: $data-table-card-footer-font-color;
  border-top: $data-table-border;

  @include horizontal-padding($data-table-horizontal-padding);

  @extend .toolbar;

  .data-table-actions {
    margin-left: 2rem;

    .data-table-action:first-child {
      margin-left: -$toolbar-action-padding;
    }
  }
}

th.data-table-header {
  padding: 0;
}

@mixin data-table-theme($dark-theme) {

  $data-table-column-header-color: $data-table-column-header-color-light-theme;
  $data-table-row-selected-bg: $data-table-row-selected-bg-light-theme;
  $data-table-row-hover-background-color: $data-table-row-hover-background-color-light-theme;

  @if ($dark-theme) {
    $data-table-column-header-color: $data-table-column-header-color-dark-theme;
    $data-table-row-selected-bg: $data-table-row-selected-bg-dark-theme;
    $data-table-row-hover-background-color: $data-table-row-hover-background-color-dark-theme;
  }

  .data-table {
    th {
      color: $data-table-column-header-color;
    }

    tr.selected {
      background-color: $data-table-row-selected-bg;
    }
  }

  .data-table-hover tbody tr {
    &:hover {
      background-color: $data-table-row-hover-background-color;
    }
  }
}
