.expansion-panel {
  @include elevate("2dp");

  position: relative;
  width: 100%;
  overflow: auto;
  background: #fff;
  transition: margin 150ms ease-out;

  + .expansion-panel::after {
    position: absolute;
    top: -$expansion-panel-divider-width;
    left: 0;
    width: 100%;
    height: $expansion-panel-divider-width;
    content: "";
    background: $divider-color;
  }

  &:first-child,
  &.open,
  &.open + .expansion-panel {
    border-top-left-radius: $expansion-panel-border-radius;
    border-top-right-radius: $expansion-panel-border-radius;
  }

  &:last-child,
  &.open,
  &.before-opened {
    border-bottom-right-radius: $expansion-panel-border-radius;
    border-bottom-left-radius: $expansion-panel-border-radius;
  }

  .expansion-panel-content {
    max-height: 0;
    padding: 0 $expansion-panel-horizontal-padding;
    margin-bottom: 0;
    overflow: hidden;
    clear: both;
    transition: max-height 200ms ease;
  }

  &.open {
    margin-bottom: $expansion-panel-content-margin;

    &::before,
    & + .expansion-panel::before {
      content: initial;
    }

    .expansion-panel-content {
      max-height: 120vh;
      margin-bottom: $expansion-panel-content-margin;
    }
  }

  &:not(:first-of-type).open {
    margin-top: $expansion-panel-content-margin;
  }

  .expansion-panel-header {
    padding: 0 $expansion-panel-horizontal-padding;
  }

  .expansion-panel-label {
    float: left;
    font-size: $expansion-panel-label-font-size;
    font-weight: $font-regular;
    line-height: $expansion-panel-label-height;

    + .expansion-panel-label {
      margin-left: $expansion-panel-content-margin;
      color: $text-low-contrast-light-theme;
    }
  }

  .expansion-panel-switch {
    float: right;
    width: $expansion-panel-switch-size;
    margin-left: $expansion-panel-content-margin;
    background: transparent;
    font-size: $expansion-panel-switch-size;
    line-height: $expansion-panel-label-height;
    color: $text-low-contrast-light-theme;
    text-align: center;
    border: none;
    outline: 0;
  }
}
