.progress-indicator {
  position: relative;
  width: 0;
  height: $progress-height;
  transition: width 250ms;
}

.progress {
  position: relative;
  height: 0;
  overflow: hidden;
  border-radius: $progress-border-radius;
  transition: height 350ms;

  &.show {
    height: $progress-height;
  }

  &.indeterminate {
    .progress-indicator {
      width: 100%;
      background-color: transparent;

      &::before,
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20%;
        content: "";
        animation-duration: $progress-indeterminate-animation-duration;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      &::before {
        width: 20%;
        animation-name: slow-bar;
      }

      &::after {
        right: 100%;
        width: 70%;
        animation-name: quick-bar;
      }
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: .2;
  }
}

.progress::before,
.progress-indicator,
.progress.indeterminate .progress-indicator::after,
.progress.indeterminate .progress-indicator::before {
  background-color: currentColor;
}

.preloader-wrapper {
  position: relative;
  display: inline-block;
  width: $spinner-height;
  height: $spinner-height;

  animation: container-rotate 1568ms linear infinite;

  &.small {
    width: $spinner-height-small;
    height: $spinner-height-small;
  }

  &.x-small {
    width: $spinner-height-x-small;
    height: $spinner-height-x-small;
  }

  &.big {
    width: $spinner-height-big;
    height: $spinner-height-big;
  }
}

@keyframes container-rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-color: currentColor;

  animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

@keyframes fill-unfill-rotate {
  12.5% {
    transform: rotate(135deg);
  }

  25% {
    transform: rotate(270deg);
  }

  37.5% {
    transform: rotate(405deg);
  }

  50% {
    transform: rotate(540deg);
  }

  62.5% {
    transform: rotate(675deg);
  }

  75% {
    transform: rotate(810deg);
  }

  87.5% {
    transform: rotate(945deg);
  }

  to {
    transform: rotate(1080deg);
  }
}

.gap-patch {
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;

  .circle {
    left: -450%;
    width: 1000%;
  }
}

.circle-clipper {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;

  .circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200%;
    height: 100%;
    border-color: inherit;
    border-style: solid;
    border-width: 3px;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    animation: none;
  }

  &.left {
    float: left;

    .circle {
      left: 0;
      border-right-color: transparent !important;

      transform: rotate(129deg);

      animation: left-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
    }
  }
}

.circle-clipper.right {
  float: right;

  .circle {
    left: -100%;
    border-left-color: transparent !important;

    transform: rotate(-129deg);

    animation: right-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
  }
}

@keyframes left-spin {
  from {
    transform: rotate(130deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(130deg);
  }
}

@keyframes right-spin {
  from {
    transform: rotate(-130deg);
  }

  50% {
    transform: rotate(5deg);
  }

  to {
    transform: rotate(-130deg);
  }
}

@keyframes slow-bar {
  0% {
    right: 100%;
    width: 20%;
  }

  50% {
    right: -20%;
    width: 70%;
  }

  100% {
    right: -140%;
    width: 20%;
  }
}

@keyframes quick-bar {

  60% {
    right: 100%;
    width: 70%;
  }

  80% {
    right: 10%;
    width: 10%;
  }

  100% {
    right: -80%;
    width: 10%;
  }
}

@mixin progress-theme($theme-colors) {
  $primary-color: map-get($theme-colors, "primary");

  .progress,
  .preloader-wrapper {
    color: $primary-color;
  }
}
