@import "../animations";

.u-ripple-wrapper,
.u-ripple {
  position: absolute;
  pointer-events: none;
  border-radius: inherit;
}

.u-ripple-wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.u-ripple {
  top: 50%;
  left: 50%;
  background: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 4rem 4rem currentColor;
  opacity: .2;
  transform: scale3d(0, 0, 1);
  will-change: transform;
}

.u-ripple.show {
  transition: transform 3s $awesome-cubic-bezier, opacity 750ms;
  transform: scale3d(1, 1, 1);
}

.u-ripple.dismiss {
  opacity: 0;
  transform: scale3d(2, 2, 1);
}
