@import "uwp/uwp-snackbar";

.snackbar {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: $snackbar-height;

  font-size: $snackbar-font-size;
  z-index: $zindex-snackbar;

  animation-name: snackbar-fade-in;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
  //animation-timing-function: $awesome-cubic-bezier;

  &.dismiss {
    animation-name: snackbar-fade-out;
  }
}

.snackbar-text {
  margin: $snackbar-text-vertical-margin $snackbar-horizontal-padding;
  font-weight: $snackbar-font-weight;
  flex: 1;
  overflow: hidden;
}

.snackbar-button {
  @extend .btn-flat;
  border-radius: 0;
  padding-left: $snackbar-button-horizontal-padding;
  padding-right: $snackbar-button-horizontal-padding;

  &, &:hover {
    color: $accent-color;
  }
}

@include media-breakpoint-up(md) {
  .snackbar {
    left: 50%;
    width: auto;
    min-width: $snackbar-tablet-min-width;
    max-width: $snackbar-tablet-max-width;
    border-radius: $snackbar-tablet-border-radius;

    animation-name: snackbar-centered-fade-in;

    &.dismiss {
      animation-name: snackbar-centered-fade-out;
    }

    &.snackbar-left {
      bottom: $floating-content-padding;
      left: $floating-content-padding;

      animation-name: snackbar-left-fade-in;

      &.dismiss {
        animation-name: snackbar-left-fade-out;
      }
    }
  }

  .snackbar-button {
    margin-left: $snackbar-button-tablet-left-margin;
  }
}

@keyframes snackbar-fade-in {
  0% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, 0);
  }
}


@keyframes snackbar-centered-fade-in {
  0% {
    transform: translate(-50%, 100%);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes snackbar-left-fade-in {
  0% {
    transform: translate(0, 150%);
  }

  100% {
    transform: translate(0, 0);
  }
}


@keyframes snackbar-fade-out {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@keyframes snackbar-centered-fade-out {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, 100%);
  }
}

@keyframes snackbar-left-fade-out {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 150%);
  }
}

@mixin snackbar-theme($theme) {

  $dark-theme: map-get($theme, "dark");
  $uwp-style: map-get($theme, "uwp-style");

  $background-color: $snackbar-background-color-light-theme;
  $color: $snackbar-text-color-light-theme;

  @if ($dark-theme) {
    $background-color: $snackbar-background-color-dark-theme;
    $color: $snackbar-text-color-dark-theme;
  }

  .snackbar {
    background-color: $background-color;
  }

  .snackbar-text {
    color: $color;
  }

  @if ($uwp-style) {
    @include uwp-snackbar($dark-theme);

    @if (mixin_exists(uwp-button)) {
      .snackbar {
        @include uwp-button(not $dark-theme);
      }
    }
  }
}
