.tab-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $tab-height;
  @include horizontal-padding($tab-horizontal-padding-sm)
}

.tab {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  @include horizontal-padding($tab-horizontal-padding-sm);
  @include horizontal-margin(-$tab-horizontal-padding-sm);

  + .tab {
    margin-left: $tab-horizontal-padding-sm;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    height: $tab-indicator-height;
  }

  &.active {
    &::after {
      opacity: 1;
    }
  }
}

.tab-content {
  text-align: center;
  width: 100%;
}

.tab-text {
  position: relative;
  display: inline-block;
  font-size: $tab-font-size;
  text-transform: uppercase;
  font-weight: $tab-font-weight;
}

@include media-breakpoint-up(lg) {
  .tab-bar {
    @include horizontal-padding($tab-horizontal-padding-lg);

    &.toolbar-icon-padding {
      padding-left: $toolbar-icon-width + $toolbar-horizontal-padding;
    }
  }

  .tab {
    flex: none;

    @include horizontal-padding($tab-horizontal-padding-lg);
    @include horizontal-margin(-$tab-horizontal-padding-lg);

    + .tab {
      margin-left: $tab-horizontal-padding-lg;
    }
  }
}

@mixin tab-text-color($theme-colors, $dark-background) {
  $tab-accent-color: map-get($theme-colors, "accent");
  $tab-text-color: $tab-text-color-light-theme;
  $tab-text-color-active: $tab-accent-color;

  @if ($dark-background) {
    $tab-text-color: $tab-text-color-dark-theme;
    $tab-text-color-active: $tab-text-color-active-dark-theme;
  }

  .tab-content {
    color: $tab-text-color;
  }

  .tab.active .tab-content {
    color: $tab-text-color-active;
  }
}

@mixin tab-theme($theme-colors, $dark-theme) {

  .tab {
    @include selectable-background($dark-theme);

    &::after {
      background-color: map-get($theme-colors, "accent");
    }
  }

  @include tab-text-color($theme-colors, $dark-theme);
}