@import "uwp/uwp-text-fields";

input,
.text-input {
  padding: $text-field-item-margin 0;
  font-size: $text-input-font-size;
  font-weight: $text-input-font-weight;
  line-height: $text-input-line-height;
  text-align: left;
  resize: none;
  background: transparent;
  border: none;
  outline: 0 !important;
}

.text-input {
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: $text-input-padding-bottom;
  border-bottom: $text-field-divider-width solid;

  input,
  .placeholder,
  .text-input-value {
    flex-grow: 1;
    padding: 0;

    + .text-input-icon {
      margin-left: $text-field-item-margin;
    }
  }

  @at-root .text-field.focus .text-input,
  &:focus,
  &:hover {
    padding-bottom: $text-input-dense-padding-bottom;
    border-width: $text-field-divider-focus-hover-width;
  }

  @at-root .text-field.disabled .text-input,
  &:disabled {
    padding-bottom: $text-input-padding-bottom;
    color: $text-lower-contrast;
    border-bottom: $text-field-divider-width dashed;
  }
}

.text-input-group {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .text-input {
    flex-grow: 1;

    &:not(input) {
      display: flex;
    }
  }
}

.text-input-icon {
  @include size($base-icon-size);

  font-size: $base-icon-size;
  line-height: 1;
  text-align: center;

  & + .text-input {
    margin-left: 1rem;
  }
}

.text-input-prefix {
  margin-right: $text-field-item-margin;
}

.text-input-suffix {
  margin-left: $text-field-item-margin;
}

.helper-text {
  margin-top: $text-field-helper-text-margin;
  font-size: $text-field-helper-text-font-size;
  font-style: normal;
  line-height: $text-field-item-height;
}

.text-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: $text-field-item-margin;
  margin-bottom: $text-field-item-margin;

  .error-text {
    display: none;
  }

  label {
    order: 0;
    padding-top: $text-field-label-padding-top;
    margin-bottom: 0;
    font-size: $text-field-label-font-size;
    font-weight: $text-field-label-font-weight;
    line-height: $text-field-item-height;
  }

  .text-input,
  .text-input-group {
    order: 1;
  }

  .helper-text,
  .error-text {
    order: 3;
  }

  &.invalid,
  &.focus.invalid {
    .error-text {
      display: block;
    }
  }

  &.dropdown {
    label ~ .dropdown-menu {
      top: $text-field-item-height + $text-field-label-padding-top + $text-field-item-margin;
    }
  }
}

.floating-label {
  label {
    font-size: $text-input-font-size;
    transition: transform 150ms, font-size 150ms;
    transform: translate3d(0, 1.5rem, 0);
  }

  .text-input {
    z-index: 5;
  }

  &.focus label,
  &.not-empty label,
  .text-input:focus ~ label {
    font-size: $text-field-label-font-size;
    transform: none;
  }

  .text-input[placeholder]:not(:placeholder-shown) ~ label {
    font-size: $text-field-label-font-size;
    transform: none;
  }

  .text-input::placeholder {
    color: transparent;
    transition: color 150ms;
    transition-timing-function: ease-out;
  }
}

.text-field-elevated {
  @extend .card;

  @include horizontal-padding(16px);

  display: flex;
  align-items: center;
  height: $text-field-elevated-height;

  .text-input,
  .text-input-group {
    flex-grow: 1;
  }

  > .text-input-group > .text-input {
    border: none;
  }
}

.text-field-box {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  border-radius: $text-field-box-border-radius;

  @extend .floating-label;

  label {
    padding-right: $text-field-box-padding;
    padding-left: $text-field-box-padding;
    font-weight: $text-field-box-label-font-weight;
    line-height: $text-field-box-label-line-height;
    transform: translate3d(0, $text-field-box-label-transform, 0);
  }

  &.focus input::placeholder,
  .text-input:focus::placeholder {
    transition-timing-function: ease-in;
  }

  &.focus ~ label,
  .text-input:focus ~ label {
    font-weight: $font-regular;
  }

  .text-input {
    padding-right: $text-field-box-padding;
    padding-bottom: $text-input-dense-padding-bottom;
    padding-left: $text-field-box-padding;
    margin-bottom: 0;
    border-width: $text-field-box-border-width;
  }
}

.text-area {
  @extend .text-field-box;
  position: relative;
  background: transparent !important;

  label {
    position: absolute;
  }

  .text-input {
    padding: $text-area-top-padding $text-area-horizontal-padding $text-area-bottom-padding;
    border: $text-area-border-width solid;
    border-radius: $text-field-box-border-radius;
  }

  &.focus .text-input,
  .text-input:hover,
  .text-input:focus {
    padding: $text-area-hover-focus-top-padding $text-area-hover-focus-horizontal-padding $text-area-hover-focus-bottom-padding;
    border-width: $text-area-dense-border-width;
  }
}

.text-input,
.text-input input,
.text-input-value,
.placeholder {
  + .dropdown-toggle-icon {
    margin-left: $text-field-item-margin;
  }
}

@mixin text-fields-theme($theme) {

  $theme-colors: map-get($theme, "colors");
  $dark-theme: map-get($theme, "dark");
  $uwp-style: map-get($theme, "uwp-style");

  $primary-color: map-get($theme-colors, "primary");
  $danger-color: map-get($theme-colors, "danger");

  $text-field-label-color: $text-field-label-color-light-theme;
  $text-field-divider-color: $text-field-divider-color-light-theme;
  $text-field-divider-color-hover: $text-field-divider-color-hover-light-theme;
  $text-field-divider-color-disabled: $text-field-divider-color-disabled-light-theme;
  $text-field-box-background: $text-input-box-bg-light-theme;
  $text-input-color: $text-input-color-light-theme;
  $text-input-placeholder-color: $text-input-placeholder-color-light-theme;
  $text-input-disabled-color: $text-input-disabled-color-light-theme;
  $text-input-icon-color: $text-input-icon-color-light-theme;
  $text-input-affix-color: $text-input-affix-color-light-theme;
  $text-field-helper-color: $text-field-helper-text-color-light-theme;

  @if ($dark-theme) {
    $text-field-label-color: $text-field-label-color-dark-theme;
    $text-field-divider-color: $text-field-divider-color-dark-theme;
    $text-field-divider-color-hover: $text-field-divider-color-hover-dark-theme;
    $text-field-divider-color-disabled: $text-field-divider-color-disabled-dark-theme;
    $text-field-box-background: $text-input-box-bg-dark-theme;
    $text-input-color: $text-input-color-dark-theme;
    $text-input-placeholder-color: $text-input-placeholder-color-dark-theme;
    $text-input-disabled-color: $text-input-disabled-color-dark-theme;
    $text-input-icon-color: $text-input-icon-color-dark-theme;
    $text-input-affix-color: $text-input-affix-color-dark-theme;
    $text-field-helper-color: $text-field-helper-text-color-dark-theme;
  }

  .placeholder,
  .text-input::placeholder {
    color: $text-input-placeholder-color;
  }

  .floating-label {
    &.focus .text-input::placeholder,
    .text-input:focus::placeholder {
      color: $text-input-placeholder-color;
    }
  }

  .text-input,
  input {
    color: $text-input-color;
  }

  .text-input-prefix,
  .text-input-suffix {
    color: $text-input-affix-color;
  }

  .text-field.focus .text-input,
  .text-input:focus,
  .text-input:focus:hover {
    border-color: $primary-color;
  }

  .text-field {
    label {
      color: $text-field-label-color;
    }

    .text-input:focus ~ label,
    &.focus label {
      color: $primary-color;
    }

    &.invalid,
    &.focus.invalid {

      .text-input:focus,
      .text-input:hover,
      .text-input {
        border-color: $danger-color;
      }

      label,
      .text-input:focus ~ label {
        color: $danger-color;
      }
    }

    &.disabled label,
    &.disabled .text-input:focus ~ label,
    &.focus.disabled label,
    .text-input:disabled ~ label,
    .text-input:focus:disabled ~ label {
      color: $text-input-disabled-color;
    }
  }

  .text-field-box {
    background: $text-field-box-background;
  }

  .text-input-icon {
    color: $text-input-icon-color;

    @include hover-focus {
      color: $text-input-icon-color;
    }
  }

  .helper-text {
    color: $text-field-helper-color;

    &.error-text {
      color: $danger-color;
    }
  }

  .text-input {
    border-color: $text-field-divider-color;

    &:hover {
      border-color: $text-field-divider-color-hover;
    }
  }

  .text-field.disabled .text-input,
  .text-field.disabled.focus .text-input,
  .text-input:disabled,
  .text-input:disabled:hover {
    color: $text-input-disabled-color;
    border-color: $text-field-divider-color-disabled;
  }

  @if ($uwp-style) {
    @include uwp-text-fields($text-input-placeholder-color);
  }
}
