.toolbar {
  z-index: 1;
  width: 100%;
}

.toolbar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $toolbar-height;

  @include horizontal-padding($toolbar-horizontal-padding);
}

.toolbar-title {
  flex-grow: 1;
  font-size: $toolbar-title-font-size;

  @include text-truncate;
}

.toolbar-icon,
.toolbar-action {
  font-size: $toolbar-action-icon-size;
}

.toolbar-icon {
  margin-right: $toolbar-icon-margin;

  &.btn-borderless {
    margin-right: $toolbar-icon-margin - $toolbar-horizontal-padding / 2;
    margin-left: -$toolbar-horizontal-padding / 2;
  }
}

.toolbar-actions {
  display: flex;
}

.toolbar-fixed {
  position: fixed;
  z-index: $zindex-toolbar-fixed;
}

.toolbar-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dense-layout {
  .toolbar-row {
    height: $toolbar-dense-height;
  }
}

@mixin toolbar-theme($theme-colors, $dark-theme) {

  $color: $body-color-light-theme;
  $button-borderless-color: $toolbar-icon-color-light-theme;

  @if ($dark-theme) {
    $color: $body-color-dark-theme;
    $button-borderless-color: $toolbar-icon-color-dark-theme;
  }

  @include add-to-parent-or-class("toolbar") {
    color: $color;

    @if (mixin_exists(tab-text-color)) {
      @include tab-text-color($theme-colors, $dark-theme);
    }
  }

  @if & == null {
    $toolbar-primary: map_get($theme-colors, "primary");
    $dark-background: is-dark-background($toolbar-primary);

    .toolbar-primary {
      @include toolbar-variant($theme-colors, $toolbar-primary);
      @include button-borderless-theme((), $dark-background);
    }
  }
}
