extends ../layout

block content
  h4 Grid system

  .row
    .col-sm
      .card
        .card-body One of three columns
    .col-sm
      .card
        .card-body One of three columns
    .col-sm
      .card
        .card-body One of three columns