extends ../layout

block content
  h4 Grid system

  .example-row
    .container
      .row
        .col-sm
          .card
            .card-body One of three columns
        .col-sm
          .card
            .card-body One of three columns
        .col-sm
          .card
            .card-body One of three columns