extends ../layout

block content
  h1.chapter-title Grid system

  .row
    .col-sm
      .card
        .card-body One of three columns
    .col-sm
      .card
        .card-body One of three columns
    .col-sm
      .card
        .card-body One of three columns