extends ../layout

block content
  h4.headline4.chapter-title Grid system

  .row
    .col-sm
      .u-card
        .u-card-body One of three columns
    .col-sm
      .u-card
        .u-card-body One of three columns
    .col-sm
      .u-card
        .u-card-body One of three columns
