@use "sass:math";
@use "sass:map";

@import "../mixins/typography";
@import "../colors";
@import "../font";

$spacer: 1rem !default;

@function get-rem-from-sp($sp-font-size) {
  @return $sp-font-size * 0.0625rem;
}

@function get-letter-spacing($px-tracking, $sp-font-size) {
  @return math.div($px-tracking, $sp-font-size) * 1rem;
}

@function get-typo-style($line-height, $font-size, $traking, $font-weight) {
  @return (
    line-height: get-rem-from-sp($line-height),
    font-size: get-rem-from-sp($font-size),
    letter-spacing: get-letter-spacing($traking, $font-size),
    font-weight: $font-weight
  );
}

$typography-styles: (
  display-l: get-typo-style(64, 57, 0, $u-font-weight-regular),
  display-m: get-typo-style(52, 45,0, $u-font-weight-regular),
  display-s: get-typo-style(44, 36,0, $u-font-weight-regular),
  headline-l: get-typo-style(40, 32,0, $u-font-weight-regular),
  headline-m: get-typo-style(36, 28,0, $u-font-weight-regular),
  headline-s: get-typo-style(32, 24,0, $u-font-weight-regular),
  title-l: get-typo-style(28,22,0, $u-font-weight-regular),
  title-m: get-typo-style(24,16,.15, $u-font-weight-medium),
  title-s: get-typo-style(20,14,.1, $u-font-weight-medium),
  label-l: get-typo-style(20,14,.1, $u-font-weight-medium),
  label-m: get-typo-style(16,12,.5, $u-font-weight-medium),
  label-s: get-typo-style(16,11,.5, $u-font-weight-medium),
  body-l: get-typo-style(24, 16,.5, $u-font-weight-regular),
  body-m: get-typo-style(20, 14,.25, $u-font-weight-regular),
  body-s: get-typo-style(16, 12, .4, $u-font-weight-regular)
) !default;

$border-width:                1px !default;

$h1-font-size:                $u-font-size-base * 2.5 !default;
$h2-font-size:                $u-font-size-base * 2 !default;
$h3-font-size:                $u-font-size-base * 1.75 !default;
$h4-font-size:                $u-font-size-base * 1.5 !default;
$h5-font-size:                $u-font-size-base * 1.25 !default;
$h6-font-size:                $u-font-size-base !default;

$headings-margin-bottom:      math.div($spacer, 2) !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$lead-font-size:   1.25rem !default;
$lead-font-weight: 300 !default;

$hr-border-color:             rgba($black, .1) !default;
$hr-border-width:             $border-width !default;

$small-font-size:             80% !default;

$mark-padding:                .2em !default;
$mark-bg:                     #fcf8e3 !default;
