@import "variables";
@import "../../font";
@import "../../colors";

.u-step-indicator {
  display: flex;
  align-items: center;
}

.u-step-circle {
  width: $step-circle-size;
  height: $step-circle-size;
  font-size: $step-number-font-size;
  line-height: $step-circle-size;
  color: $step-circle-default-text-color;
  text-align: center;
  background-color: var(--u-outline-color);
  border-radius: 50%;
}

.u-step-label {
  @include umd-typography(label-l);
  color: var(--u-on-surface-variant-color);
}

.u-step-content {
  display: flex;
  flex-direction: column;
}

.u-step {
  display: flex;
  align-items: center;

  &.active {
    .u-step-label {
      color: var(--u-on-surface-color)
    }
  }

  &.active,
  &.completed {
    .u-step-circle {
      background-color: var(--u-primary-color);
      color: var(--u-on-primary-color);
    }
  }

  &.disabled {
    .u-step-label {
      color: var(--u-on-surface-color);
      opacity: var(--u-disabled-state-label-opacity);
    }
  }

  .u-step-content {
    flex-grow: 1;
  }
}

@include u-extend-action-set("u-step");

.u-step-actions {
  margin-top: $step-actions-margin;
}

.u-step-line {
  flex-grow: 1;
  background-color: var(--u-outline-variant-color);
}

.u-stepper {
  display: flex;
  padding: $stepper-padding;
  font-family: $u-font-family-base;
}

.u-horizontal-stepper {

  align-items: center;

  .u-step {
    flex-shrink: 0;
  }

  .u-step-indicator {
    margin-right: $step-content-margin;
  }

  .u-step-line {
    flex: 1;
    height: $step-line-size;
    margin-right: $step-line-margin;
    margin-left: $step-line-margin;
  }
}

.u-vertical-stepper {
  flex-direction: column;

  .u-step {
    align-items: unset;
  }

  .u-step:last-child .u-step-content {
    padding-bottom: 0;
  }

  .u-step-indicator {
    flex-direction: column;
  }

  .u-step-line {
    width: $step-line-size;
    margin-top: $step-line-margin;
    margin-bottom: $step-line-margin;
  }

  .u-step-content {
    padding-bottom: $vertical-step-space;
    margin-right: $stepper-padding;
    margin-left: $step-content-margin;
  }

  .u-step-label {
    margin-bottom: $step-label-margin;
  }
}
