@import "variables";

.step-indicator {
  display: flex;
  align-items: center;
}

.step-circle {
  width: $step-circle-size;
  height: $step-circle-size;
  font-size: $step-number-font-size;
  line-height: $step-circle-size;
  color: $step-circle-default-text-color;
  text-align: center;
  background: $step-circle-default-background;
  border-radius: 50%;
}

.step-label {
  font-weight: $step-label-font-weight;
  line-height: $step-circle-size;
}

.step-content {
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;

  &.active {
    .step-label {
      font-weight: $active-step-weight;
    }
  }

  &:not(.active) {
    .step-label {
      opacity: .47;
    }
  }

  &.active,
  &.completed {
    .step-circle {
      color: $step-circle-active-text-color;
      background: $step-circle-active-background;
    }
  }

  &.disabled {
    .step-label {
      color: $step-label-disabled-color;
    }
  }

  .step-content {
    flex-grow: 1;
  }
}

.step-actions {
  display: flex;
  align-items: center;
  height: $step-actions-height;
  margin-top: $step-actions-margin;

  [class^="btn-"] + [class^="btn-"] {
    margin-left: $step-actions-buttons-margin;
  }
}

.step-line {
  flex-grow: 1;
  background: $divider-color;
}

.stepper {
  display: flex;
  padding: $stepper-padding;
}

.horizontal-stepper {

  align-items: center;

  .step {
    flex-shrink: 0;
  }

  .step-indicator {
    margin-right: $step-content-margin;
  }

  .step-line {
    flex: 1;
    height: $step-line-size;
    margin-right: $step-line-margin;
    margin-left: $step-line-margin;
  }
}

.vertical-stepper {
  flex-direction: column;

  .step:last-child .step-content {
    padding-bottom: 0;
  }

  .step-indicator {
    flex-direction: column;
  }

  .step-line {
    width: $step-line-size;
    margin-top: $step-line-margin;
    margin-bottom: $step-line-margin;
  }

  .step-content {
    padding-bottom: $vertical-step-space;
    margin-right: $stepper-padding;
    margin-left: $step-content-margin;
  }

  .step-label {
    margin-bottom: $step-label-margin;
  }
}
