@import "variables";
@import "../../colors";

@mixin u-stepper-theme {

  $dark-theme: map-get($u-theme, "dark");

  .u-step-line {
    background: if($dark-theme, $step-line-color-dark-theme, $step-line-color-light-theme);
  }

  .u-step-label {
    color: if($dark-theme, $u-text-low-contrast-dark-theme, $u-text-low-contrast-light-theme);
  }

  .u-step.active .u-step-label {
    color: if($dark-theme, $u-text-high-contrast-dark-theme, $u-text-high-contrast-light-theme);
  }
}
