@import "../../base-sizes";
@import "../../colors";
@import "../../font";
@import "../../mixins";

//Steppers
$stepper-padding: 1.5rem !default;
$step-number-font-size: .75rem !default;

$step-circle-size: $base-icon-size !default;
$step-circle-default-text-color: #fff !default;

$step-label-margin: 1rem !default;

$step-content-margin: .75rem !default;

$step-actions-buttons-margin: 8px !default;
$step-actions-margin: 16px !default;

$vertical-step-space: 3rem !default;

$step-line-size: 1px !default;
$step-line-margin: 8px !default;
