@import "../../base-sizes";
@import "../../colors";
@import "../../font";
@import "../../mixins";

//Steppers
$stepper-padding: 1.5rem !default;
$step-number-font-size: .75rem !default;

$step-circle-size: $base-icon-size !default;
$step-circle-background: rgba(0, 0, 0, .47) !default;
$step-circle-default-text-color: #fff !default;
$step-circle-active-background: $u-primary-color !default;
$step-circle-active-text-color: get-text-color-by-background-color($step-circle-active-background, $u-text-low-contrast-light-theme) !default;

$step-line-color-light-theme: $u-divider-color-light-theme !default;
$step-line-color-dark-theme: $u-divider-color-dark-theme !default;

$step-label-margin: 1rem !default;
$step-label-disabled-color: $u-text-low-contrast-light-theme !default;

$step-content-margin: .75rem !default;

$step-actions-buttons-margin: 8px !default;
$step-actions-margin: 16px !default;

$step-label-font-size: .875rem !default;
$step-label-font-weight: $u-font-weight-regular !default;
$step-label-active-font-weight: $u-font-weight-medium !default;

$vertical-step-space: 3rem !default;

$step-line-size: 1px !default;
$step-line-margin: 8px !default;
