@import "variables";
@import "../../colors";
@import "../../mixins";

.u-badge {
  @include size($u-badge-size);

  position: absolute;
  font-size: $u-badge-font-size;
  font-weight: $u-badge-font-weight;
  line-height: $u-badge-size;
  color: get-text-color-by-background-color($u-secondary-color);
  text-align: center;
  background-color: $u-secondary-color;
  border-radius: 50%;
}

.u-badge-top-left {
  top: $u-badge-position;
  left: $u-badge-position;
}

.u-badge-top-right {
  top: $u-badge-position;
  right: $u-badge-position;
}

.u-badge-bottom-left {
  bottom: $u-badge-position;
  left: $u-badge-position;
}

.u-badge-bottom-right {
  right: $u-badge-position;
  bottom: $u-badge-position;
}

@if (mixin_exists(buttons-theme)) {

  $btn-badge-position: $u-badge-position + ($u-btn-borderless-size - $u-btn-icon-size) / 2;

  .u-btn-borderless {
    .u-badge-top-left {
      top: $btn-badge-position;
      left: $btn-badge-position;
    }

    .u-badge-top-right {
      top: $btn-badge-position;
      right: $btn-badge-position;
    }

    .u-badge-bottom-left {
      bottom: $btn-badge-position;
      left: $btn-badge-position;
    }

    .u-badge-bottom-right {
      right: $btn-badge-position;
      bottom: $btn-badge-position;
    }
  }
}
