@import "variables";
@import "../../colors";
@import "../../mixins";

.u-badge {
  @include size($badge-size);

  position: absolute;
  background-color: $secondary-color;
  color: get-text-color-by-background-color($secondary-color);
  border-radius: 50%;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: $badge-size;
  text-align: center;
}

.u-badge-top-left {
  top: $badge-position;
  left: $badge-position;
}

.u-badge-top-right {
  top: $badge-position;
  right: $badge-position;
}

.u-badge-bottom-left {
  bottom: $badge-position;
  left: $badge-position;
}

.u-badge-bottom-right {
  bottom: $badge-position;
  right: $badge-position;
}

@if (mixin_exists(buttons-theme)) {

  @debug 'bazinga';

  $btn-badge-position: $badge-position + ($u-btn-borderless-size - $u-btn-icon-size) / 2;
  
  .u-btn-borderless {
    .u-badge-top-left {
      top: $btn-badge-position;
      left: $btn-badge-position;
    }

    .u-badge-top-right {
      top: $btn-badge-position;
      right: $btn-badge-position;
    }

    .u-badge-bottom-left {
      bottom: $btn-badge-position;
      left: $btn-badge-position;
    }

    .u-badge-bottom-right {
      bottom: $btn-badge-position;
      right: $btn-badge-position;
    }
  }
}
