extends ../layout

block content
  h4.u-headline4.chapter-title Buttons

  h5.u-headline5.article-title Button colors
  .example-box
    .example-box-header
      include buttons/button-colors.html

    pre
      code.html

  h5.u-headline5.article-title Solid buttons
  .example-box
    .example-box-header
      include buttons/solid-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Raised buttons
  .example-box
    .example-box-header
      include buttons/raised-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Flat buttons
  .example-box
    .example-box-header
      include buttons/flat-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Outline buttons
  .example-box
    .example-box-header
      include buttons/outline-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Outline buttons (gray border)
  .example-box
    .example-box-header
      include buttons/outline-buttons-gray.html

    pre
      code.html

  h5.u-headline5.article-title Borderless buttons
  .example-box
    .example-box-header
      include buttons/borderless-buttons.html

    pre
      code.html
