extends ../layout

block content
  h4.u-headline4.chapter-title Buttons

  h5.u-headline5.article-title Elevated buttons
  .example-box
    .example-box-header
      include buttons/elevated-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Filled tonal buttons
  .example-box
    .example-box-header
      include buttons/filled-tonal-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Filled buttons
  .example-box
    .example-box-header
      include buttons/filled-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Flat buttons
  .example-box
    .example-box-header
      include buttons/text-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Outline buttons
  .example-box
    .example-box-header
      include buttons/outlined-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Borderless buttons
  .example-box
    .example-box-header
      include buttons/borderless-buttons.html

    pre
      code.html
