extends ../layout

block content
  h4.u-headline4.chapter-title Cards

  h5.u-headline5.article-title Simple card
  .example-box
    .example-box-header
      include cards/simple-card.html

    pre
      code.html

  h5.u-headline5.article-title Card with actions
  .example-box
    .example-box-header
      include cards/card-with-actions.html

    pre
      code.html

  h5.u-headline5.article-title Card media
  .example-box
    .example-box-header
      include cards/card-media.html

    pre
      code.html
