extends ../layout

block content
  h4.u-headline4.chapter-title Chips

  h5.u-headline5.article-title Default chip
  .u-card-elevated.example-card
    .u-card-content
      include chips/default-chips.html

    pre.u-card-content.example-card-code
      code.language-html

  h5.u-headline5.article-title Elevated chip
  .u-card-elevated.example-card
    .u-card-content
      include chips/elevated-chips.html

    pre.u-card-content.example-card-code
      code.language-html

  h5.u-headline5.article-title Selected chip
  .u-card-elevated.example-card
    .u-card-content
      include chips/selected-chips.html

    pre.u-card-content.example-card-code
      code.language-html

  h5.u-headline5.article-title Chip input
  .u-card-elevated.example-card
    .u-card-content
      include chips/chip-input.html

    pre.u-card-content.example-card-code
      code.language-html
