extends ../layout

block content
  h4.u-headline4.chapter-title Chips

  h5.u-headline5.article-title Default chip
  .example-box
    .example-box-header
      include chips/default-chips.html

    pre
      code.html

  h5.u-headline5.article-title Elevated chip
  .example-box
    .example-box-header
      include chips/elevated-chips.html

    pre
      code.html

  h5.u-headline5.article-title Selected chip
  .example-box
    .example-box-header
      include chips/selected-chips.html

    pre
      code.html

  h5.u-headline5.article-title Chip input
  .example-box
    .example-box-header
      include chips/chip-input.html

    pre
      code.html
