extends ../layout

block content
  h4.u-headline4.chapter-title Common buttons

  h5.u-headline5.article-title Elevated buttons
  .example-box
    .example-box-header
      include common-buttons/elevated-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Filled tonal buttons
  .example-box
    .example-box-header
      include common-buttons/filled-tonal-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Filled buttons
  .example-box
    .example-box-header
      include common-buttons/filled-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Text buttons
  .example-box
    .example-box-header
      include common-buttons/text-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Outlined buttons
  .example-box
    .example-box-header
      include common-buttons/outlined-buttons.html

    pre
      code.html
