extends ../layout

block content

  h4.u-headline4.chapter-title Common buttons


  form(method="get")
    input(is="u-text-field" type="text" name="batata2")
    input(type="text" name="batata")
    button(is="u-button") Batata
    button Batata
    u-button2 Batata

  h5.u-headline5.article-title Elevated buttons
  .u-card-elevated.example-card
    .u-card-content
      include common-buttons/elevated-buttons.html
    pre.u-card-content.example-card-code
      code.language-html

  h5.u-headline5.article-title Filled tonal buttons
  .u-card-elevated.example-card
    .u-card-content
      include common-buttons/filled-tonal-buttons.html
    pre.u-card-content.example-card-code
      code.language-html

  h5.u-headline5.article-title Filled buttons
  .u-card-elevated.example-card
    .u-card-content
      include common-buttons/filled-buttons.html
    pre.u-card-content.example-card-code
      code.language-html

  h5.u-headline5.article-title Text buttons
  .u-card-elevated.example-card
    .u-card-content
      include common-buttons/text-buttons.html
    pre.u-card-content.example-card-code
      code.language-html

  h5.u-headline5.article-title Outlined buttons
  .u-card-elevated.example-card
    .u-card-content
      include common-buttons/outlined-buttons.html
    pre.u-card-content.example-card-code
      code.language-html
