extends ../layout

block content
  h4.u-headline4.chapter-title Data tables

  h5.u-headline5.article-title Simple tables
  .u-card-elevated.example-card
    .u-card-content
      include data-tables/simple-table.html

    pre.u-card-content.example-card-code
      code.language-html

  h5.u-headline5.article-title Table header
  .u-card-elevated.example-card
    .u-card-content
      include data-tables/table-header.html

    pre.u-card-content.example-card-code
      code.language-html

  h5.u-headline5.article-title Table footer
  .u-card-elevated.example-card
    .u-card-content
      include data-tables/table-footer.html

    pre.u-card-content.example-card-code
      code.language-html
