extends ../layout

block content
  .u-container
    h4.u-headline4.chapter-title Floating action button

    h5.u-headline5.article-title Floating buttons
    .u-card-elevated.example-card
      .u-card-content
        include fab/simple-floating-buttons.html

      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Small floating buttons
    .u-card-elevated.example-card
      .u-card-content
        include fab/small-floating-buttons.html

      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Floating extended buttons
    .u-card-elevated.example-card
      .u-card-content
        include fab/floating-extended-buttons.html

      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Floating action area
    .u-card-elevated.example-card
      .u-card-content
        include fab/floating-action-area.html

      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Floating menu
    .u-card-elevated.example-card
      .u-card-content.u-text-end
        include fab/floating-menu.html

      pre.u-card-content.example-card-code
        code.language-html
