extends ../layout

block content
  .u-container
    h4.u-headline4.chapter-title Floating action button

    h5.u-headline5.article-title Floating buttons
    .example-box
      .example-box-header
        include floating-action-buttons/simple-floating-buttons.html

      pre
        code.html

    h5.u-headline5.article-title Small floating buttons
    .example-box
      .example-box-header
        include floating-action-buttons/small-floating-buttons.html

      pre
        code.html

    h5.u-headline5.article-title Floating extended buttons
    .example-box
      .example-box-header
        include floating-action-buttons/small-floating-buttons.html

      pre
        code.html

    h5.u-headline5.article-title Floating action area
    .example-box
      .example-box-header
        include floating-action-buttons/floating-action-area.html

      pre
        code.html

    h5.u-headline5.article-title Floating menu
    .example-box
      .example-box-header.u-text-end
        include floating-action-buttons/floating-menu.html

      pre
        code.html
