extends ../layout

block content
  h4.u-headline4.chapter-title Icon buttons

  h5.u-headline5.article-title Filled buttons (no toggle)
  .example-box
    .example-box-header
      include icon-buttons/filled-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Filled buttons (toggle)
  .example-box
    .example-box-header
      include icon-buttons/filled-toggle-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Filled tonal buttons (no toggle)
  .example-box
    .example-box-header
      include icon-buttons/filled-tonal-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Filled tonal buttons (toggle)
  .example-box
    .example-box-header
      include icon-buttons/filled-tonal-toggle-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Outlined buttons (no toggle)
  .example-box
    .example-box-header
      include icon-buttons/outlined-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Outlined buttons (toggle)
  .example-box
    .example-box-header
      include icon-buttons/outlined-toggle-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Standard buttons (no toggle)
  .example-box
    .example-box-header
      include icon-buttons/standard-buttons.html

    pre
      code.html

  h5.u-headline5.article-title Standard buttons (toggle)
  .example-box
    .example-box-header
      include icon-buttons/standard-toggle-buttons.html

    pre
      code.html
