extends ../layout

block content
  h4.u-headline4.chapter-title Lists

  .example-box
    .example-box-header
      .u-list
        .u-list-item
          .u-list-item-primary-content Item A
        .u-list-item
          .u-list-item-primary-content Item B
        .u-list-item
          .u-list-item-primary-content Item C

  .example-box
    .example-box-header
      ul.u-list.u-list-selectable
        li.u-list-item.u-list-item-two-lines
          .u-list-item-primary-content Item A
            .secondary-text.text-low-contrast Subtitle

  .example-box
    .example-box-header
      .u-list.u-list-selectable
        .u-list-item
          .u-list-item-primary-content Item A
        .u-list-item
          .u-list-item-primary-content Item B
        .u-list-item
          .u-list-item-primary-content Item C

  .example-box
    .example-box-header
      ul.u-list.u-list-selectable.u-list-item-dividers
        li.u-list-item
          .u-list-item-primary-content Item A
        li.u-list-item
          .u-list-item-primary-content Item B
        li.u-list-item
          .u-list-item-primary-content Item C


  .example-box
    .example-box-header
      ul.u-list
        li.u-list-item
          .u-list-item-hover
          .u-list-item-primary-content Item A
          .u-list-item-icon.u-btn-borderless.u-btn-default
            i.u-btn-icon.mdi.mdi-star
        li.u-list-item
          .u-list-item-hover
          .u-list-item-primary-content Item B
          .u-list-item-icon.u-btn-borderless.u-btn-default
            i.u-btn-icon.mdi.mdi-star
        li.u-list-item
          .u-list-item-hover
          .u-list-item-primary-content Item C
          .u-list-item-icon.u-btn-borderless.u-btn-default
            i.u-btn-icon.mdi.mdi-star

  .example-box
    .example-box-header.limited-height
      ul.u-list.u-list-indexed
        li.u-list-group
          .u-list-index A
          .u-list-group-items
            .u-list-item
              .u-list-item-primary-content Angelita Kellar  
            .u-list-item
              .u-list-item-primary-content Ayesha Commons  
        li.u-list-group
          .u-list-index B
          .u-list-group-items
            .u-list-item
              .u-list-item-primary-content Bella Drayton  
        li.u-list-group
          .u-list-index C
          .u-list-group-items
            .u-list-item
              .u-list-item-primary-content Carlita Baum  
            .u-list-item
              .u-list-item-primary-content Collette Morena  
            .u-list-item
              .u-list-item-primary-content Corliss Vaughan  
        li.u-list-group
          .u-list-index E
          .u-list-group-items
            .u-list-item
              .u-list-item-primary-content Earline Marcoux  
            .u-list-item
              .u-list-item-primary-content Eilene Mcarthur  
        li.u-list-group
          .u-list-index J
          .u-list-group-items
            .u-list-item
              .u-list-item-primary-content Jerold Sancho  
            .u-list-item
              .u-list-item-primary-content Josef Ariza  
            .u-list-item
              .u-list-item-primary-content Jospeh Wooten
        li.u-list-group
          .u-list-index L
          .u-list-group-items
            .u-list-item
              .u-list-item-primary-content Lupe Kerry
        li.u-list-group
          .u-list-index M
          .u-list-group-items
            .u-list-item
              .u-list-item-primary-content Marin Whitwell  
            .u-list-item
              .u-list-item-primary-content Matt Tugwell
        li.u-list-group
          .u-list-index N
          .u-list-group-items
            .u-list-item
              .u-list-item-primary-content Norine Woodell  
            .u-list-item
        li.u-list-group
          .u-list-index O
          .u-list-group-items
            .u-list-item
              .u-list-item-primary-content Olen Beumer
        li.u-list-group
          .u-list-index S
          .u-list-group-items
            .u-list-item
              .u-list-item-primary-content Shannan Mathews
            .u-list-item
              .u-list-item-primary-content Stephaine Fraise  
        li.u-list-group
          .u-list-index T
          .u-list-group-items
            .u-list-item
              .u-list-item-primary-content Timika Soller
        li.u-list-group
          .u-list-index V
          .u-list-group-items
            .u-list-item
              .u-list-item-primary-content Vannessa Armer
