extends ../layout

block content
  h4.u-headline4.chapter-title Lists
  h5.u-headline5.article-title Simple list
  .example-box
    .example-box-header
      include lists/simple-list.html

    pre
      code.html
  h5.u-headline5.article-title List dividers
  .example-box
    .example-box-header
      include lists/list-dividers.html

    pre
      code.html
  h5.u-headline5.article-title List custom divider
  .example-box
    .example-box-header
      include lists/list-custom-dividers.html

    pre
      code.html
  h5.u-headline5.article-title List hover
  .example-box
    .example-box-header
      include lists/list-hover.html
    pre
      code.html
  h5.u-headline5.article-title List with two lines
  .example-box
    .example-box-header
      include lists/list-two-lines.html

    pre
      code.html
  h5.u-headline5.article-title List with three lines
  .example-box
    .example-box-header
      include lists/list-three-lines.html

    pre
      code.html
  h5.u-headline5.article-title List with dynamic content
  .example-box
    .example-box-header
      include lists/list-dynamic.html

    pre
      code.html
  h5.u-headline5.article-title List avatar
  .example-box
    .example-box-header
      include lists/list-avatars.html

    pre
      code.html
  h5.u-headline5.article-title List icons
  .example-box
    .example-box-header
      include lists/list-icons.html

    pre
      code.html
  h5.u-headline5.article-title List with activated item
  .example-box
    .example-box-header
      include lists/list-with-activated-item.html

    pre
      code.html
  h5.u-headline5.article-title List with action
  .example-box
    .example-box-header
      include lists/list-with-action.html

    pre
      code.html
  h5.u-headline5.article-title List sections
  .example-box
    .example-box-header
      include lists/list-sections.html

    pre
      code.html
  h5.u-headline5.article-title List indexed
  .example-box
    .example-box-header.limited-height
      include lists/list-indexed.html

    pre
      code.html
