extends ../layout

block content
  h4.u-headline4.chapter-title Lists
  h5.u-headline5.article-title Simple list
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header
      include lists/simple-list.html

    pre.u-card-content.example-card-code
      code.language-html
  h5.u-headline5.article-title List dividers
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header
      include lists/list-dividers.html

    pre.u-card-content.example-card-code
      code.language-html
  h5.u-headline5.article-title List custom divider
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header
      include lists/list-custom-dividers.html

    pre.u-card-content.example-card-code
      code.language-html
  h5.u-headline5.article-title List hover
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header
      include lists/list-hover.html
    pre.u-card-content.example-card-code
      code.language-html
  h5.u-headline5.article-title List with two lines
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header
      include lists/list-two-lines.html

    pre.u-card-content.example-card-code
      code.language-html
  h5.u-headline5.article-title List with three lines
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header
      include lists/list-three-lines.html

    pre.u-card-content.example-card-code
      code.language-html
  h5.u-headline5.article-title List with dynamic content
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header
      include lists/list-dynamic.html

    pre.u-card-content.example-card-code
      code.language-html
  h5.u-headline5.article-title List avatar
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header
      include lists/list-avatars.html

    pre.u-card-content.example-card-code
      code.language-html
  h5.u-headline5.article-title List icons
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header
      include lists/list-icons.html

    pre.u-card-content.example-card-code
      code.language-html
  h5.u-headline5.article-title List with activated item
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header
      include lists/list-with-activated-item.html

    pre.u-card-content.example-card-code
      code.language-html
  h5.u-headline5.article-title List with action
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header
      include lists/list-with-action.html

    pre.u-card-content.example-card-code
      code.language-html
  h5.u-headline5.article-title List sections
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header
      include lists/list-sections.html

    pre.u-card-content.example-card-code
      code.language-html
  h5.u-headline5.article-title List indexed
  .u-card-elevated.example-card
    .u-card-content.list-example-box-header.limited-height
      include lists/list-indexed.html

    pre.u-card-content.example-card-code
      code.language-html
