extends ../layout

block content
  h4.u-headline4.chapter-title Menus

  .menu-example
    h5.u-headline5.article-title Down
    .example-box
      .example-box-header
        include dropdown-menus/down.html
      pre
        code.html
    h5.u-headline5.article-title Down left
    .example-box
      .example-box-header
        include dropdown-menus/down-left.html
      pre
        code.html
    h5.u-headline5.article-title Down right
    .example-box
      .example-box-header
        include dropdown-menus/down-right.html
      pre
        code.html
    h5.u-headline5.article-title Down start
    .example-box
      .example-box-header
        include dropdown-menus/down-start.html
      pre
        code.html
    h5.u-headline5.article-title Down end
    .example-box
      .example-box-header
        include dropdown-menus/down-end.html
      pre
        code.html

    h5.u-headline5.article-title Up
    .example-box
      .example-box-header.d-flex.align-items-end
        include dropdown-menus/up.html
      pre
        code.html
    h5.u-headline5.article-title Up left
    .example-box
      .example-box-header.d-flex.align-items-end
        include dropdown-menus/up-left.html
      pre
        code.html
    h5.u-headline5.article-title Up right
    .example-box
      .example-box-header.d-flex.align-items-end
        include dropdown-menus/up-right.html
      pre
        code.html
    h5.u-headline5.article-title Up start
    .example-box
      .example-box-header.d-flex.align-items-end
        include dropdown-menus/up-start.html
      pre
        code.html
    h5.u-headline5.article-title Up end
    .example-box
      .example-box-header.d-flex.align-items-end
        include dropdown-menus/up-end.html
      pre
        code.html
