extends ../layout

block content
  h4.u-headline4.chapter-title Menus

  .menu-example
    h5.u-headline5.article-title Down
    .u-card-elevated.example-card
      .u-card-content
        include dropdown-menus/down.html
      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Down left
    .u-card-elevated.example-card
      .u-card-content
        include dropdown-menus/down-left.html
      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Down right
    .u-card-elevated.example-card
      .u-card-content
        include dropdown-menus/down-right.html
      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Down start
    .u-card-elevated.example-card
      .u-card-content
        include dropdown-menus/down-start.html
      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Down end
    .u-card-elevated.example-card
      .u-card-content
        include dropdown-menus/down-end.html
      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Up
    .u-card-elevated.example-card
      .u-card-content.d-flex.align-items-end
        include dropdown-menus/up.html
      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Up left
    .u-card-elevated.example-card
      .u-card-content.d-flex.align-items-end
        include dropdown-menus/up-left.html
      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Up right
    .u-card-elevated.example-card
      .u-card-content.d-flex.align-items-end
        include dropdown-menus/up-right.html
      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Up start
    .u-card-elevated.example-card
      .u-card-content.d-flex.align-items-end
        include dropdown-menus/up-start.html
      pre.u-card-content.example-card-code
        code.language-html

    h5.u-headline5.article-title Up end
    .u-card-elevated.example-card
      .u-card-content.d-flex.align-items-end
        include dropdown-menus/up-end.html
      pre.u-card-content.example-card-code
        code.language-html
