extends ../layout

block content
  h4.u-headline4.chapter-title Selection controls

  h5.u-headline5.article-title Checkbox
  .example-box
    .example-box-header
      include selection-controls/checkbox.html

    pre
      code.html

  h5.u-headline5.article-title Radio
  .example-box
    .example-box-header
      include selection-controls/radio-button.html

    pre
      code.html

  h5.u-headline5.article-title Switch
  .example-box
    .example-box-header
      include selection-controls/switch.html

    pre
      code.html
