extends ../layout

block content
  h4.u-headline4.chapter-title Sliders

  h5.u-headline5.article-title Slider
  .example-box
    .example-box-header
      include sliders/example.html
    pre
      code.html
