extends ../layout

block content
  h4.u-headline4.chapter-title Sliders

  h5.u-headline5.article-title Slider
  .u-card-elevated.example-card
    .u-card-content
      include sliders/example.html
    pre.u-card-content.example-card-code
      code.language-html
