extends ../layout

block content
  h4.u-headline4.chapter-title Snackbars

  h5.u-headline5.article-title Example
  .u-card-elevated.example-card
    .u-card-content
      include snackbar/example.html

    pre.u-card-content.example-card-code
      code.language-html
block scripts
  script.
    function showSnackbar() {

      const text = document.getElementById('snackbarText').value;
      const buttonText = document.getElementById('snackbarButtonText').value;

      umd.Snackbar.show(text, umd.SnackbarDuration.long, buttonText ? {
        text: buttonText,
        action: function () {
          alert('Snackbar action!')
        }
      } : null);
    }
