extends ../layout

block content
  h4.u-headline4.chapter-title Tabs

  h5.u-headline5.article-title
  .u-card-elevated.example-card
    .u-card-content
      include tabs/example.html

    pre.u-card-content.example-card-code
      code.language-html
