extends ../layout

block content
  h4.u-headline4.chapter-title Toolbars

  h5.u-headline5.article-title Simple toolbar
  .u-card-elevated.example-card
    .u-card-content
      include toolbars/simple-toolbar.html

    pre.u-card-content.example-card-code
      code.language-html
