extends ../layout

block content
  h4.u-headline4.chapter-title Toolbars

  h5.u-headline5.article-title Simple toolbar
  .example-box
    .example-box-header
      .u-toolbar
        .u-toolbar-row
          .u-toolbar-start
            button.u-toolbar-navigation.u-btn-borderless.u-btn-default(type="button")
              i.u-btn-icon.mdi.mdi-menu

          .u-toolbar-title Title here

          .u-toolbar-end
            .u-toolbar-actions
              button.u-toolbar-action.u-btn-borderless.u-btn-default(type="button" disabled="")
                i.u-btn-icon.mdi.mdi-phone
              .u-toolbar-action.u-dropdown
                button.u-btn-borderless.u-btn-default.u-dropdown-toggle(type="button")
                  i.u-btn-icon.mdi.mdi-dots-vertical

                .u-dropdown-menu.down-left
                  .u-dropdown-content
                    a.u-dropdown-item.text-nowrap(href="#") Item A
                    a.u-dropdown-item.text-nowrap(href="#") Item B
                    a.u-dropdown-item.text-nowrap(href="#") Item C
    pre
      code.html
        = '<div class="u-toolbar">\n'
        = '  <div class="u-toolbar-row">\n'
        = '    <div class="u-toolbar-navigation btn-borderless btn-default">\n'
        = '      <i class="u-btn-icon mdi mdi-menu"></i>\n'
        = '     </div>\n'
        = '    <div class="u-toolbar-title">Title here</div>\n'
        = '    <div class="u-toolbar-actions">\n'
        = '      <button type="button" disabled="" class="u-btn-borderless btn-default">\n'
        = '        <i class="u-btn-icon mdi mdi-phone"></i>\n'
        = '      </button>\n'
        = '      <button type="button" class="u-btn-borderless btn-default">\n'
        = '        <i class="u-btn-icon mdi mdi-dots-vertical"></i>\n'
        = '      </button>\n'
        = '    </div>\n'
        = '  </div>\n'
        = '</div>'

  h5.u-headline5.article-title Toolbar with tabs
  .example-box
    .example-box-header
      .u-toolbar
        .u-toolbar-row
          .u-toolbar-start
            button.u-toolbar-navigation.u-btn-borderless.u-btn-default(type="button")
              i.u-btn-icon.mdi.mdi-menu
          .u-toolbar-title Title here
          .u-toolbar-end
            .u-toolbar-actions
              button.u-toolbar-action.u-btn-borderless.u-btn-default(type="button")
                i.u-btn-icon.mdi.mdi-dots-vertical
        .u-tab-bar.u-toolbar-icon-padding
          .u-tab.active
            .u-tab-content
              .u-tab-text Item one
          .u-tab
            .u-tab-content
              .u-tab-text Item two
          .u-tab
            .u-tab-content
              .u-tab-text Item three
    pre
      code.html
        = '<div class="u-toolbar">\n'
        = '  <div class="u-toolbar-row">\n'
        = '    <div class="u-toolbar-navigation btn-borderless btn-default"><i class="u-btn-icon mdi mdi-menu"></i></div>\n'
        = '    <div class="u-toolbar-title">Title here</div>\n'
        = '    <button class="u-btn-borderless btn-default">\n'
        = '      <i class="u-btn-icon mdi mdi-dots-vertical"></i>\n'
        = '    </button>\n'
        = '  </div>\n'
        = '  <div class="tab-bar toolbar-icon-padding">\n'
        = '    <div class="tab active">\n'
        = '      <div class="tab-content">\n'
        = '        <div class="tab-text">Item one</div>\n'
        = '      </div>\n'
        = '    </div>\n'
        = '    <div class="tab">\n'
        = '      <div class="tab-content">\n'
        = '        <div class="tab-text">Item two</div>\n'
        = '      </div>\n'
        = '    </div>\n'
        = '    <div class="tab">\n'
        = '      <div class="tab-content">\n'
        = '        <div class="tab-text">Item three</div>\n'
        = '      </div>\n'
        = '    </div>\n'
        = '  </div>\n'
        = '</div>'
