extends ../layout

block content
  h4.u-headline4.chapter-title Toolbars

  h5.u-headline5.article-title Simple toolbar
  .example-box
    .example-box-header
      include toolbars/simple-toolbar.html

    pre
      code.html
