@import "variables";
@import "../../font";
@import "../../theming";

// stylelint-disable selector-no-qualifying-type

.u-data-table {
  font-family: $u-font-family-base;

  table {
    min-width: 100%;
  }

  thead th {
    padding-top: $u-data-table-column-header-vertical-padding;
    padding-bottom: $u-data-table-column-header-vertical-padding;
    line-height: $u-data-table-column-header-line-height;
  }

  td,
  tbody th {
    padding-top: $u-data-table-column-vertical-padding;
    padding-bottom: $u-data-table-column-vertical-padding;
  }

  th {
    font-size: $u-data-table-column-header-font-size;
    font-weight: $u-data-table-column-header-font-weight;
    text-align: initial;
  }

  td {
    font-size: $u-data-table-content-font-size;
    font-weight: $u-data-table-content-font-weight;
  }

  td.u-dropdown {
    padding-top: 0;
    padding-bottom: 0;
  }

  tr:not(:first-child),
  thead + tbody {
    th,
    td {
      border-top: $u-data-table-border;
    }
  }

  th,
  td {
    @include horizontal-padding($u-data-table-horizontal-padding);

    vertical-align: top;

    &.no-vertical-padding {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &.u-card {
    overflow: visible;
  }

  .u-dropdown-toggle:not(.u-btn-borderless) {
    width: 100%;
    padding: 0;
    text-align: left;
    text-transform: none;

    &.u-btn::before {
      content: none;
    }
  }

  .u-dropdown-menu {
    padding: 0;
  }

  .u-dropdown-item {
    font-size: $u-data-table-content-font-size;
    font-weight: $u-data-table-content-font-weight;
  }
}

.u-data-table-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: $u-data-table-card-footer-height;
  font-size: $u-data-table-card-footer-font-size;
  font-weight: $u-data-table-card-footer-font-weight;
  color: $u-data-table-card-footer-font-color;
  border-top: $u-data-table-border;

  @include horizontal-padding($u-data-table-horizontal-padding);

  //@extend .u-toolbar;

  .u-data-table-actions {
    margin-left: 2rem;

    //.data-table-action:first-child {
    //  margin-left: -$toolbar-action-padding;
    //}
  }
}

@mixin u-data-table-theme() {
  $dark-theme: map-get($u-theme, "dark");

  $u-data-table-column-header-color: $u-data-table-column-header-color-light-theme;
  $u-data-table-row-selected-bg: $u-data-table-row-selected-bg-light-theme;
  $u-data-table-row-hover-background-color: $u-data-table-row-hover-background-color-light-theme;

  @if ($dark-theme) {
    $u-data-table-column-header-color: $u-data-table-column-header-color-dark-theme;
    $u-data-table-row-selected-bg: $u-data-table-row-selected-bg-dark-theme;
    $u-data-table-row-hover-background-color: $u-data-table-row-hover-background-color-dark-theme;
  }

  .u-data-table {
    th {
      color: $u-data-table-column-header-color;
    }

    tr.selected {
      background-color: $u-data-table-row-selected-bg;
    }
  }

  .u-data-table-hover tbody tr {
    &:hover {
      background-color: $u-data-table-row-hover-background-color;
    }
  }
}
