@import "../../colors";
@import "../../font";
@import "../../mixins";

//Data table
$row-horizontal-padding: 1rem !default;

$u-data-table-divider-color: $u-base-semi-transparent-color-light-theme !default;
$u-data-table-divider-width: .0625rem !default;
$u-data-table-border: $u-data-table-divider-width solid $u-data-table-divider-color !default;

$u-data-table-horizontal-padding: $row-horizontal-padding !default;

$u-data-table-column-vertical-padding: .8125rem !default;
$u-data-table-column-header-vertical-padding: 1rem !default;
$u-data-table-column-header-font-size: .8125rem !default;
$u-data-table-column-header-font-weight: $font-medium !default;
$u-data-table-column-header-line-height: 1rem !default;
$u-data-table-column-header-color-light-theme: rgba(0, 0, 0, .6) !default;
$u-data-table-column-header-color-dark-theme: $u-text-low-contrast-dark-theme !default;

$u-data-table-row-hover-background-color-light-theme: #eee !default;
$u-data-table-row-hover-background-color-dark-theme: #626262 !default;

$u-data-table-row-selected-bg-light-theme: #f5f5f5 !default;
$u-data-table-row-selected-bg-dark-theme: #525252 !default;

$u-data-table-card-footer-height: 4rem !default;
$u-data-table-card-footer-font-color: $u-text-low-contrast-light-theme !default;
$u-data-table-card-footer-font-size: .75rem !default;
$u-data-table-card-footer-font-weight: $font-regular !default;

$u-data-table-content-font-size: .875rem !default;
$u-data-table-content-font-weight: $font-medium !default;
