@use "sass:math";

@import "variables";
@import "../../mixins";
@import "../../font";

:root {
  --u-datepicker-day-size: #{$u-datepicker-day-size};
}

.u-datepicker {
  display: inline-flex;
  flex-direction: column;
}

.u-datepicker-header {
  background-color: var(--u-primary-color);
  color: var(--u-on-primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  padding: 16px;
}

.u-datepicker-header-title {
  @include umd-typography(label-m);
  margin-bottom: 8px;
  text-transform: uppercase;
}

.u-datepicker-header-date {
  @include umd-typography(headline-l);
}

.u-datepicker-body {
  min-width: $u-datepicker-min-width;
  padding: $u-datepicker-default-spacing;
}

.u-datepicker-navigation {
  display: flex;
  align-items: center;
  min-height: $u-datepicker-day-size;
}

.u-datepicker-actions {
  margin-top: 8px;
}

.u-datepicker-day {
  @extend %u-button-base;

  flex-shrink: 0;
  width: var(--u-datepicker-day-size);
  height: var(--u-datepicker-day-size);
  font-weight: $u-font-weight-regular;
  background: transparent;
  border-radius: 50%;
}

.u-datepicker-year-month-button {
  @extend %u-button-base;

  width: $u-datepicker-year-month-button-width;
  height: $u-datepicker-year-month-button-height;
  border-radius: math.div($u-datepicker-year-month-button-height, 2);
}

.u-datepicker-weekdays {
  display: flex;
  line-height: var(--u-datepicker-day-size);
  text-align: center;
}

.u-datepicker-weekday {
  flex: 1;
  width: 1rem;
  font-weight: $u-font-weight-medium;
  color: var(--u-low-contrast-color);
}

.u-datepicker-content {
  height: calc(var(--u-datepicker-day-size) * 7);
  min-height: ($u-datepicker-year-month-button-height-xs-landscape + $u-datepicker-default-spacing) * 6;
  margin-top: 8px;
}

.u-datepicker-week {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.u-datepicker-day-outside {
  pointer-events: none;
}

.u-datepicker-year-group,
.u-datepicker-month-group {
  display: flex;
  justify-content: space-around;
  margin-top: $u-datepicker-default-spacing;
}

.u-datepicker-day,
.u-datepicker-year-month-button {
  color: var(--u-high-contrast-color);

  &.active {
    background-color: var(--u-primary-color);
    color: var(--u-on-primary-color);
  }
}

.u-datepicker-day-outside-month {
  color: var(--u-lower-contrast-color);
}

.u-datepicker-current-day {
  border: 1px solid var(--u-low-contrast-color);
}

@include media-breakpoint-down(md) {
  @media (orientation: landscape) {
    :root {
      --u-datepicker-day-size: #{$u-datepicker-day-size-xs-landscape};
    }

    .u-datepicker {
      flex-direction: row;
    }

    .u-datepicker-year-month-button {
      height: $u-datepicker-year-month-button-height-xs-landscape;
    }

    .u-datepicker-header {
      justify-content: normal;
      width: 142px;
      height: auto;
    }

    .u-datepicker-header-date {
      @include umd-typography(headline-l);
      font-weight: $u-font-weight-regular;
    }
  }
}
