@import "../../colors";

$u-datepicker-default-spacing: 8px !default;

$u-datepicker-day-size: 40px !default;
$u-datepicker-day-size-xs-landscape: 32px !default;
$u-datepicker-min-width: ($u-datepicker-day-size + $u-datepicker-default-spacing) * 7 !default;
$u-datepicker-height: 360px !default;

$u-datepicker-year-month-button-width: 64px !default;
$u-datepicker-year-month-button-height: 36px !default;
$u-datepicker-year-month-button-height-xs-landscape: 32px !default;
