@import "../../colors";

$u-datepicker-day-width: 40px !default;
$u-datepicker-min-width: 296px !default;
$u-datepicker-height: 360px !default;

$u-datepicker-year-month-button-height: 2.25rem !default;

$u-datepicker-day-outside-month-light-theme: rgba(0, 0, 0, .2) !default;
$u-datepicker-day-outside-month-dark-theme: rgba(255, 255, 255, .3) !default;
