@import "variables";

.tab-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $tab-height;
}

.tab {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding-right: $tab-horizontal-padding;
  padding-left: $tab-horizontal-padding;
  cursor: pointer;
  @include selectable-background-before;
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  height: $tab-indicator-height;
  content: "";
  transition: .5s cubic-bezier(.35, 0, .25, 1);
}

.tab-content {
  width: 100%;
  text-align: center;
}

.tab-text {
  position: relative;
  display: inline-block;
  font-size: $tab-font-size;
  font-weight: $tab-font-weight;
  text-transform: uppercase;
}

@include media-breakpoint-up(md) {
  .tab-bar {
    min-width: $tab-min-width;
    max-width: $tab-max-width;
  }

  .tab {
    flex: none;
  }
}

.tab-bar-scrollable {
  justify-content: flex-start;

  .tab {
    flex: none;

    &:first-child {
      margin-left: $tab-bar-scrollable-margin;
    }
  }
}

@mixin tab-text-color($theme-colors, $dark-background) {
  $tab-text-color: $tab-text-color-light-theme;
  $tab-text-color-active: map-get($theme-colors, "primary");

  @if ($dark-background) {
    $tab-text-color: $tab-text-color-dark-theme;
    $tab-text-color-active: $tab-text-color-active-dark-theme;
  }

  .tab {
    color: $tab-text-color;
  }

  .tab.active {
    color: $tab-text-color-active;
  }

  .tab-indicator {
    background-color: $tab-text-color-active;
  }
}

@mixin tab-theme($theme-colors, $dark-theme) {
  @include tab-text-color($theme-colors, $dark-theme);
}
