@import "variables";

.tab-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $tab-height;
}

.tab {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  min-width: $tab-min-width;
  max-width: $tab-max-width;
  padding-right: $tab-horizontal-padding;
  padding-left: $tab-horizontal-padding;
  cursor: pointer;
  @include selectable-background-before;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $tab-indicator-height;
    content: "";
    background-color: currentColor;
    opacity: 0;
  }

  &.active {
    &::after {
      opacity: 1;
    }
  }
}

.tab-content {
  width: 100%;
  text-align: center;
}

.tab-text {
  position: relative;
  display: inline-block;
  font-size: $tab-font-size;
  font-weight: $tab-font-weight;
  text-transform: uppercase;
}

@include media-breakpoint-up(lg) {
  .tab-bar {
    //&.toolbar-icon-padding {
    //  padding-left: $toolbar-icon-width + $toolbar-horizontal-padding;
    //}
    justify-content: center;
  }

  .tab {
    flex: none;
  }
}

.tab-bar-scrollable {
  justify-content: flex-start;

  .tab {
    flex: none;
    &:first-child {
      margin-left: $tab-bar-scrollable-margin;
    }
  }
}

@mixin tab-text-color($theme-colors, $dark-background) {
  $tab-text-color: $tab-text-color-light-theme;
  $tab-text-color-active: map-get($theme-colors, "primary");

  @if ($dark-background) {
    $tab-text-color: $tab-text-color-dark-theme;
    $tab-text-color-active: $tab-text-color-active-dark-theme;
  }

  .tab {
    color: $tab-text-color;
  }

  .tab.active {
    color: $tab-text-color-active;
  }
}

@mixin tab-theme($theme-colors, $dark-theme) {
  @include tab-text-color($theme-colors, $dark-theme);
}
