@import "variables";
@import "../../grid/variables";
@import "../../font";
@import "../../mixins";

.u-tab-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $u-tab-height;
}

.u-tab {
  @extend %u-button-base;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  min-width: $u-tab-min-width;
  min-width: fit-content;
  max-width: $u-tab-max-width;
  padding-inline: $u-tab-horizontal-padding;
  font-family: $u-font-family-base;
  color: var(--u-low-contrast-color);
  cursor: pointer;
  background-color: transparent;
  @extend %u-selectable;

  &.active {
    color: var(--u-primary-color);
  }
}

.u-tab-indicator {
  position: absolute;
  bottom: 0;
  height: $u-tab-indicator-height;
  content: "";
  padding-inline: $u-tab-horizontal-padding;
  transition: left 200ms ease-out, width 200ms ease-out;
  will-change: left;

  &:before {
    content: "";
    display: block;
    background-color: var(--u-primary-color);
    border-top-left-radius: $u-tab-indicator-height;
    border-top-right-radius: $u-tab-indicator-height;
    height: 100%;
  }
}

.u-tab-content {
  width: 100%;
  text-align: center;
}

.u-tab-text {
  position: relative;
  display: inline-block;
  font-size: $u-tab-font-size;
  font-weight: $u-tab-font-weight;
}

.u-tab-bar.u-tab-bar-secondary {
  .u-tab-indicator {
    height: $u-tab-secondary-indicator-height;

    &:before {
      background-color: var(--u-primary-color);
      border-radius: 0;
    }
  }
}

@include media-breakpoint-up(md) {

  .u-tab {
    flex: none;
  }
}

.u-tab-bar-scrollable {
  justify-content: flex-start;

  .u-tab {
    flex: none;

    &:first-child {
      margin-left: $u-tab-bar-scrollable-margin;
    }
  }
}
