@import "variables";
@import "../../mixins";

@mixin u-tab-theme {

  $theme-colors: map-get($u-theme, "colors");
  $dark-theme: map-get($u-theme, "dark");

  @each $color, $value in $theme-colors {
    .u-tab-bar-#{$color} {
      @include u-tab-bar-variant($value);
    }
  }
}

@mixin u-tab-bar-variant($color) {
  .u-tab.active {
    color: $color;
  }

  .u-tab-indicator {
    background-color: $color;
  }
}
