//Tabs
$tab-min-width: 90px !default;
$tab-max-width: 360px !default;
$tab-height: 3rem !default;
$tab-indicator-height: .125rem !default;
$tab-font-size: $font-size-base !default;
$tab-font-weight: $font-medium !default;

$tab-horizontal-padding: 16px !default;
$tab-bar-scrollable-margin: 56px !default;

$tab-text-color-light-theme: $text-low-contrast-light-theme !default;

$tab-text-color-dark-theme: $text-low-contrast-dark-theme !default;
$tab-text-color-active-dark-theme: $body-color-dark-theme !default;
