@import "../../colors";
@import "../../font";

//Tabs
$u-tab-min-width: 90px !default;
$u-tab-max-width: 360px !default;
$u-tab-height: 3rem !default;
$u-tab-indicator-height: 2px !default;
$u-tab-font-size: $u-font-size-base !default;
$u-tab-font-weight: $u-font-weight-medium !default;

$u-tab-horizontal-padding: 16px !default;
$u-tab-bar-scrollable-margin: 56px !default;
