//Expansion panel
$u-expansion-panel-border-radius: 4px !default;

$u-expansion-panel-label-height: 3rem !default;
$u-expansion-panel-label-font-size: .9375rem !default;

$u-expansion-panel-horizontal-padding: 16px !default;
$u-expansion-panel-content-margin: 16px !default;
$u-expansion-panel-switch-size: 1.5rem !default;
