//Text fields
$text-field-container-margin: 24px !default;

$text-field-label-height: .75rem !default;
$text-field-label-font-size: .75rem !default;
$text-field-label-line-height: $text-field-label-font-size !default;
$text-field-label-margin: .25rem !default;
$text-field-border-width: .0625rem !default;
$text-field-focus-border-width: .125rem !default;

$text-field-box-horizontal-padding: .75rem !default;
$text-field-box-height: 3.5rem !default;
$text-field-box-label-height: 1.75rem !default;
$text-field-box-label-line-height: $text-field-box-label-height !default;
$text-field-box-padding: 12px !default;
$text-field-box-border-radius: .25rem .25rem 0 0 !default;
$text-input-box-bg-light-theme: rgba(0, 0, 0, .06) !default;
$text-input-box-bg-dark-theme: rgba(255, 255, 255, .05) !default;

$text-field-outline-horizontal-padding: .75rem !default;
$text-field-outline-height: 3.5rem !default;
$text-field-outline-label-height: 1.25rem !default;
$text-field-outline-label-padding: .125rem !default;
$text-field-outline-label-line-height: $text-field-outline-label-height !default;
$text-field-outline-padding: .75rem !default;
$text-field-outline-padding-bottom: 1.25rem !default;
$text-field-outline-border-radius: .25rem !default;

$text-field-divider-color-light-theme: $color-low-contrast-light-theme !default;
$text-field-divider-color-dark-theme: $color-low-contrast-dark-theme !default;
$text-field-divider-color-hover-light-theme: $color-high-contrast-light-theme !default;
$text-field-divider-color-hover-dark-theme: $color-high-contrast-dark-theme !default;
$text-field-divider-color-disabled-light-theme: rgba(0, 0, 0, .2) !default;
$text-field-divider-color-disabled-dark-theme: $text-field-divider-color-dark-theme !default;

$text-input-color-light-theme: $text-high-contrast-light-theme !default;
$text-input-color-dark-theme: $text-high-contrast-dark-theme !default;
$text-input-height: 1rem !default;
$text-input-padding: .5rem !default;
$text-input-total-height: $text-input-height + $text-input-padding * 2;
$text-input-border: $text-field-border-width solid !default;
$text-input-font-size: 1rem !default;
$text-input-font-weight: $font-regular !default;
$text-input-line-height: 1.75 !default;
$text-input-placeholder-color-light-theme: $text-lower-contrast !default;
$text-input-placeholder-color-dark-theme: $text-lower-contrast-dark-theme !default;
$text-input-disabled-color-light-theme: $text-lower-contrast !default;
$text-input-disabled-color-dark-theme: $text-lower-contrast-dark-theme !default;

$text-field-helper-text-font-size: .75rem !default;
$text-field-helper-text-margin: .25rem !default;
$text-field-helper-text-color-light-theme: $text-low-contrast-light-theme !default;
$text-field-helper-text-color-dark-theme: $text-low-contrast-dark-theme !default;

$text-input-icon-color-light-theme: $text-low-contrast-light-theme !default;
$text-input-icon-color-dark-theme: $text-low-contrast-dark-theme !default;
$text-field-icon-bottom: $text-input-total-height / 2 !default;
$text-field-icon-size: 1.5rem !default;
$text-field-icon-margin: 8px !default;

$text-field-label-color-light-theme: $text-low-contrast-light-theme !default;
$text-field-label-color-dark-theme: $text-low-contrast-dark-theme !default;

//
//$text-input-affix-color-light-theme: $text-lower-contrast !default;
//$text-input-affix-color-dark-theme: $text-lower-contrast-dark-theme !default;
