extends layout

block content
  h4.headline4.chapter-title Universal Material

  h5.headline5.article-title Installation
  p Include Universal Material source sass and TypeScript files via npm.

  pre
    code $ npm install @universal-material/core
