doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    title Octopus Material

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
    link(rel="stylesheet" href="../dist/css/octopus-material.min.css")

    body
      nav.sidebar.sidebar-left.sidebar-collapsible-xs.sidebar-fixed-lg.elevate-2-xs.elevate-0-lg
        ul.list.has-dividers
          li.list-item.selectable-background
            .list-item-icon
                i.zmdi.zmdi-home
            .list-item-primary-content
              | One line
            .list-item-secondary-content
              .list-item-icon
                i.zmdi.zmdi-home
          li.list-item.selectable-background.list-item-two-lines
            .list-item-icon
                i.zmdi.zmdi-accounts-list
            .list-item-primary-content
              span Two lines
              .secondary-text Plurium
            .list-item-secondary-content
              .list-item-icon
                i.zmdi.zmdi-accounts-list

          li.list-item.selectable-background.list-item-three-lines
            .list-item-icon
                i.zmdi.zmdi-file-text
            .list-item-primary-content
              div Three lines
              .secondary-text Plurium
              .secondary-text Ipsum
            .list-item-secondary-content
              .list-item-icon
                i.zmdi.zmdi-file-text

          li.list-item.selectable-background.list-item-dynamic
            .list-item-icon
                i.zmdi.zmdi-file-text
            .list-item-primary-content
              div Three lines
              .secondary-text Plurium Plurium Plurium Plurium Plurium Plurium Plurium Plurium Plurium Plurium Plurium
                | Plurium Plurium Plurium Plurium Plurium Plurium Plurium Plurium