doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    base(href="/docs/")

    title Octopus Material

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
    link(rel="stylesheet" href="../dist/css/octopus-material.min.css")
    link(rel="stylesheet" href="css/styles.css")

    body
      nav.sidebar.sidebar-left.sidebar-collapsible-xs.sidebar-fixed-lg.elevate-2-xs.elevate-0-lg
        .toolbar
          .toolbar-row
            .toolbar-title Material Design
        .list.list-hover
          a.list-item(href="/docs")
            .list-item-icon
              i.zmdi.zmdi-home
            .list-item-primary-content
              | Introduction
          a.list-item(href="components/buttons.html")
            .list-item-icon
              i.zmdi.zmdi-arrow-right
            .list-item-primary-content
              span Buttons

          a.list-item(href="components/cards.html")
            .list-item-icon
              i.zmdi.zmdi-picture-in-picture
            .list-item-primary-content
              span Cards

          a.list-item(href="components/chips.html")
            .list-item-icon
              i.zmdi.zmdi-label-alt
            .list-item-primary-content
              span Chips

          a.list-item(href="components/lists.html")
            .list-item-icon
              i.zmdi.zmdi-view-list-alt
            .list-item-primary-content
              span Lists

          a.list-item(href="components/steppers.html")
            .list-item-icon
              i.zmdi.zmdi-format-list-numbered
            .list-item-primary-content
              span Steppers

          a.list-item(href="components/tabs.html")
            .list-item-icon
              i.zmdi.zmdi-tab
            .list-item-primary-content
              span Tabs

          a.list-item(href="components/text-fields.html")
            .list-item-icon
              i.zmdi.zmdi-text-format
            .list-item-primary-content
              span Text fields

      .content-area
        .app-bar.toolbar-fixed.elevate-1
          .toolbar-row
            .toolbar-icon
                i.zmdi.zmdi-menu

            .toolbar-title
              | Material

            .toolbar-action
              i.zmdi.zmdi-search

            .toolbar-action
              i.zmdi.zmdi-phone

            .toolbar-action.toolbar-vertical-action
              i.zmdi.zmdi-more-vert

        .container
          block content
