doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    title Universal Material

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atelier-sulphurpool-light.min.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i")
    link(rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css")
    link(rel="stylesheet" href="/css/universal-material.css")
    link(rel="stylesheet" href="/css/docs.css")

    body.sidebar-layout
      nav.sidebar.sidebar-left.sidebar-lg-fixed
        .toolbar
          .toolbar-row
            .toolbar-title Material Design
        .list.list-hover
          a.list-item(href="/")
            .list-item-icon
              i.mdi.mdi-home
            .list-item-primary-content
              | Introduction

          a.list-item(href="/layout/grid.html")
            .list-item-icon
              i.mdi.mdi-view-grid
            .list-item-primary-content
              span Grid

          a.list-item(href="/content/typography.html")
            .list-item-icon
              i.mdi.mdi-page-layout-header
            .list-item-primary-content
              span Typography

          a.list-item(href="/components/buttons.html")
            .list-item-icon
              i.mdi.mdi-arrow-right
            .list-item-primary-content
              span Buttons

          a.list-item(href="/components/cards.html")
            .list-item-icon
              i.mdi.mdi-page-layout-body
            .list-item-primary-content
              span Cards

          a.list-item(href="/components/chips.html")
            .list-item-icon
              i.mdi.mdi-label
            .list-item-primary-content
              span Chips

          a.list-item(href="/components/data-tables.html")
            .list-item-icon
              i.mdi.mdi-table
            .list-item-primary-content
              span Data tables

          a.list-item(href="/components/dialogs.html")
            .list-item-icon
              i.mdi.mdi-window-maximize
            .list-item-primary-content
              span Dialogs

          a.list-item(href="/components/lists.html")
            .list-item-icon
              i.mdi.mdi-format-list-bulleted
            .list-item-primary-content
              span Lists

          a.list-item(href="/components/menus.html")
            .list-item-icon
              i.mdi.mdi-menu
            .list-item-primary-content
              span Menus

          a.list-item(href="/components/progress.html")
            .list-item-icon
              i.mdi.mdi-loading
            .list-item-primary-content
              span Progress

          a.list-item(href="/components/selection-controls.html")
            .list-item-icon
              i.mdi.mdi-toggle-switch
            .list-item-primary-content
              span Selection controls

          a.list-item(href="/components/snackbars.html")
            .list-item-icon
              i.mdi.mdi-page-layout-footer
            .list-item-primary-content
              span Snackbars

          a.list-item(href="/components/tabs.html")
            .list-item-icon
              i.mdi.mdi-tab
            .list-item-primary-content
              span Tabs

          a.list-item(href="/components/text-fields.html")
            .list-item-icon
              i.mdi.mdi-textbox
            .list-item-primary-content
              span Text fields

          a.list-item(href="/components/toolbars.html")
            .list-item-icon
              i.mdi.mdi-page-layout-header
            .list-item-primary-content
              span Toolbars

      .sidebar-backdrop
      .layout-content.toolbar-layout
        .toolbar.toolbar-primary#app-bar
          .toolbar-row
            .toolbar-navigation.btn-borderless.btn-default.d-lg-none#menu-toggle
              i.mdi.mdi-menu

            .toolbar-title
              | Material
            .toolbar-actions
              button.toolbar-action.btn-borderless.btn-default#dense-toggle(type="button", title="Dense layout")
                i.mdi.mdi-format-size
        .layout-content#main-content
          .container.margin-lg-40.chapter
            block content

    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')
    script(src="/js/docs.js")