//.switch {
//  cursor: pointer;
//  height: 20px;
//
//  > * {
//    vertical-align: middle;
//  }
//
//  .selection-control {
//    position: relative;
//    display: inline-block;
//    width: 36px;
//    height: 14px;
//    border-radius: 8px;
//    background-color: rgba(0, 0, 0, 0.38);
//    margin-right: 5px;
//    transition: background-color 300ms;
//
//    &::before {
//      content: "";
//
//      //@include vertical-center(absolute);
//
//      left: -14px;
//
//      @include size(48px);
//
//      border-radius: 24px;
//      opacity: 0;
//      background-color: #000;
//      transition: all 300ms;
//    }
//
//    &::after {
//      content: "";
//
//      //@include vertical-center(absolute);
//
//      left: -2px;
//
//      @include size(24px);
//
//      border-radius: 12px;
//      background-color: #fff;
//
//      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
//
//      transition: all 300ms;
//    }
//  }
//
//  input {
//    opacity: 0;
//    width: 0;
//
////    @include user-select(none);
//
//    &:active + .selection-control {
//      &::before {
//        opacity: 0.2;
//        transition-duration: 100ms;
//      }
//    }
//
//    &:checked + .selection-control {
//      background-color: rgba($primary-color, 0.5);
//
//      &::before {
//        left: 2px;
//        background-color: $primary-color;
//      }
//
//      &::after {
//        left: 14px;
//        background-color: $primary-color;
//      }
//    }
//  }
//
//  &.hide-touch-feedback {
//    .selection-control::before {
//      content: none;
//    }
//  }
//
//  input:disabled + .selection-control,
//  &.disabled .selection-control,
//  input:checked:disabled + .selection-control,
//  &.checked.disabled .selection-control {
//    background-color: #d5d5d5;
//
//    &::before {
//      background-color: transparent;
//    }
//
//    &::after {
//      background-color: #bdbdbd;
//    }
//  }
//}

.checkbox, .radio, .switch {
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  input {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    appearance: none;
  }

  .selection-control {
    @include selectable-background(false, true);

    &::before {
      width: $selection-control-hover-size;
      height: $selection-control-hover-size;
      left: 50% !important;
      top: 50% !important;
      margin-left: -$selection-control-hover-size / 2;
      margin-top: -$selection-control-hover-size / 2;
      border-radius: 50% !important;
    }
  }

  &.checked .selection-control,
  input:checked ~ .selection-control {
    &:hover::before {
      background-color: $selection-control-hover-color;
    }
  }
}

.selection-control {
  position: relative;
}

.selection-control-label {
  margin-left: $selection-control-label-margin;
}

.checkbox {
  .selection-control {
    @include size($checkbox-size);
    border-radius: $checkbox-border-radius;
    border: $checkbox-radio-border;
    transition: border-color 250ms, background 250ms;

    &::after {
      content: "";
      position: absolute;
      transform: rotate(-45deg);
      border: $checkbox-mark-border-width solid $checkbox-mark-color-light-theme;
      width: $checkbox-mark-width;
      height: $checkbox-mark-height;
      top: $checkbox-mark-top;
      left: $checkbox-mark-left;
      border-top-style: none;
      border-right-style: none;
      transition: opacity 250ms;
      opacity: 0;
    }
  }



  &.checked .selection-control,
  input:checked ~ .selection-control {
    background: $selection-control-checked-color;
    border-color: $selection-control-checked-color;
    //border-width: $checkbox-size /2;
    transition: background 125ms;

    &::after {
      transform: rotate(-45deg);
      opacity: 1;
    }
  }
}

.radio {
  .selection-control {
    @include size($radio-size);
    border-radius: 50%;
    border: $checkbox-radio-border;

    &::after {
      @include size($radio-check-mark-size);
      content: "";
      position: absolute;
      border-radius: 50%;
      background: $selection-control-checked-color;
      top: 50%;
      left: 50%;
      margin-top: -$radio-check-mark-size / 2;
      margin-left: -$radio-check-mark-size / 2;
      transform: scale3d(0,0,1);
      transition: transform 250ms;
    }
  }

  &.checked .selection-control,
  input:checked ~ .selection-control {
    border-color: $selection-control-checked-color;

    &::after {
      transform: scale3d(1,1,1);
    }
  }
}

.switch {
  .selection-control {
    background-color: $switch-background-color;
    width: $switch-width;
    height: $switch-height;
    border-radius: $switch-border-radius;
    transition: background-color 250ms;

    @include selectable-background(false, true);

    &::before {
      left: -($selection-control-hover-size - $switch-toggle-size) / 2 !important;
      margin-left: 0;
      transition: background-color 250ms, left 250ms;
    }
    &::after {
      content: "";
      @include size($switch-toggle-size);
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -$switch-toggle-size / 2;
      background-color: $switch-toggle-background-color-light-theme;
      border-radius: 50%;
      box-shadow: $switch-toggle-box-shadow;
      transition: left 250ms, background-color 250ms;
    }
  }

  &.checked .selection-control,
  input:checked ~ .selection-control {
    background-color: $switch-checked-background-color;

    &::before {
      left: $switch-width - $switch-toggle-size - (($selection-control-hover-size - $switch-toggle-size) / 2) !important;
    }

    &::after {
      left: $switch-width - $switch-toggle-size;
      background-color: $selection-control-checked-color;
    }
  }
}