.chip {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  height: $chip-height;
  border-radius: $chip-height / 2;
  background-color: $chip-background-color;
  font-size: $chip-font-size;

  @include vertical-margin($chip-margin-vertical);

  margin-right: $chip-margin;
}

.chip-label {
  &:first-child {
    margin-left: $chip-label-margin;
  }

  &:last-child {
    margin-right: $chip-label-margin;
  }
}

.chip-avatar {
  @include size($chip-avatar-size);

  line-height: $chip-avatar-size;
  font-size: $chip-avatar-font-size;
  margin-right: $chip-avatar-margin;
  border-radius: 50%;
}

.chip-remove {
  cursor: pointer;
  text-align: center;

  @include size($chip-remove-size);

  font-size: $chip-remove-size;
  line-height: $chip-remove-size;
  margin: 0 $chip-remove-margin;
  color: rgba(0, 0, 0, 0.54);

  &:hover {
    color: $chip-remove-hover-color;
  }
}

.chip-input {
  min-height: $chip-height + $chip-margin-vertical * 2;
  align-items: center;
  flex-wrap: wrap;
}