// .dialog-open      - body class for killing the scroll
// .dialog           - container to scroll within
// .dialog-dialog    - positioning shell for the actual dialog
// .dialog-content   - actual dialog w/ bg and corners and stuff


// Kill the scroll on the body
.dialog-open {
  overflow: hidden;
}

.dialog {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-dialog;
  overflow: hidden;
  padding: $dialog-padding;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  // When fading in the dialog, animate it to slide down
  //&.fade .dialog-dialog {
  //  transition: $dialog-transition;
  //  transform: translate(0, -25%);
  //}
  //&.show .dialog-dialog { transform: translate(0, 0); }
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms;

  &.show {
    pointer-events: auto;
    opacity: 1;
  }
}

/// dialog background
.dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //z-index: $zindex-dialog-backdrop;//Octopus material changes
  background-color: $dialog-backdrop-bg;
  opacity: $dialog-backdrop-opacity;//Octopus material changes

  z-index: -1;

  //// Fade for backdrop
  //&.fade { opacity: 0; }
  //&.show { opacity: $dialog-backdrop-opacity; }
}

.dialog-content {
  display: flex;
  flex-direction: column;
  background: $dialog-background;
  width: 600px;
  max-width: 100%;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 auto;

  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.dialog-body {
  //@extend .subheading
  padding: $dialog-padding;
  color: $text-low-contrast;
  overflow-x: hidden;
  overflow-y: auto;
}

.dialog-title {
  @extend .title;

  padding: $dialog-padding;

  & + .dialog-body {
    padding-top: 0;
    margin-top: $dialog-title-body-distance - $dialog-padding;
  }
}

.dialog-actions {
  text-align: right;
  padding: $dialog-actions-padding;

  .btn + .btn {
    margin-left: $dialog-actions-padding;
  }
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}