.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  border-radius: $dropdown-menu-border-radius;
  overflow: hidden;

  @include vertical-padding($dropdown-menu-padding);
  @include elevate(2);

  transform: scale3d(0, 0, 1);
  transition: transform 350ms $awesome-cubic-bezier 350ms, opacity 250ms;
  transform-origin: top left;
  opacity: 0;
  z-index: $zindex-dropdown;

  &.bottom-left {
    top: 0;
    left: 0;
    transform-origin: top left;
  }

  &.bottom-right {
    top: 0;
    right: 0;
    transform-origin: top right;
  }

  &.top-left {
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
  }

  &.top-right {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
  }

  &.fit-width {
    right: 0;
    left: 0;
  }
}

.dropdown-content {
  opacity: 0;
  transition: opacity 1ms 400ms;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: $dropdown-item-height;
  font-size: $dropdown-item-font-size;
  @include horizontal-padding($dropdown-item-padding);

  @include hover-focus {
    text-decoration: none;
  }
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  outline: 0;
}

.dropdown-toggle-label {
  flex-grow: 1;
}

.dropdown-toggle-icon {
  font-size: $base-icon-size;
  background-color: $text-low-contrast;
}

.dropdown.show {
  .dropdown-menu {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition: transform 350ms $awesome-cubic-bezier, opacity 250ms;
  }

  .dropdown-content {
    opacity: 1;
    transition: opacity 300ms 150ms;
  }
}

.data-table {

  .dropdown-menu {
    padding: 0;
  }

  .dropdown-toggle-icon {
    font-size: $dropdown-in-data-table-toggle-icon-size;
  }

  .dropdown-item {
    font-size: $data-table-content-font-size;
    font-weight: $data-table-content-font-weight;
  }
}

@include light-theme-style {

  .dropdown-menu {
    background: $dropdown-menu-bg-light-theme;
  }

  .dropdown-item {
    color: $dropdown-item-color-light-theme;
    @include hover-focus {
      color: $dropdown-item-color-light-theme;
    }

    @include selectable-background(false);
  }

  .data-table {
    .dropdown-menu {
      background-color: $dropdown-in-data-table-bg-light-theme;
    }
  }
}

@include dark-theme-style {
  .dropdown-menu {
    background: $dropdown-menu-bg-dark-theme;
  }

  .dropdown-item {
    color: $dropdown-item-color-dark-theme;
    @include hover-focus {
      color: $dropdown-item-color-dark-theme;
    }

    @include selectable-background(true);
  }

  .data-table {
    .dropdown-menu {
      background-color: $dropdown-in-data-table-bg-dark-theme;
    }
  }
}