.dropdown-toggle
  position: relative

.dropdown-menu
  @extend .menu
  top: 0
  left: 0
  transform: scale3d(0,0,1)
  transition: transform 350ms $awesome-cubic-bezier
  transform-origin: top left

.dropdown-content
  opacity: 0
  transition: opacity 100ms 0ms

.dropdown
  cursor: pointer

  &.focus
    .dropdown-menu
      transform: scale3d(1,1,1)

    .dropdown-content
      opacity: 1
      transition: opacity 300ms 150ms