.sidebar-container {
  display: flex;
  width: $sidebar-width;
  min-width: $sidebar-width;
  max-width: 40%;
}


//.sidebar {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  width: $sidebar-width;
//  max-width: 400px;
//  background: $sidebar-background-color;
//  z-index: $zindex-sidebar;
//  left: 0;
//
//  @include apply-breakpoints(sidebar-collapsible, true, true) {
//    @include translateX(-100%);
//}
//
//
//  &.sidebar-right {
//    left: auto;
//    right: 0;
//
//    @include apply-breakpoints(sidebar-collapsible, true, true) {
//      @include translateX(100%);
//  }
//}
//
//  @include apply-breakpoints(sidebar-collapsible, true, true) {
//    @include transition(transform 375ms $awesome-cubic-bezier);
//
//    &.open {
//      @include translateX(0);
//
//      + .sidebar-backdrop {
//        opacity: 0.54;
//        z-index: $zindex-sidebar - 1;
//    }
//  }
//}
//
//
//  &, &.sidebar-right {
//    @include apply-breakpoints(sidebar-fixed, true) {
//      @include translateX(0);
//  }
//}
//}
//
//.sidebar-backdrop {
//  position: absolute;
//  background: #000;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//
//  @include transition(375ms opacity linear);
//
//  opacity: 0;
//  z-index: -1;
//}