.tab-bar
  width: 100%

.tab-container
  display: flex
  flex-direction: row

.tab-indicator
  content: ''
  position: absolute
  left: 0
  bottom: 0
  height: $tab-indicator-height
  background: $accent-color

.tab
  @extend .selectable-background
  display: flex
  flex-direction: row
  align-items: center
  flex: 1
  min-width: $tab-min-width-sm
  max-width: $tab-max-width
  height: $tab-height
  +horizontal-padding($tab-horizontal-padding-sm)

  .tab-text
    opacity: $tab-unfocused-opacity

  .tab-indicator
    opacity: 0

  &.active
    .tab-indicator
      width: 100%
      opacity: 1

    .tab-text
      opacity: 1

.tab-text
  width: 100%
  font-size: $tab-font-size
  text-transform: uppercase
  text-align: center
  font-weight: $tab-font-weight

@media (min-width: $screen-md-min)
  .tab-bar.toolbar-icon-padding
    padding-left: $toolbar-icon-width - $tab-horizontal-padding-lg

  .tab
    min-width: $tab-min-width-lg
    flex: initial
    +horizontal-padding($tab-horizontal-padding-lg)