.tab-bar {
  width: 100%;
}

.tab-container {
  display: flex;
  flex-direction: row;
}

.tab-indicator {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: $tab-indicator-height;
  background: $accent-color;
}

.tab {

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  height: $tab-height;

  @include horizontal-padding($tab-horizontal-padding-sm);

  .tab-indicator {
    opacity: 0;
  }

  &.active {
    .tab-indicator {
      width: 100%;
      opacity: 1;
    }
  }
}

.tab-content {
  text-align: center;
  width: 100%;
}

.tab-text {
  position: relative;
  display: inline-block;
  font-size: $tab-font-size;
  text-transform: uppercase;
  font-weight: $tab-font-weight;
}

@include media-breakpoint-up(lg) {
  .tab-bar.toolbar-icon-padding {
    padding-left: $toolbar-icon-width - $tab-horizontal-padding-lg;
  }

  .tab {
    flex: none;

    @include horizontal-padding($tab-horizontal-padding-lg);
  }
}

.tab-bar-primary {
  background-color: $primary-color;

  @if is-dark-background($primary-color) {
    .tab-text {
      color: rgba(#fff, 0.54);
    }

    .tab.active .tab-text {
      color: #fff;
    }
  }
}

@include light-theme-style {
  .tab {
    @include selectable-background(false);
  }
  .tab-text {
    color: $tab-text-color-light-theme;
  }

  .tab.active {

    .tab-text {
      color: $tab-active-text-color-light-theme;
    }
  }
}

@include dark-theme-style {
  .tab {
    @include selectable-background(true);
  }
  .tab-text {
    color: $tab-text-color-dark-theme;
  }

  .tab.active {

    .tab-text {
      color: $tab-active-text-color-dark-theme;
    }
  }
}