.text-field-border {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: $text-field-item-margin;
  border-bottom: $text-field-divider-width solid;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -$text-field-divider-width;
    border-bottom: $text-field-divider-focus-hover-width solid;
    transform: scale3d(0, 1, 1);
    transition: none;
  }
}

input.text-input, .text-input, .text-input input {
  background: transparent;
  padding: 0;
  border: none;
  outline: 0 !important;
}

.text-input {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  box-sizing: content-box;

  &, input {
    border: 0;
    outline: 0;
    padding: 0;
    resize: none;
    background: transparent;
    font-size: $text-input-font-size;
    font-weight: $text-input-font-weight;
    line-height: $text-input-line-height;
    text-align: left;
  }

  input, .placeholder, .text-input-value {
    flex-grow: 1;

    + .text-input-icon {
      margin-left: $text-field-item-margin;
    }
  }

  .text-field-border {
    bottom: 0;
  }
}

input.text-input {
  @include vertical-padding($text-field-item-margin);
}

.text-input-group {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .text-input {
    flex-grow: 1;
  }

  .text-field-border {
    bottom: 0;
  }
}

.text-input-icon {
  @include size($base-icon-size);

  font-size: $base-icon-size;
  line-height: 1;
  text-align: center;

  & + .text-input {
    margin-left: 1rem;
  }
}

.text-input-prefix {
  margin-right: $text-field-item-margin;
}

.text-input-suffix {
  margin-left: $text-field-item-margin;
}

.text-field-helper-text {
  font-size: $text-field-helper-text-font-size;
  line-height: $text-field-item-height;
  font-style: normal;
  margin-top: $text-field-helper-text-margin;
}

.text-field {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding-top: $text-field-item-margin;
  padding-bottom: $text-field-item-margin;

  .error-text {
    display: none;
    margin-bottom: -$text-field-bottom-padding;
  }

  .text-input {
    padding-top: $text-field-item-margin;
    padding-bottom: $text-field-item-margin;

    &:disabled {
      color: $text-lower-contrast;
      ~ .text-field-border {
        border-bottom: $text-field-divider-width dashed $text-field-divider-color-light-theme !important;

        &::after {
          content: none;
        }
      }
    }
  }

  label {
    padding-top: $text-field-item-margin;
    line-height: $text-field-item-height;
    font-size: $text-field-label-font-size;
    font-weight: $text-field-label-font-weight;
    margin-bottom: 0;
  }

  &:hover {
    .text-field-border {
      border-width: $text-field-divider-focus-hover-width;
      &::after {
        bottom: -$text-field-divider-focus-hover-width;
      }
    }
  }

  &.focus .text-field-border,
  & .text-input:focus ~ .text-field-border {
    border-width: $text-field-divider-focus-hover-width;

    &::after {
      bottom: -$text-field-divider-focus-hover-width;
      transform: scale3d(1, 1, 1);
      transition: transform 350ms cubic-bezier(.4,0,.2,1);
    }
  }

  &.invalid, &.focus.invalid {
    .error-text {
      display: block;
    }
  }

  &.disabled {
    label {
      color: $text-lower-contrast;
    }

    .text-input {
      color: $text-lower-contrast;
    }

    .text-field-border {
      border-bottom: $text-field-divider-width dashed $text-field-divider-color-light-theme !important;

      &::after {
        content: none;
      }
    }
  }
}

.floating-label {
  label {
    font-size: $text-input-font-size;
    transform: translate3d(0, 24px, 0);
    transition: transform 150ms, font-size 150ms;
  }

  .text-input {
    z-index: 5;
  }

  &.focus label,
  &.not-empty label,
  .text-input:focus ~ label,
  input:focus ~ label {
    font-size: $text-field-label-font-size;
    transform: none;
  }

  input::placeholder {
    color: rgba(0, 0, 0, 0);
    transition: color 150ms;
    transition-timing-function: ease-out;
  }
}

.text-field {
  &.focus label,
  &.not-empty label {
    font-size: $text-field-label-font-size;
    transform: none;
  }
}

input:focus + label {
  font-size: $text-field-label-font-size;
  transform: none;
}

.text-field-elevated {
  @extend .card;

  @include horizontal-padding(16px);

  display: flex;
  align-items: center;
  height: $text-field-elevated-height;

  .text-input, .text-input-group {
    flex-grow: 1;
  }
}

.text-field-box {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  border-radius: $text-field-box-border-radius;
  overflow: hidden;

  @extend .floating-label;

  label {
    line-height: 15px;
    font-weight: $font-medium;
    transform: translate3d(0, $text-field-box-label-transform, 0);

    @include horizontal-padding($text-field-box-padding);
  }

  input::placeholder {
    color: rgba(0, 0, 0, 0);
    transition: color 150ms;
    transition-timing-function: ease-out;
  }

  &.focus input::placeholder, input:focus::placeholder {
    transition-timing-function: ease-in;
  }

  &.focus ~ label, input:focus ~ label {
    font-weight: $font-regular;
  }

  .text-input {
    @include horizontal-padding($text-field-box-padding);

    margin-bottom: 0 !important;
  }

  .text-field-border {
    bottom: 0;
    border-width: $text-field-box-border-width;
  }
}

.text-area {
  @extend .text-field-box;
  background: transparent !important;

  .text-field-border {
    top: 0;
    border: $text-field-divider-width solid;
    border-radius: $text-field-box-border-radius;

    &::after {
      content: none;
    }
  }

  &.focus .text-field-border,
  & .text-input:focus ~ .text-field-border {
    border-width: $text-field-divider-focus-hover-width;
    border: $text-field-divider-focus-hover-width solid;
  }
}

@mixin text-fields-theme($theme-colors, $dark-theme) {
  $primary-color: map_get($theme-colors, "primary");
  $danger-color: map_get($theme-colors, "danger");

  $text-field-label-color: $text-field-label-color-light-theme;
  $text-field-divider-color: $text-field-divider-color-light-theme;
  $text-field-divider-color-hover: $text-field-divider-color-hover-light-theme;
  $text-field-box-background: $text-input-box-bg-light-theme;
  $text-input-color: $text-input-color-light-theme;
  $text-input-placeholder-color: $text-input-placeholder-color-light-theme;
  $text-input-icon-color: $text-input-icon-color-light-theme;
  $text-input-affix-color: $text-input-affix-color-light-theme;
  $text-field-helper-color: $text-field-helper-text-color-light-theme;

  @if ($dark-theme) {
    $text-field-label-color: $text-field-label-color-dark-theme;
    $text-field-divider-color: $text-field-divider-color-dark-theme;
    $text-field-divider-color-hover: $text-field-divider-color-hover-dark-theme;
    $text-field-box-background: $text-input-box-bg-dark-theme;
    $text-input-color: $text-input-color-dark-theme;
    $text-input-placeholder-color: $text-input-placeholder-color-dark-theme;
    $text-input-icon-color: $text-input-icon-color-dark-theme;
    $text-input-affix-color: $text-input-affix-color-dark-theme;
    $text-field-helper-color: $text-field-helper-text-color-dark-theme;
  }

  .text-field-border {
    border-color: $text-field-divider-color;

    &::after {
      border-color: $primary-color;
    }
  }

  .placeholder {
    color: $text-input-placeholder-color;
  }

  .floating-label {
    &.focus input::placeholder, input:focus::placeholder {
      color: $text-input-placeholder-color;
      transition-timing-function: ease-in;
    }
  }

  .text-input, input {
    color: $text-input-color;
  }

  .text-input-prefix, .text-input-suffix {
    color: $text-input-affix-color;
  }

  .text-field {
    label {
      color: $text-field-label-color;
    }

    &:hover {
      .text-field-border {
        border-color: $text-field-divider-color-hover;
      }
    }

    .text-input:focus ~ label, &.focus label {
      color: $primary-color;
    }

    &.invalid, &.focus.invalid {
      .text-input {
        border-color: $danger-color;
      }

      label {
        color: $danger-color;
      }

      .text-field-border {
        &, &::after {
          border-color: $danger-color;
        }
      }
    }
  }

  .text-field-box {
    background: $text-field-box-background;
  }

  .text-area .text-input:focus ~ .text-field-border {
    border-color: $primary-color;
  }

  .text-input-icon {
    color: $text-input-icon-color;

    @include hover-focus {
      color: $text-input-icon-color;
    }
  }

  .text-field-helper-text {
    color: $text-field-helper-color;

    &.error-text {
      color: $danger-color;
    }
  }
}