.light-theme {
  color: $body-color-light-theme;

  .selectable-background {
    @include selectable-background(false, true)
  }
}

body.light-theme {
  background-color: $bg-light;
}

.dark-theme {
  color: $body-color-dark-theme;

  .selectable-background {
    @include selectable-background(true, true)
  }
}

body.dark-theme {
  background-color: $bg-dark;
}

.dark-theme .light-theme {
  color: $body-color-light-theme;
}

body {
  @include create-theme($theme-colors, $default-theme-dark)
}