.toolbar {
  width: 100%;
}

.toolbar-row {
  height: $toolbar-height;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include horizontal-padding($toolbar-horizontal-padding);
}

.toolbar-title {
  font-size: $toolbar-title-font-size;
  flex-grow: 1;

  @include text-truncate;
}

.toolbar-icon, .toolbar-action {
  font-size: $toolbar-action-icon-size;
}

.toolbar-icon {
  width: $toolbar-icon-width;
  min-width: $toolbar-icon-width;
}

.toolbar-actions {
  display: flex;
}

.toolbar-fixed {
  position: fixed;
  z-index: $zindex-toolbar-fixed;
}

.app-bar {
  @extend .toolbar;
}

.toolbar-layout {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

@include light-theme-style {
  .toolbar .toolbar-icon {
    color: $toolbar-icon-color-light-theme;
  }
}

@include dark-theme-style {
  .toolbar .toolbar-icon {
    color: $toolbar-icon-color-dark-theme;
  }
}